.basic-card {
	display: flex;
	flex-direction: column;
	width: 40.5rem;
	height: 40.5rem;
	// height: 48rem;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	overflow: hidden;
	border-radius: 3rem;

	&__discount-box {
		display: block;
		position: absolute;
		top: 2rem;
		transition: 0.55s ease-in-out;
		right: 2rem;
		border-radius: 100rem;
		z-index: 5;
		background: #de755e;
		padding: 1.3rem 3rem;
		width: 11.6rem;
		height: 5.1rem;
		color: #fff;
		font-family: Gilroy;
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.04rem;
	}
	&--discount {
		.basic-card__discription {
			height: -webkit-fit-content;
			height: -moz-fit-content;
			height: fit-content;
			gap: 0.7rem;
		}

		.basic-card__info {
			height: 9.9rem;
			padding: 0.8rem 2.1rem;
			align-items: center;
		}

		.basic-card__price {
			display: flex;
			flex-direction: column;
			align-items: center;
			height: 8.3rem;
			border-radius: 3rem;
		}

		.basic-card__regular-price {
			position: relative;
			left: -0.35rem;
			strong {
				color: #383742;
				text-align: center;
				font-family: Gilroy;
				font-size: 1.6rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.08rem;
				-webkit-text-decoration-line: line-through;
				text-decoration-line: line-through;
				text-transform: uppercase;
			}

			span {
				position: absolute;
				right: -5.1rem;
				top: -0.4rem;
				font-size: 1.3rem;

				font-weight: 400;
				line-height: 2.5rem;
				text-align: center;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: #383742;
			}
		}

		.basic-card__discount-price {
			position: relative;
			left: -0.35rem;
			strong {
				color: #383742;
				text-align: center;
				font-family: Gilroy;
				font-size: 2rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: -0.1rem;
				text-transform: uppercase;
			}

			span {
				position: absolute;
				right: -5.6rem;
				top: -0.6rem;
				font-size: 1.4rem;
				font-weight: 700;
				line-height: 2.5rem;
				text-align: center;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				color: #383742;
			}
		}
	}

	&__wrapper {
		display: flex;
		justify-content: space-between;
		position: absolute;
		width: 100%;
		top: 0;
		z-index: 1;
	}

	&__type {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2rem;
		text-align: center;
		color: #383742;
		padding-left: 3.1rem;
		padding-right: 3.1rem;

		border-radius: 3rem;
		background-color: #e0e1e7;
		height: 7.7rem;
		width: 24.7rem;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__favor,
	&__like,
	&__share,
	&__del,
	&__edit {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 6rem;
		height: 7.7rem;
		background-color: #e0e1e7;
		border-radius: 3rem;
	}

	&__favor {
		img {
			width: 2.05rem;
			height: 2.05rem;
		}
	}

	&__like {
		img {
			width: 2rem;
			height: 17.08rem;
		}
	}

	&__del {
		img {
			width: 2.5rem;
			height: 2.5rem;
		}
	}

	&__share {
		img {
			width: 2.262rem;
			height: 2.4rem;
		}
	}

	&__edit {
		img {
			width: 2.4rem;
			height: 2.4rem;
		}
	}

	&__add {
		width: 24.8rem;
		height: 7.9rem;
		border-radius: 100rem;
		color: #383742;
		background: #e0e1e7;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.4px;
		transition: all 0.2s;
		&:hover {
			transition: all 0.2s;
			color: #fff;
			background: #383742;
		}
	}

	&__info {
		position: absolute;
		bottom: 0;
		display: flex;
		justify-content: space-between;
		padding: 2.3rem 2.2rem;
		background-color: #fff;
		border-radius: 3rem 3rem 0 0;
		z-index: 3;
		height: 9.9rem;
	}

	&__price {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #383742;
		position: relative;

		span {
			position: relative;
			font-size: 1.4rem;
			top: -0.5rem;
			left: 0rem;
		}

		img {
			width: 2.4rem;
		}
	}

	&__date {
		color: #383742;
		font-family: 'Gilroy';
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.04rem;
		position: relative;
		padding: 1.3rem 2.8rem;
		border-radius: 100rem;
		background: #fff;
	}

	&__rubles {
		color: #999;
		font-family: 'Gilroy';
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.04rem;
		position: relative;
		width: 21.5rem;

		span {
			position: absolute;
			font-size: 1.5rem !important;
			line-height: 1.4rem !important;
			font-weight: 500 !important;
			margin-bottom: auto;
		}
	}

	&__price-wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 11.5rem;
		height: 6rem;
		border-radius: 3rem;
		background-color: #ffdbd4;
	}

	&__title {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.4rem;
		letter-spacing: 0.02em;
		color: #181818;
		width: 23rem;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&__discription {
		display: flex;
		flex-wrap: wrap;
		gap: 0.7rem;
	}

	&__link {
		display: flex;
		gap: 1rem;

		img {
			display: none;
			width: 2.4rem;
			height: 2.4rem;
		}

		span {
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.4rem;
			letter-spacing: 0.02em;
			color: #999999;
			width: 24rem;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}

	&__img {
		width: 40.5rem;
		height: 40.5rem;
		// height: 48rem;
		border-radius: 3rem;
		overflow: hidden;
		z-index: 2;
		transition: 0.4s;
		top: 0;
		position: relative;
		transition: 0.55s ease-in-out;
		background-color: #fff;

		img {
			-o-object-fit: cover;
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	&__price--crossed {
		right: 1.4rem;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1.9rem;
		color: #999999;
		-webkit-text-decoration-line: line-through;
		text-decoration-line: line-through;
		text-decoration-thickness: 0.1rem;
		position: relative;

		span {
			font-size: 1rem;
			top: -0.5rem;
			left: auto;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			right: -0.65rem;
			position: absolute;
			text-decoration: none;
		}
	}

	&--correct {
		.basic-card__price {
			background-color: #efd1cb;
			color: #de755e;

			span {
				color: #de755e;
			}
		}
	}
}

@media (hover: hover) {
	.basic-card {
		&:hover {
			.basic-card__img {
				top: 9.7rem;
			}

			.basic-card__discount-box {
				top: 11.7rem;
			}

			.basic-card__link {
				img {
					display: block;
				}
			}
		}
	}

	.basic-card__like:hover {
		background-color: #fff;
	}

	.basic-card__favor:hover {
		background-color: #fff;
	}

	.basic-card__del:hover {
		background-color: #fff;
	}

	.basic-card__type:hover {
		background-color: #383742;
		color: #fff;
	}

	.basic-card__edit:hover {
		background-color: #fff;
	}
}

.basic-card__price--pink-backgraund {
	background: #ffdbd4;
	border-radius: 3rem;
	min-width: 11.1rem;
	height: 6rem;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 2.2rem;

	span {
		font-size: 1.3rem;
		top: -0.5rem;
		left: 0;
	}

	.basic-card__price-ruble {
		left: 0rem;
	}
}

.active-status {
	background-color: #fff;
}
