.cart {
	padding: 0rem 6rem 18.285rem;
	background-color: #eaebef;
	width: 100%;

	&__title {
		font-family: 'Austin Cyr';
		font-style: normal;
		font-weight: 700;
		font-size: 7.3rem;
		line-height: 7rem;
		letter-spacing: 0.02em;
		color: #181818;
		display: flex;
		margin-bottom: 6rem;
	}

	&__title--favorites {
		margin-bottom: 5.5rem;
	}

	&__counter {
		display: block;
		font-family: 'Austin Cyr';
		font-style: normal;
		font-weight: 700;
		font-size: 3.7rem;
		line-height: 3.7rem;
		letter-spacing: 0.02em;
		color: #a0a1a4;
		margin-bottom: 3.3rem;
		margin-left: 1rem;
	}

	&__order {
		display: flex;
		margin-bottom: 19rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: 3rem;
		margin-right: 5rem;
		width: 133.5rem;

		li {
			position: relative;
		}
	}

	&__item-wrapper {
		position: relative;
		display: flex;
	}

	&__item {
		width: 100%;
		background-color: #fff;
		display: flex;
		padding: 3.2rem 4rem;
		align-items: center;
		border-radius: 3rem;

		.basic-card__price {
			margin-left: auto;
		}
	}

	&__item-mob-close-btn {
		display: none;
	}

	&__item-remove {
		padding: 0.25rem;
		margin-right: 4.345rem;

		img {
			width: 1.5rem;
			height: 1.5rem;
		}
	}

	&__item-img {
		width: 24.6rem;
		height: 17.5rem;
		margin-right: 4rem;
	}

	&__item-description {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.4rem;
		letter-spacing: 0.02em;
		color: #383742;
		width: 42.5rem;
		margin-right: 11.7rem;

		span {
			display: block;
			color: #999;
			margin-top: 1rem;
		}
	}

	&__item-license {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
		font-size: 2rem;
		line-height: 2.4rem;
		letter-spacing: 0.02em;
		color: #de755e;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		margin-right: 7rem;
		cursor: pointer;
		position: relative;
	}

	&__item-license::after {
		position: absolute;
		right: -2.5rem;
		top: 0.8rem;
		transform: rotate(180deg);
		content: '';
		width: 1.2rem;
		display: block;
		height: 0.9rem;
		background-repeat: no-repeat;
		background-size: contain;
		background-image: url(../img/icon/active-item-icon.svg);
	}

	&__favorites {
		width: 180rem;
		ul {
			display: flex;
			gap: 6rem;
		}
	}

	&__favorites-btn {
		width: 40.5rem;
		height: 7.7rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #de755e;
		border-radius: 100rem;
		margin-top: 3.5rem;

		span {
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.2rem;
			text-align: center;
			letter-spacing: 0.02em;
			color: #fff;
		}
	}

	&__order-info {
		background: #de755e;
		border-radius: 4rem;
		padding: 5rem 3.2rem;
		width: 40.5rem;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
	}

	&__order-title {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 3.7rem;
		line-height: 4.5rem;
		letter-spacing: 0.02em;
		color: #fff;
		margin-bottom: 0.8rem;
		margin-left: 1.1rem;
	}

	&__order-subtitle {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.4rem;
		letter-spacing: 0.02em;
		color: #ffffff;
		margin-bottom: 3rem;
		margin-left: 1.1rem;
	}

	&__order-list {
		background-color: #fff;
		padding: 3.1rem 2rem 2.7rem 3.2rem;
		border-radius: 3rem;

		ul {
			display: flex;
			flex-direction: column;
			gap: 1.2rem;
			margin-bottom: 2rem;
		}
	}

	&__order-summary {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
	}

	&__order-summary-title {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2rem;
		color: #9ba8a8;
	}

	&__order-list-price {
		display: block;
		font-weight: 600;
		font-size: 2.2rem;
		line-height: 2.6rem;
		letter-spacing: 0.05em;

		span {
			font-weight: 600;
			font-size: 1.6rem;
			top: -0.6rem;
		}
	}

	&__order-item {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 2.4rem;
	}

	&__order-item-name {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2rem;
		color: #9ba8a8;
	}

	&__order-item-price {
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.4rem;
		color: #383742;

		span {
			font-weight: 500;
		}
	}

	&__item-price-wrapper {
		margin-left: auto;
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		align-items: flex-end;
	}

	&__item-price {
		white-space: nowrap;
		font-weight: 700;
		font-size: 2.2rem;
		line-height: 2.7rem;

		span {
			font-size: 1.3rem;
			top: -1rem;
		}
	}

	&__item-info-icon {
		width: 2rem;
		height: 2rem;
		margin-bottom: auto;
		margin-left: 0.8rem;
		cursor: pointer;
	}

	&__order-link {
		background-color: #fff;
		padding: 1.4rem 3.2rem 1.6rem;
		border-radius: 3rem;
		position: relative;
		top: -0.3rem;

		a {
			width: 100%;
			height: 7.1rem;
			background-color: #de755e;
			border-radius: 100rem;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #fff;

			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			font-size: 1.8rem;
			line-height: 2.2rem;
			letter-spacing: 0.02em;
			color: #ffffff;
		}
	}

	&__break-line {
		width: 28rem;
		margin: 0 auto;
		z-index: 2;
		left: 0;
		right: 0;
		top: 0rem;
		position: absolute;
		border-bottom: 0.1rem dashed rgba(160, 161, 164, 0.3);
	}

	&__item-content-wrapper {
		display: flex;
		width: 100%;
	}

	&__item-info {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1.9rem;
		color: #383742;
		padding: 1rem 1.4rem;
		background-color: #ffdbd4;

		box-shadow: 0.86rem 0.56rem 2.8rem rgba(234, 235, 239, 0.3);
		border-radius: 2.5rem;

		position: absolute;
		top: 3.9rem;
		right: 4rem;

		display: none;
	}

	&__item-info--show {
		display: flex !important;
	}

	&__item-popup--show {
		max-height: 100rem !important;
	}

	&__item-popup {
		max-height: 0;
		transition: 0.4s;
		overflow: hidden;
		position: absolute;
		padding: 1.2rem 3.2rem;
		width: 52.8rem;
		background-color: #fff;
		border-radius: 2rem;
		top: 14.5rem;
		right: 17.5rem;
		z-index: 10;
		box-shadow: 2rem 1.5rem 4rem 0rem rgba(103, 110, 133, 0.1);

		input {
			position: absolute;
			z-index: -1;
			opacity: 0;
		}

		li {
			&:not(:last-child) {
				border-bottom: 0.1rem solid rgba(160, 161, 164, 0.3);
			}
		}

		input[type='radio']:checked + p::before {
			background-color: rgba(222, 117, 94, 1);
		}

		input[type='radio']:checked + p,
		input[type='radio']:checked ~ .cart__item-popup-price {
			color: #383742;
		}
	}

	&__popup-item {
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 2rem 0rem;

		p {
			color: #a0a1a4;
			font-family: 'Gilroy';
			font-size: 2rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.04rem;
			position: relative;
			padding-left: 3.4rem;
		}

		p::before {
			content: '';
			width: 2.2rem;
			height: 2.2rem;
			border-radius: 50%;
			border: 0.4rem solid #fff;
			background-color: rgba(224, 225, 231, 1);
			position: absolute;
			left: 0rem;
			top: 0.1rem;
		}
	}

	&__item-popup-price {
		color: #a0a1a4;
		font-family: 'Gilroy';
		margin-left: auto;
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.04rem;
		border: 0rem;
		background-color: inherit;
		border-radius: 0%;
	}
}

.basic-card__price--pink-backgraund {
	background: #ffdbd4;
	border-radius: 3rem;
	min-width: 11.1rem;
	height: 5.8rem;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-size: 2.2rem;

	span {
		font-size: 1.3rem;
		top: -0.5rem;
		left: 0;
	}

	.basic-card__price-ruble {
		left: 0rem;
	}
}
