.contacts {
	padding: 0rem 6rem 12rem;

	&__title {
		width: 100%;
		text-align: center;
		margin-bottom: 6rem;

		color: #000;
		font-size: 7.3rem;
		font-family: 'Austin Cyr';
		font-weight: 700;
		line-height: 7.5rem;
		letter-spacing: 0.146rem;
	}

	&__hero {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;
		gap: 6rem;
		margin-bottom: 20rem;
	}

	&__hero-img {
		width: 87rem;
		margin-bottom: 6rem;
		border-radius: 5.5rem;

		img {
			width: 100%;
		}
	}

	&__links {
		display: flex;
		gap: 6rem;
	}

	&__links-for-seller,
	&__links-for-client {
		width: 40.5rem;
		padding: 6rem;
		padding-bottom: 9.6rem;
		background-color: #fff;
		border-radius: 5.5rem;
		flex-direction: column;
		display: flex;
		gap: 3rem;
	}

	&__links-title {
		color: #383742;
		font-size: 3.7rem;
		font-family: 'Austin Cyr';
		font-weight: 700;
		line-height: 3.7rem;
		letter-spacing: 0.074rem;
		padding-bottom: 3rem;
		border-bottom: 0.1rem solid rgba(217, 217, 217, 1);
	}

	&__links-wrapper {
		display: flex;
		gap: 2rem;
		flex-direction: column;

		span {
			color: #383742;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-weight: 500;
			line-height: 2.6rem;
		}

		a {
			color: #de755e;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-weight: 700;
			line-height: 2.6rem;
		}
	}

	&__hero-part--form {
		padding: 8.1rem 12rem;
		background-color: #fff;
		border-radius: 5.5rem;
	}

	.lk-register__title strong {
		display: block;
		margin-bottom: 2rem;
	}

	&__form-inner {
		width: 30.5rem;
		label {
			font-size: 2rem;
			line-height: 2.4rem;
			letter-spacing: 0.02em;
			display: block;
			margin-bottom: 1.2rem;
			color: #383742;
		}

		input {
			position: relative;
			width: 100%;
			height: 4.8rem;
			background: #eaebef;
			border-radius: 1rem;
			padding: 1.4rem 2.4rem;
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 125%;
			color: #000000;
			border: none;
		}

		textarea {
			position: relative;
			width: 63rem;
			height: 9.6rem;
			background: #eaebef;
			border-radius: 1rem;
			padding: 1.4rem 2.4rem;
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 125%;
			color: #000000;
			border: none;
			resize: none;
		}
	}

	&__form-wrap--form {
		padding-bottom: 5.5rem;
		border-bottom: 0.1rem solid #d9d9d9;
		margin-bottom: 5.5rem !important;
	}

	.lk-register__title {
		padding-bottom: 5.5rem;
		border-bottom: 0.1rem solid #d9d9d9;

		span {
			display: block;
			width: 90%;
		}
	}

	.red-btn {
		width: 56rem;
		margin: 0rem;
	}

	&__btns {
		display: flex;
		align-items: center;
	}

	&__faq {
		font-weight: 500;
		font-size: 2rem;
		line-height: 136.5%;
		letter-spacing: 0.02em;
		color: #a0a1a4;
		a {
			color: #de755e;
			display: block;
		}
	}

	&__faq.active {
		display: flex;
	}

	&__policy {
		margin-top: 2rem;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.4rem;
		letter-spacing: 0.02em;
		width: 56rem;
		color: #a0a1a4;

		a {
			color: #de755e;
		}
	}

	&__form-wrap {
		display: flex;
		justify-content: space-between;
		margin-bottom: 4rem;
		gap: 2rem;
	}

	&__question-content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	&__question-img {
		width: 60.6rem;
		margin-left: 1.7rem;

		img {
			width: 100%;
		}
	}

	&__question-list {
		padding: 6.5rem 6rem 2.2rem;
		border-radius: 5.5rem;
		background: #fff;
		width: 102.5rem;
	}

	&__question-title {
		color: #383742;
		font-size: 3.5rem;
		font-family: 'Austin Cyr';
		font-weight: 700;
		line-height: 130%;
		letter-spacing: 0.07rem;

		margin-bottom: 1.6rem;
	}

	&__question-item {
		display: flex;
		gap: 2.4rem;
		align-items: flex-start;
		padding-bottom: 2rem;
		margin-bottom: 2.1rem;

		input {
			display: none;
		}
	}

	&__question-icon {
		width: 3.2rem;
		height: 3.2rem;
		transform: rotate(180deg);

		cursor: pointer;
		path {
			fill: rgba(56, 55, 66, 1);
			stroke: rgba(56, 55, 66, 0);
		}
	}

	&__question-item-content {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		max-height: 2.4rem;
		overflow: hidden;
		transition: 0.3s;

		span {
			color: #a0a1a4;
			font-size: 1.8rem;
			font-family: 'Gilroy';
			font-weight: 500;
			letter-spacing: 0.036rem;
		}

		p {
			width: 71.2rem;
			color: #383742;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-weight: 500;
			line-height: 2.6rem;

			padding-bottom: 2rem;
		}
	}

	&__question-item:not(:last-child) {
		border-bottom: 0.1rem solid #e0e1e7;
		margin-bottom: 2rem;
	}

	&__question-item-title {
		color: #383742;
		font-size: 2rem;
		font-family: 'Gilroy';
		font-weight: 700 !important;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		cursor: pointer;
		margin-top: 0.35rem;

		padding: 0 !important;
		display: block !important;
	}

	&__main-content {
		display: flex;
		flex-direction: column;
		gap: 6rem;
	}

	.question-block {
		width: 102.5rem;
		margin-top: 6rem;
		margin-left: auto;
		padding: 3rem 4rem;
		gap: 2.5rem;
		justify-content: space-between;
	}

	.title {
		.link {
			margin-top: 3.1rem;
		}
	}
}

input:checked + div label .contacts__question-icon {
	transform: rotate(0deg);
	path {
		fill: rgba(222, 117, 94, 1);
		stroke: rgba(222, 117, 94, 0);
	}
}

input:checked ~ .contacts__question-item-content {
	max-height: 100rem;
}
