.control-panel {


    &__banner {
        width: 133.4rem;
        height: 27.6rem;
        background-image: url(../img/control-panel/bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 5.5rem;
        padding-top: 6rem;
        padding-left: 5.2rem;
        margin-bottom: 11rem;
    }

    &__banner-text {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 4.2rem;
    }

    &__banner-btn {
        width: 28rem;
        height: 7.7rem;
        background: #FFFFFF;
        border-radius: 100rem;
        display: flex;
        justify-content: center;
        align-items:center;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 0.02em;
        color: #DE755E;

    }

    &__wrap {
        display: flex;
        gap: 5.9rem;
    }

    &__tab {
        width: 63.8rem;
        height: 47.5rem;
        background: #fff;
        border-radius: 5.5rem;
        padding: 4rem;
        padding-top: 5.2rem;

    }

    &__tab-title {
        margin-bottom: 3.8rem;
        strong {
            display: block;
            font-family: 'Austin Cyr';
            font-style: normal;
            font-weight: 700;
            font-size: 3.7rem;
            line-height: 100%;
            margin-bottom: 1.2rem;
            letter-spacing: 0.02em;
            color: #383742;

        }

        span {
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 2rem;
            line-height: 100% ;
            margin-bottom: 3.8rem;
            color: #A0A1A4;

        }
    }

    &__tab-inner {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-bottom: 1.5rem;
        width: 100%;
        padding: 2rem 3.2rem;
        background: #EAEBEF;
        border-radius: 5.5rem;
    }

    &__tab-inner:last-child {
        margin-bottom: 0;
    }

    &__tab-text {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #000000;

    }

    &__tab-span {
        display: flex;
        justify-content: center;
        align-items:center;
        padding: 1rem 3.5rem;
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        background: #DE755E;
        border-radius: 3rem;
    }

    &__wrap {
        margin-bottom: 11rem;
    }

    &__title {
        margin-bottom: 3.8rem;
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

    &__title-words {
        display: flex;
        flex-direction: column;

        strong {
            display: block;
            font-family: 'Austin Cyr';
            font-style: normal;
            font-weight: 700;
            font-size: 3.7rem;
            line-height: 100%;
            letter-spacing: 0.02em;
            margin-bottom: 1.2rem;
        }

        span {
            display: block;
            font-weight: 500;
            font-size: 2rem;
            line-height: 100%;
            color: #A0A1A4;

        }
    }


    &__mega {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items:center;
        background: #FFFFFF;
        border-radius: 2rem;
        padding: 2rem 3.8rem;
        margin-bottom: 1.5rem;

    }

    &__mega:last-child {
        margin-bottom: 0;
    }

    &__mega-left {
        display: flex;
        align-items:center;
    }

    &__mega-image {
        width: 9.6rem;
        height: 6rem;
        margin-right: 1.2rem;
        img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
    }

    &__mega-text {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #181818;

    }

    &__mega-right {
        display: flex;
        align-items:center;
    }

    &__mega-views {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        position: relative;
        padding-left: 3rem;
        margin-right: 5.5rem;
        &::before {
            position: absolute;
            content:'';
            width: 2.2rem;
            height: 1.7rem;
            background-image: url(../img/control-panel/glass.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
        }

    }

    &__mega-like {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        position: relative;
        padding-left: 3rem;
        margin-right: 5.5rem;
        &::before {
            position: absolute;
            content:'';
            width: 2.2rem;
            height: 1.7rem;
            background-image: url(../img/control-panel/heat.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
        }

    }

    &__mega-dow {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        position: relative;
        padding-left: 3.2rem;
       
        &::before {
            position: absolute;
            content:'';
            width: 2.4rem;
            height: 2.4rem;
            background-image: url(../img/control-panel/DownloadSimple.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
        }

    }

    &__wrap-two{
        display: flex;
        flex-direction: column;
        margin-bottom: 11rem;
    }

    &__advice-swiper {
        width: 100%;
        overflow: hidden;
    }

    &__faq {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 11rem;
        background: #FFFFFF;
        border-radius: 3rem;
        padding: 3rem 3.2rem;
    }

    &__faq-strong {
        font-style: normal;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 0.02em;
        color: #383742;
        padding-right: 2.5rem;
        border-right: 0.1rem solid #E0E1E7;
        margin-right: 2.5rem;

        .mob {
            display: none;
        }


    }

    &__faq-span {
        padding-right: 2.5rem;
        border-right: 0.1rem solid #E0E1E7;
        margin-right: 2.5rem;
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #1B1818;
        width: 68rem;


        .mob {
            display: none;
        }
    }
}