.filter-block {
	padding: 6rem;
	border-radius: 3rem;
	background-color: #fff;
	min-width: 40.5rem;
	width: 40.5rem;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	-webkit-filter: drop-shadow(3.7rem 3.5rem 8rem rgba(103, 110, 133, 0.2));
	filter: drop-shadow(3.7rem 3.5rem 8rem rgba(103, 110, 133, 0.2));

	&__content {
		display: flex;
		flex-direction: column;
		gap: 4rem;
		margin-bottom: 6rem;
	}

	&__price-value {
		min-width: 8rem;
		height: 4rem;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		padding: 1.5rem 1rem;
		border-radius: 3rem;
		border: none;
		outline: none;
		text-align: center;
		background-color: rgba(224, 225, 231, 0.3);

		color: #de755e;
		font-family: Gilroy;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.036rem;
	}

	&__slider-wrapper {
		padding-top: 2.7rem;
		align-items: center;
	}

	&__price-value-wrapper {
		display: flex;
		gap: 8.3rem;
		margin: 0 auto;
		margin-top: 3.5rem;
	}

	&__btns {
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
		align-items: flex-start;
	}

	&__item {
		display: flex;
		flex-direction: column;
		gap: 2.3rem;

		&.active {
			.filter-block__search {
				display: block;
			}

			.filter-block__box-list {
				max-height: 54.4rem;
				overflow-y: auto;

				&::-webkit-scrollbar {
					width: 0.2rem;
				}

				&::-webkit-scrollbar-thumb {
					border-radius: 0.3rem;
					background: #d9d9d9;
				}
			}
		}
	}

	&__red-btn {
		display: flex;
		gap: 5.6rem;
		align-items: center;
		padding: 2.6rem 4rem;
		background-color: #de755e;
		border-radius: 100rem;
		position: relative;

		input {
			width: 100%;
			background-color: #de755e;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		span {
			color: #fff;
			font-family: Gilroy;
			font-size: 2rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.04rem;
		}

		svg {
			width: 3.3rem;
			height: 1.5rem;
		}
	}

	&__search {
		border-radius: 100rem;
		background: #eaebef;
		width: 100%;
		height: 6rem;
		padding: 2.1rem 2.5rem;
		border: none;
		outline: none;
		display: none;

		color: #383742;
		font-family: Gilroy;
		font-size: 1.6rem;
		font-style: normal;
		font-weight: 500;
		line-height: 1;
		letter-spacing: 0.032rem;
	}

	&__box-list {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		max-height: 26.4rem;
		overflow-y: hidden;
		padding-right: 1rem;
		transition: max-height 0.4s;
	}

	&__close-text,
	&__open-text {
		display: none;
		&.active {
			display: inline-block;
		}
	}

	&__box-item {
		display: flex;
		gap: 1.2rem;
		align-items: center;
		justify-content: flex-start;

		label {
			display: flex;
			gap: 1.2rem;
			align-items: center;
			justify-content: flex-start;
			cursor: pointer;
		}
	}

	input[type='checkbox'] {
		display: none;
	}

	.filter-block__checker img {
		display: none;
	}

	.filter-block__box-item {
		input:checked + .checker img {
			display: block !important;
			
		}
	}

	.filter-block__box-item {
		input:checked + .checker{
			box-shadow: 0.86rem 0.86rem 2rem rgba(103, 110, 133, 0.2);
		}
	}

	&__title {
		color: #383742;
		font-family: Gilroy;
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.04rem;
	}

	&__item-title {
		color: #383742;
		font-family: Gilroy;
		font-size: 1.6rem;
		font-style: normal;
		font-weight: 400;
		line-height: 2rem;
		cursor: pointer;
	}

	&__white-btn {
		position: relative;
		input {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		span {
			color: #de755e;
			text-align: center;
			font-family: Gilroy;
			font-size: 2rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.04rem;
		}
	}

	.noUi-connect {
		background: #de755e;
	}

	.noUi-horizontal {
		height: 0.2rem;
		border: none;
	}

	.noUi-handle {
		border: 0.2rem solid white;
		background: #de755e;
		box-shadow: 0.86rem 0.86rem 2rem rgba(222, 117, 94, 0.3);
		border-radius: 50%;
		cursor: pointer;
		width: 1.4rem;
		height: 1.4rem;

		&::after {
			content: '';
			display: none;
		}

		&::before {
			content: '';
			display: none;
		}
	}

	.noUi-handle-lower--min {
		background-color: #e0e1e7;
		box-shadow: 0.86rem 0.86rem 2rem rgba(160, 161, 164, 0.3);
	}

	.noUi-horizontal .noUi-handle {
		right: -0.7rem;
		top: -0.6rem;
	}
}
