.filter-popup {
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	background: #fff;
	box-shadow: 3.7rem 3.5rem 8rem rgba(103, 110, 133, 0.2);
	border-radius: 4rem;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	width: 180rem;
	position: absolute;
	padding: 6.1rem 6rem;
	bottom: -63rem;
	right: -52rem;
	justify-content: space-between;
	&__wrapper {
		display: none;
		position: absolute;
		top: 0;
		left: 0rem;
		z-index: 10;
	}
	
	&__settings {
		display: flex;
		justify-content: space-between;
		gap: 6rem;
		margin-bottom: 3.2rem;
	}

	&__wrapper--show {
		display: flex;
	}

	&__slider-wrapper,
	&__type-list,
	&__features-list {
		background: rgba(224, 225, 231, 0.3);
		border-radius: 3rem;
		padding: 4rem 6rem;
		height: 100%;
	}

	&__title {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.4rem;
		text-align: center;
		letter-spacing: 0.02em;
		color: #383742;

		margin-bottom: 2.3rem;
	}

	&__type-item {
		min-width: 8.9rem;
	}

	&__features-item {
		min-width: 13.7rem;
	}

	&__type-item,
	&__features-item {
		display: flex;
		gap: 1.2rem;
		align-items: center;
		cursor: pointer;

		button {
			width: 4rem;
			height: 4rem;
			display: flex;
			justify-content: center;
			align-items: center;

			background: #fff;
			box-shadow: 0.86rem 0.86rem 2rem rgba(222, 117, 94, 0.11);
			border-radius: 1rem;
		}

		img {
			width: 0.933rem;
			height: 0.688rem;
		}

		span {
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 2rem;
			color: #383742;
		}
	}

	&__type-list {
		ul {
			display: flex;
			flex-wrap: wrap;
			width: 50rem;
			justify-content: space-between;
			gap: 2.6rem;
		}
	}

	&__features-list {
		ul {
			display: flex;
			flex-wrap: wrap;
			width: 33.6rem;
			justify-content: space-between;
			gap: 2.6rem;
		}
	}
	.noUi-handle-lower,
	.noUi-handle-upper {
		background: #de755e;
		border: 0.2rem solid #ffffff;
		box-shadow: 0.86rem 0.86rem 2rem rgba(222, 117, 94, 0.3);
		border-radius: 85.95rem;
		transform: matrix(-1, 0, 0, 1, 0, 0);
		width: 1.4rem;
		height: 1.4rem;
		cursor: pointer;

		&::after,
		&::before {
			display: none;
		}
	}

	.noUi-connects {
		width: 36.4rem;
		margin-top: 2rem;
		background: #a0a1a44d;
	}

	.noUi-handle-lower--min {
		background-color: #e0e1e7;
		box-shadow: 0.86rem 0.86rem 2rem rgba(160, 161, 164, 0.3);
	}

	.noUi-connect {
		background-color: #de755e;
	}

	.noUi-target {
		border: 0;
		height: 0.1rem;
	}

	.noUi-handle {
		right: -0.7rem;
		top: -0.6rem;
	}

	&__price-value-wrapper {
		display: flex;
		gap: 8.6rem;
		align-items: center;
	}

	&__price-value {
		margin: 0 auto;
		margin-top: 2.8rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;

		color: #de755e;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 600;
		font-size: 1.6rem;
		line-height: 2rem;

		width: 8rem;
		height: 4rem;
		border-radius: 1.5rem;
	}

	&__price-value--min {
		color: #e0e1e7;
	}

	&__slider-wrapper {
		.filter-popup__title {
			text-align: left;
			margin-bottom: 4.3rem;
		}
	}

	&__buttons {
		display: flex;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		margin-left: auto;
		gap: 6rem;
	}

	&__apply-btn {
		width: 27.5rem;
		height: 7.7rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 6rem;
		border-radius: 100rem;

		background-color: #de755e;

		span {
			color: #fff;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			font-size: 2rem;
			line-height: 2.5rem;
			letter-spacing: 0.02em;
		}

		img {
			width: 3.2rem;
		}
	}

	&__reset-btn {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.4rem;
		text-align: center;
		letter-spacing: 0.02em;
		color: #de755e;
	}

	&__close-btn {
		display: none;
	}
}


.checker {
	width: 4rem;
	height: 4rem;
	background: #E0E1E7;
	border-radius: 1rem;

	display: flex;
	justify-content: center;
	align-items: center;

	img {
		display: none;
		width: 1.5rem;
		height: 1.5rem;
	}
}

.checker--active {
	img {
		display: block;
	}
}