.fonts-lk {
	&__block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 5.5rem;
		gap: 10.8rem
	}

	&__title {
		font-family: 'Austin Cyr', sans-serif;
		font-size: 7.3rem;
		font-style: normal;
		font-weight: 700;
		line-height: 7rem;
		letter-spacing: 1.46px;
    max-width: 49rem;
	}

	&__block-inner {
		display: flex;
		align-items: center;
		gap: 15.8rem
	}

	&__sum {
		color: #383742;
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.4px;
		display: flex;

		span {
			display: block;
			position: relative;
			margin-right: 0.8rem;
			padding-right: 1.2rem;
			&::before {
				position: absolute;
				content: '';
				width: 0.4rem;
				height: 0.4rem;
				background: #383742;
				border-radius: 50%;
				right: 0;
				top: 50%;
			}
		}

		span:last-child {
			padding-right: 0;
			&::before {
				display: none;
			}
		}
	}

	&__edit {
		display: flex;
		align-items: center;
		justify-content: space-between;
		border-radius: 9.6rem;
		background: #fff;
		width: 29.3rem;
		height: 7.6rem;
		padding: 2.6rem 4rem;
		span {
			color: #383742;
			font-size: 2rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.4px;
		}

		img {
			width: 2.4rem;
			height: 2.4rem;
			margin-top: 0.2rem;
		}
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;
	}
}
