.free {
	padding: 0rem 6rem 18.6rem;
	overflow: hidden;

	.content-block {
		width: 100%;
		&__list {
			width: 102%;
		}
	}

	.basic-card {
		width: 40.5rem;

		&__price {
			svg {
				width: 2.4rem;
				height: 2.4rem;
			}
		}
	}

	&__pagination {
		position: absolute;
		left: 86rem;
		z-index: 10;
		bottom: 5rem;
	}

	&__slider-title {
		gap: 2rem;
		margin-bottom: 5.5rem;

		span {
			padding: 1.3rem 2.8rem;
			border-radius: 100rem;
			background: #fff;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			display: block;
			margin: 0 auto;
			margin-bottom: 3.2rem;

			color: #383742;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.04rem;
		}

		strong {
			display: block;
			margin: 0 auto;
			color: #383742;
			text-align: center;
			font-size: 7.3rem;
			font-family: 'Austin Cyr';
			font-style: normal;
			font-weight: 700;
			line-height: 7rem;
			letter-spacing: 0.146rem;
			margin-bottom: 2rem;
		}

		p {
			margin: 0 auto;
			width: 84.7rem;
			color: #383742;
			text-align: center;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 500;
			line-height: 2.6rem;
		}
	}

	&__rates {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		flex-direction: column;
		margin-bottom: 24.1rem;
		margin-top: 34.3rem;
		padding: 5.5rem 46rem;
		width: 100%;
		height: 48rem;
		border-radius: 5.5rem;
		background: #e0e1e7;

		.free__slider-title strong {
			font-size: 3.7rem;
			font-style: normal;
			font-weight: 700;
			line-height: 3.7rem;
			letter-spacing: 0.074rem;
		}
	}

	&__rates-subtitle {
		border-radius: 100rem;
		background: #fff;

		padding: 1.3rem 2.8rem;
		color: #383742;
		font-family: 'Gilroy';
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.04rem;

		margin-bottom: 3.2rem;
	}

	&__rates-title {
		color: #383742;
		text-align: center;
		font-family: 'Austin Cyr';
		font-size: 3.7rem;
		font-style: normal;
		font-weight: 700;
		line-height: 3.7rem;
		letter-spacing: 0.074rem;
		margin-bottom: 7.4rem;
	}

	&__girl-background {
		height: 47.74rem;
		position: absolute;
		left: 9.4rem;
		top: -15.3rem;

		svg {
			width: 30.6rem;
			height: 15.3rem;

			position: absolute;
			right: 0.7rem;
			top: 15.3rem;
			z-index: 2;
		}

		img {
			position: relative;
			z-index: 3;
			width: 29.6rem;
			height: 47.7389rem;
		}
	}

	&__men-background {
		height: 41.5rem;
		position: absolute;
		bottom: -5.1rem;
		right: 13rem;

		svg {
			width: 31.2rem;
			height: 15.6rem;

			position: absolute;
			left: 1.7rem;
			bottom: 5.1rem;
			z-index: 2;
		}

		img {
			position: relative;
			z-index: 3;
			width: 26.6rem;
			height: 41.5rem;
		}
	}

	&__discount-box {
		display: flex;
		align-items: center;
		gap: 6rem;

		margin-bottom: 3.2rem;
	}

	&__discount-item {
		display: flex;
		align-items: center;
		flex-direction: column;

		&:nth-child(1) {
			strong {
				color: rgba(255, 180, 47, 0.5);
			}
		}

		&:nth-child(2) {
			strong {
				color: rgba(255, 180, 47, 0.8);
			}
		}

		&:nth-child(3) {
			strong {
				color: rgba(222, 117, 94, 0.8);
			}
		}

		&:nth-child(4) {
			strong {
				color: #de755e;
			}
		}

		span {
			display: block;
			color: #a0a1a4;
			text-align: center;
			font-family: ' Gilroy';
			font-size: 2rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.04rem;
		}

		strong {
			text-align: center;
			font-family: 'Gilroy';
			font-size: 3.7rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.074rem;
		}
	}

	&__link {
		padding: 2.7rem 4.9rem;
		border-radius: 100rem;
		background: #de755e;

		span {
			color: #fff;
			font-family: 'Gilroy';
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.036rem;
		}
	}

	.basic-card {
		&__img {
			top: -2.5rem;
			position: relative;

			span {
				z-index: 10;
				position: relative;
				top: 5.8rem;
				z-index: 10;
				left: 24.5rem;
			}
		}
	}

	&__recom-item-img {
		width: 40.5rem;
		height: 22.2rem;
		border-radius: 4rem;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__slider-recommendations {
		margin: 0 auto;

		.general__pagination {
			position: absolute;
			width: 60rem;
			bottom: 6rem;
			z-index: 10;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__recom-slider {
		width: 100%;
	}

	&__recom-hero-item-img {
		width: 60rem;
		height: 40rem;
		border-radius: 4rem;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__recom-hero-slider-item {
		padding: 6rem 13.5rem;
		padding-bottom: 15.8rem;
		border-radius: 5.5rem;
		background: #fff;
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
	}

	&__recom-hero-title {
		color: #383742;
		font-family: 'Gilroy';
		font-size: 2.2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.11rem;
		text-transform: uppercase;
	}

	&__recom-hero-sub-title {
		color: #383742;
		font-family: 'Gilroy';
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.04rem;
	}

	&__recom-item-title {
		margin-bottom: 3.2rem;
		display: none;

		color: #383742;
		font-family: 'Gilroy';
		font-size: 2.2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.11rem;
		text-transform: uppercase;
	}

	&__recom-item-text {
		margin-top: 3.2rem;
		width: 48rem;
		display: none;

		color: #383742;
		font-family: 'Gilroy';
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.04rem;
	}

	&__main-sliders {
		position: relative;
	}

	&__recom-second-slider {
		width: 87rem;
		margin: 0 auto;
		.free__recom-item-img {
			padding: 6rem 13.5rem 15.8rem;
			width: 87rem;
			height: 78.1rem;
			background-color: #fff;
			border-radius: 5.5rem;
			display: flex;
			flex-direction: column;
			gap: 3.2rem;
			img {
				border-radius: 40px;
				width: 61rem;
				height: 40rem;
				-o-object-fit: cover;
				object-fit: cover;
			}

			strong {
				color: #383742;
				font-family: Gilroy;
				font-size: 2.2rem;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				letter-spacing: 0.11rem;
				text-transform: uppercase;
			}

			p {
				color: #383742;
				font-family: Gilroy;
				font-size: 2rem;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				letter-spacing: 0.04rem;
				width: 48rem;
			}
		}
	}

	&__recom-zero-slider {
		position: absolute;
		top: 52.9rem;
		width: 40.5rem;
		left: 0rem;
	}

	&__main-sliders {
		margin-top: 19rem;
		margin-bottom: 34.3rem;
		strong {
			width: 156.4rem;
		}
	}

	&__recom-first-slider {
		position: absolute;
		top: 52.9rem;
		width: 40.5rem;
		right: 0rem;
	}

	.free--padding {
		padding: 0;
	}

	.testing {
		padding: 0;
		margin-top: 10rem;
		display: flex;
		align-items: center;
		margin-bottom: 19rem;
		padding-left: 2rem;
		padding-right: 2rem;
		&__content {
			width: 26.8rem;
		}

		&__slide {
			min-width: -webkit-fit-content;
			min-width: -moz-fit-content;
			min-width: fit-content;
			max-width: -webkit-fit-content;
			max-width: -moz-fit-content;
			max-width: fit-content;
			margin-right: 2rem;
		}

		&__slide-three {
			min-width: -webkit-fit-content;
			min-width: -moz-fit-content;
			min-width: fit-content;
			max-width: -webkit-fit-content;
			max-width: -moz-fit-content;
			max-width: fit-content;
			margin-right: 2rem;
		}

		&__slide-two {
			min-width: -webkit-fit-content;
			min-width: -moz-fit-content;
			min-width: fit-content;
			max-width: -webkit-fit-content;
			max-width: -moz-fit-content;
			max-width: fit-content;
		}

		&__swiper {
			overflow: hidden;
			width: 55.6rem;
			margin: auto;
		}

		&__swiper-two {
			overflow: hidden;
			box-shadow: 20px 15px 40px 0px rgba(103, 110, 133, 0.1);
			border-radius: 5.5rem;
			margin-right: 3.2rem;
			margin-left: 3.2rem;
			width: 70rem;
		}

		&__swiper-three {
			overflow: hidden;
			width: 55.6rem;
			margin: auto;
		}

		&__image {
			width: 26.8rem;
			height: 22.2rem;

			img {
				width: 100%;
				height: 100%;
				border-radius: 4rem;
			}
		}

		&__two-content {
			border-radius: 5.5rem;
			background: #fff;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 70rem;
			height: 78.1rem;
		}

		&__two-title {
			color: #383742;
			font-size: 2.2rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 1.1px;
			text-transform: uppercase;
			margin-bottom: 3.2rem;
		}

		&__two-image {
			width: 60rem;
			height: 40rem;
			margin-bottom: 3.2rem;
			img {
				width: 100%;
				height: 100%;
				border-radius: 4rem;
				-o-object-fit: cover;
				object-fit: cover;
			}
		}

		&__two-text {
			max-width: 48rem;
			color: #383742;
			font-size: 2rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.4px;
		}

		&__slide-two {
			min-width: -webkit-fit-content;
			min-width: -moz-fit-content;
			min-width: fit-content;
			min-height: -webkit-fit-content;
			min-height: -moz-fit-content;
			min-height: fit-content;
		}
	}
}

@media (hover: hover) {
	.free {
		.basic-card__price:hover {
			background-color: #de755e;

			svg {
				path {
					fill: white;
				}
			}
		}
	}
}
