.free {
	padding: 0rem 6rem 18.6rem;
	overflow: hidden;

	.basic-card {
		width: 40.5rem;
	}

	&__pagination {
		position: absolute;
		left: 86rem;
		z-index: 10;
		bottom: 5rem;
	}

	&__slider-title {
		gap: 2rem;
		margin-bottom: 5.5rem;

		span {
			padding: 1.3rem 2.8rem;
			border-radius: 100rem;
			background: #fff;
			width: -webkit-fit-content;
			width: -moz-fit-content;
			width: fit-content;
			display: block;
			margin: 0 auto;
			margin-bottom: 3.2rem;

			color: #383742;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.04rem;
		}

		strong {
			display: block;
			margin: 0 auto;
			color: #383742;
			text-align: center;
			font-size: 7.3rem;
			font-family: 'Austin Cyr';
			font-style: normal;
			font-weight: 700;
			line-height: 7rem;
			letter-spacing: 0.146rem;
			margin-bottom: 2rem;
		}

		p {
			margin: 0 auto;
			width: 84.7rem;
			color: #383742;
			text-align: center;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 500;
			line-height: 2.6rem;
		}
	}

	&__rates {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		flex-direction: column;
		margin-bottom: 24.1rem;
		padding: 5.5rem 46rem;
		width: 100%;
		height: 48rem;
		border-radius: 5.5rem;
		background: #e0e1e7;

		.free__slider-title strong {
			font-size: 3.7rem;
			font-style: normal;
			font-weight: 700;
			line-height: 3.7rem;
			letter-spacing: 0.074rem;
		}
	}

	&__rates-subtitle {
		border-radius: 100rem;
		background: #fff;

		padding: 1.3rem 2.8rem;
		color: #383742;
		font-family: 'Gilroy';
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.04rem;

		margin-bottom: 3.2rem;
	}

	&__rates-title {
		color: #383742;
		text-align: center;
		font-family: 'Austin Cyr';
		font-size: 3.7rem;
		font-style: normal;
		font-weight: 700;
		line-height: 3.7rem;
		letter-spacing: 0.074rem;
		margin-bottom: 7.4rem;
	}

	&__girl-background {
		height: 47.74rem;
		position: absolute;
		left: 9.4rem;
		top: -15.3rem;

		svg {
			width: 30.6rem;
			height: 15.3rem;

			position: absolute;
			right: 0.7rem;
			top: 15.3rem;
			z-index: 2;
		}

		img {
			position: relative;
			z-index: 3;
			width: 29.6rem;
			height: 47.7389rem;
		}
	}

	&__men-background {
		height: 41.5rem;
		position: absolute;
		bottom: -5.1rem;
		right: 13rem;

		svg {
			width: 31.2rem;
			height: 15.6rem;

			position: absolute;
			left: 1.7rem;
			bottom: 5.1rem;
			z-index: 2;
		}

		img {
			position: relative;
			z-index: 3;
			width: 26.6rem;
			height: 41.5rem;
		}
	}

	&__discount-box {
		display: flex;
		align-items: center;
		gap: 6rem;

		margin-bottom: 3.2rem;
	}

	&__discount-item {
		display: flex;
		align-items: center;
		flex-direction: column;

		&:nth-child(1) {
			strong {
				color: rgba(255, 180, 47, 0.5);
			}
		}

		&:nth-child(2) {
			strong {
				color: rgba(255, 180, 47, 0.8);
			}
		}

		&:nth-child(3) {
			strong {
				color: rgba(222, 117, 94, 0.8);
			}
		}

		&:nth-child(4) {
			strong {
				color: #de755e;
			}
		}

		span {
			display: block;
			color: #a0a1a4;
			text-align: center;
			font-family: ' Gilroy';
			font-size: 2rem;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.04rem;
		}

		strong {
			text-align: center;
			font-family: 'Gilroy';
			font-size: 3.7rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.074rem;
		}
	}

	&__link {
		padding: 2.7rem 4.9rem;
		border-radius: 100rem;
		background: #de755e;

		span {
			color: #fff;
			font-family: 'Gilroy';
			font-size: 1.8rem;
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.036rem;
		}
	}

	.basic-card {
		&__img {
			top: -2.5rem;
			position: relative;

			span {
				z-index: 10;
				position: relative;
				top: 5.8rem;
				z-index: 10;
				left: 24.5rem;
			}
		}
	}

	&__recom-item-img {
		width: 26.8rem;
		height: 22.2rem;

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__slider-recommendations {
		margin: 0 auto;
		margin-top: 22rem;
		margin-bottom: 34.3rem;
	}

	&__recom-slider {
		width: 100%;
	}

	&__recom-hero-item-img {
		width: 60rem;
		height: 40rem;
		border-radius: 4rem;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__recom-hero-slider-item {
		padding: 6rem 13.5rem;
		padding-bottom: 15.8rem;
		border-radius: 5.5rem;
		background: #fff;
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
	}

	&__recom-hero-title {
		color: #383742;
		font-family: 'Gilroy';
		font-size: 2.2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.11rem;
		text-transform: uppercase;
	}

	&__recom-hero-sub-title {
		color: #383742;
		font-family: 'Gilroy';
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.04rem;
	}

	&__recom-item-title {
		margin-bottom: 3.2rem;
		display: none;

		color: #383742;
		font-family: 'Gilroy';
		font-size: 2.2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.11rem;
		text-transform: uppercase;
	}

	.basic-card__price:hover {
		background-color: #de755e;
	}

	&__recom-item-text {
		margin-top: 3.2rem;
		width: 48rem;
		display: none;

		color: #383742;
		font-family: 'Gilroy';
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.04rem;
	}

	&__main-sliders {
		position: relative;
	}

	&__recom-second-slider {
		width: 87rem;
	}

	&__recom-zero-slider {
		position: absolute;
		top: 52.9rem;
		width: 56.8rem;
		left: -11rem;
	}

	&__main-sliders {
		margin-top: 19rem;
		margin-bottom: 34.3rem;
		strong {
			width: 156.4rem;
		}
	}

	&__recom-first-slider {
		position: absolute;
		top: 52.9rem;
		width: 56.8rem;
		right: -13rem;
	}

	.swiper-slide-active {
		z-index: 100;
		position: relative;
		// left: -20rem;

		// .free__recom-item-title {
		// 	display: block;
		// }

		// .free__recom-item-text {
		// 	display: block;
		// }

		// img {
		// 	width: 60rem;
		// 	height: 40rem;
		// 	border-radius: 4rem;
		// 	-o-object-fit: cover;
		// 	   object-fit: cover;

		// }

		// .free__recom-item-img {
		// 	width: 87rem;
		// 	height: 78.1rem;
		// 	padding: 6rem 13.5rem;
		// 	background-color: #fff;
		// 	border-radius: 4rem;
		// }
	}

	// .swiper-slide-next {
	// 	margin-left: 20rem;
	// }

	&__recom-second-slider {
		.free__recom-item-title {
			display: block;
		}

		.free__recom-item-text {
			display: block;
		}

		img {
			width: 60rem;
			height: 40rem;
			border-radius: 4rem;
			-o-object-fit: cover;
			object-fit: cover;
		}

		.free__recom-item-img {
			width: 87rem;
			height: 78.1rem;
			padding: 6rem 13.5rem;
			background-color: #fff;
			border-radius: 4rem;
		}
	}
}
