.header {
	margin-bottom: 3rem;
	background-color: #fff;
	border-radius: 0 0 3rem 3rem;
	position: fixed;
	width: 100%;
	top: 0rem;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	z-index: 20;
	&__burger {
		display: none;
	}

	.burger {
		&__categ-item,
		&__mobile-bar,
		&__search {
			display: none;
		}
	}

	&__results {
		&-popup {
			border-radius: 2rem;
			background: #fff;
			box-shadow: 1rem 1rem 3.1rem 0rem rgba(160, 161, 164, 0.19);
			width: 42.5rem;
			padding: 1.2rem 1.1rem 1.2rem 4.4rem;

			position: absolute;
			top: 100%;
			right: 0;
			z-index: 1;
			opacity: 0;
			transform: translateY(-6rem);
			transition: 0.4s;

			&.active {
				opacity: 1;
				transform: translateY(0rem);

				.header__results-list {
					max-height: 30rem;
				}
			}
		}

		&-empty {
			color: #383742;
			font-family: Gilroy;
			font-size: 1.6rem;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			letter-spacing: 0.032rem;
		}

		&-list {
			display: flex;
			flex-direction: column;
			gap: 1.9rem;
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;
			max-height: 0rem;
			overflow-y: auto;

			&::-webkit-scrollbar {
				width: 0.2rem;
				border-radius: 3px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #d9d9d9;
			}

			&::-webkit-scrollbar-track {
				background-color: transparent;
			}
		}

		&-item {
			span {
				color: #383742;
				font-family: Gilroy;
				font-size: 1.6rem;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.064rem;
				cursor: pointer;
			}
		}
	}

	&__search-bar-icon {
		display: none;
	}

	&__modal {
		position: fixed;
		overflow: scroll;
		height: 100%;
	}

	&__head {
		z-index: 35;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 2rem 6rem;
		background-color: white;
		border-bottom: 0.1rem solid #eaebef;
	}

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		z-index: 100;
	}

	&__logo {
		width: 19.276rem;
		height: 3.209rem;
		margin-right: 1rem;
		transition: 0.6s ease;
		img {
			width: 100%;
			height: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}

	&__nav {
		width: 100%;
		align-items: center;
		z-index: 20;
		background-color: #fff;
		border-radius: 0 0 3rem 3rem;
	}

	&__lists {
		position: relative;
		height: 7.5rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 1rem;
		margin-bottom: 1.4rem;
		z-index: 15;
		padding: 0 6rem;
		color: #383742;
	}

	&__item {
		position: relative;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;

		letter-spacing: 0.05em;
		text-transform: uppercase;

		button {
			text-transform: uppercase;
		}
	}

	&__item--slide {
		padding-right: 1.9rem;
		position: relative;
	}

	&__item--slide::before {
		position: absolute;
		content: '';
		width: 1.2rem;
		height: 0.9rem;
		background-image: url(../img/icon/Polygon.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		right: 0;
		top: 45%;
	}

	&__item--open {
		color: #de755e;
		position: relative;
		padding-right: 1.9rem;
	}

	&__item--open::before {
		position: absolute;
		content: '';
		width: 1.2rem;
		height: 0.9rem;
		background-image: url(../img/icon/active-item-icon.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		right: 0;
		top: 45%;
	}

	&__search-category--slide {
		position: relative;
		padding-right: 2.4rem;
	}

	&__search-category--slide::before {
		position: absolute;
		content: '';
		width: 1.2rem;
		height: 0.9rem;
		background-image: url(../img/icon/Polygon.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		right: 0;
		top: 33%;
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__header-icon-link {
		background-color: #eaebef;
		svg {
			width: 2.6rem;
			height: 2.6rem;
		}

		&:hover {
			@media (hover: hover) {
				background-color: #383742;
				path {
					fill: #fff;
				}
			}
		}
	}

	&__user {
		width: 7.5rem;
		height: 7.5rem;
		border-radius: 50%;
		background: #eaebef;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 1.7rem;
			height: 2.3rem;
		}
	}

	&__store {
		background: #eaebef;
		width: 7.5rem;
		height: 7.5rem;
		border-radius: 50%;
		background: #eaebef;
		display: none;
		justify-content: center;
		align-items: center;

		img {
			width: 2.3rem;
			height: 2.3rem;
		}
	}

	&__store--show {
		display: flex;
	}

	&__like {
		width: 7.5rem;
		height: 7.5rem;
		border-radius: 50%;
		background: #eaebef;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		img {
			width: 2.281rem;
			height: 2.28rem;
		}
	}

	&__bag {
		width: 7.5rem;
		height: 7.5rem;
		border-radius: 50%;
		background: #eaebef;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		img {
			width: 2.8rem;
			height: 2.8rem;
		}
	}

	&__shop-button {
		background: #de755e;
		border-radius: 100rem;
		padding: 2.5rem 2.8rem;
		position: relative;
		height: 7.2rem;
		display: flex;
		align-items: center;
		justify-content: center;

		span {
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			font-size: 2rem;
			letter-spacing: 0.02em;
			color: white;
			display: block;
			line-height: 2.4rem;
		}

		@include btnHover;
	}

	&__profile-wrapper {
		display: none;
	}

	&__shop-button--remove {
		display: none;
	}

	&__buttons-bar {
		display: flex;
		gap: 1rem;
		transition: 0.6s ease;
	}

	&__modal {
		position: fixed;
		overflow: auto;
		height: -webkit-fit-content;
		height: -moz-fit-content;
		height: fit-content;
	}

	.modal--active {
		display: flex;
	}

	&__search-wrapper {
		position: relative;
	}

	&__search {
		display: flex;
		align-items: center;
		position: relative;
		background-color: #eaebef;
		border-radius: 100rem;
		padding: 1.2rem 2.5rem;
		min-width: 67.1rem;
		border: 0.1rem solid transparent;
		color: #a5a5a9;
		z-index: 2;

		&.active {
			box-shadow: 1rem 1rem 3.1rem rgba(160, 161, 164, 0.19);
		}
	}

	&__search-button-wrapper {
		display: flex;
		gap: 2.4rem;
		height: 5.1rem;
		align-items: center;
		padding-right: 2rem;
		margin-right: 2rem;
		border-right: 0.1rem solid #a5a5a999;

		img {
			width: 2.5rem;
			height: 2.5rem;
		}
	}

	&__search-button {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 1.8rem;
		line-height: 2.2rem;
		letter-spacing: 0.02em;

		color: #383742;
	}

	&__search-input {
		width: 38rem;
		padding: 1.5rem 0;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		font-size: 1.8rem;
		line-height: 2.1rem;
		letter-spacing: 0.02em;
		border: 0;
		background-color: transparent;
		transition: 0.6s ease;
	}

	&__search-input--reg {
		width: 38rem;
	}

	&__register-alert {
		position: absolute;
		right: 6rem;
		top: 11.8rem;
		z-index: 30;
		padding: 3.2rem 2.6rem;
		background-color: white;
		border-radius: 2rem;
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		transition: 0.4s ease;

		transform: translateY(-100%);

		p {
			width: 40.6rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.4rem;
			letter-spacing: 0.02em;

			color: #383742;
		}

		&.active {
			transform: translateY(0%);
		}
	}

	&__register-alert-button {
		padding: 2.6rem 4.9rem;
		background-color: #de755e;
		border-radius: 100rem;

		span {
			text-align: center;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			font-size: 2rem;
			line-height: 2.5rem;
			letter-spacing: 0.02em;
			color: #ffffff;
		}
		@include btnHover;
	}

	&__profile-bar {
		position: absolute;
		right: 6.5rem;
		top: -20rem;
		padding: 2rem 2.4rem;
		background-color: white;
		border-radius: 2rem;
		display: flex;
		flex-direction: column;
		gap: 3.2rem;
		transition: 0.6s ease;
		z-index: 30;
	}

	&__profile-bar--auth-reg {
		right: 14.2rem;
	}

	&__store-modal {
		top: 0rem;
		width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 444;
		display: none;
	}

	&__store-content {
		padding: 3rem;
		p {
			margin-top: 60rem;
			color: #383742;
			text-align: center;
			font-size: 4rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.08rem;
			margin-bottom: 5rem;
		}

		padding-bottom: 40rem;
	}

	&__store-close-btn {
		position: absolute;
		width: 11rem;
		height: 11rem;
		border-radius: 100rem;
		background: #eaebef;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 2.2rem;
			height: 2.2rem;
		}

		top: 4rem;
		right: 3rem;
		z-index: 200;
	}

	&__store-btn {
		padding: 3.8rem 12.8rem 4.3rem 12.8rem;
		border-radius: 100rem;
		background: #de755e;

		color: #fff;
		text-align: center;
		font-size: 2.8rem;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.056rem;
	}

	&__profile-bar--reg {
		right: 8.5rem;
	}

	&__profile-bar--show {
		top: 11.8rem;
		box-shadow: 1rem 1rem 3.1rem rgba(160, 161, 164, 0.19);
	}

	&__profile-link {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		gap: 1.2rem;

		img {
			width: 2.1rem;
			height: 2rem;
		}

		span {
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.4rem;
			letter-spacing: 0.02em;

			color: #383742;
		}
	}

	&__profile-bar-button {
		display: flex;
		align-items: center;
		width: 100%;
		gap: 1.2rem;

		img {
			width: 2.1rem;
			height: 2rem;
		}

		span {
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.4rem;
			letter-spacing: 0.02em;

			color: #383742;
		}
	}

	&__info {
		top: -60rem;
		left: 0;
		position: absolute;
		background-color: #fff;
		width: 100%;
		display: flex;
		justify-content: space-between;
		padding-top: 10rem;
		border-radius: 0 0 3rem 3rem;
		z-index: 10;
		transition: 0.6s ease;
	}

	&__info--show {
		top: 12.1rem;
		box-shadow: 1rem 1rem 3.1rem rgba(160, 161, 164, 0.19);
	}

	&__info-wrapper {
		padding: 3rem 6rem 3.2rem;
		border-top: 0.1rem solid #eaebef;
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	&__info-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 6rem;

		a {
			margin: 0;
			z-index: 10;
		}
	}

	&__info-list {
		margin-top: 0.7rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
	}

	&__info-item {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;
		letter-spacing: 0.02em;
		color: #383742;
	}

	&__categorys {
		width: 100%;
		background-color: #fff;
		padding-top: 6rem;
		transition: 0.6s ease;
		top: -60rem;
		position: absolute;
		border-radius: 0 0 3rem 3rem;
		box-shadow: 1rem 1rem 3.1rem rgba(160, 161, 164, 0.19);
	}

	&__categorys--show {
		top: 15.7rem;
	}

	&__categorys-wrapper {
		border: 1px solid #eaebef;
		display: flex;
		padding: 3.1rem 5.9rem 3.2rem;
		min-height: 27.3rem;
	}

	&__categorys-lists {
		margin-top: 0.5rem;
		display: flex;
		gap: 9.4rem;
		width: 100%;
		margin-right: 6.9rem;
	}

	&__categorys-item a {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;

		letter-spacing: 0.02em;
		color: #a0a1a4;
	}

	&__categorys-item:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__categorys-item:last-child {
		margin-bottom: 4rem;
	}
	&__categorys-list {
		overflow: hidden;
		transition: 0.5s;
		max-height: 0;
		will-change: height;
		transition: 0.6s ease;
	}

	&__categorys-list--show {
		max-height: 100rem;
	}
	&__categorys-title {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;
		letter-spacing: 0.02em;
		color: #383742;
		cursor: pointer;
		margin-bottom: 2rem;
	}

	&__categorys-col {
		width: 27.6rem;
	}

	&__categorys-card {
		z-index: 10;
	}

	&__search-popup {
		background-color: #fff;
		padding-top: 1.2rem;
		padding-bottom: 1.5rem;
		padding-right: 1.1rem;
		box-shadow: 1rem 1rem 3.1rem rgba(160, 161, 164, 0.19);
		border-radius: 0 0 2rem 2rem;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 1;
		opacity: 0;
		transform: translateY(-6rem);
		transition: 0.4s;

		&.active {
			opacity: 1;
			transform: translateY(0rem);

			ul {
				max-height: 30rem;
			}
		}

		ul {
			overflow-y: scroll;
			scrollbar-width: thin;
			scrollbar-color: #d9d9d9 transparent;
			transition: 0.4s;
			max-height: 0rem;
			width: 24.6rem;
		}

		ul::-webkit-scrollbar {
			width: 0.2rem;
			border-radius: 3px;
		}

		ul::-webkit-scrollbar-thumb {
			background-color: #d9d9d9;
		}

		ul::-webkit-scrollbar-track {
			background-color: transparent;
		}
	}

	&__search-popup--show {
		max-height: 100rem;
		top: -12rem;
	}

	&__search-popup-item {
		display: flex;
		padding-top: 0.75rem;
		padding-left: 2.2rem;
		padding-bottom: 0.75rem;
		gap: 1.267rem;
		align-items: flex-start;
		cursor: pointer;
		flex-direction: row;

		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 1.9rem;
		letter-spacing: 0.02em;
		color: #383742;

		span {
			display: block;
		}

		img {
			visibility: hidden;
			margin-top: 0.2rem;
			width: 1.4rem;
			height: 1.5rem;
		}
	}

	&__search-popup-item--active {
		color: #de755e;

		img {
			align-items: center;
			visibility: visible;
		}
	}
}

.header__search--active {
	background: #ffffff;
	border: 0.1rem solid #de755e;
	box-shadow: 0.86rem 0.86rem 2rem rgba(222, 117, 94, 0.11);
	border-radius: 100rem;
	color: #000000;
}

@media (hover: hover) {
	.header__results-item:hover {
		span {
			color: #de755e;
		}
	}
}
