.lk-ex {
    margin-bottom: 14.5rem;
    &__wrapper {
        display: flex;
    }

    &__left {
        width: 104rem;
        height: 100.6rem;
        border-radius: 5.5rem;
        overflow: hidden;
        z-index: 1;
        position: absolute;
        
    }

    .lk-register__form-inner input {
        width: 100%;
    }

    &__right {
        width: 107rem;
        height: 101rem;
        z-index: 2;
        background: #FFFFFF;
        border-radius: 5.5rem;
        right: 0rem;
        position: relative;
        margin-left: auto;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    &__image {
        width: 100%;
        height: 104rem;
        border-radius: 5.5rem;
        img {
            border-radius: 5.5rem;
            height: 100%;
            
        }
        
    }

    &__content {
        width: 83rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 100%;
        margin-bottom: 5.2rem;
        letter-spacing: 0.02em;
        color: #262626;

    }

    &__form-inner {
        width: 83rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 2.8rem;
        position: relative;
        &:hover {
            input {
                transition: 1s;
                background: #FFFFFF;
                border: 0.2rem solid #DE755E;
                box-shadow: 8.59504px 8.59504px 20px rgba(222, 117, 94, 0.11);
            }

            .lk-ex__see {
                opacity: 1;
                transition: 1s;
            }
            
        }
        label {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            margin-bottom: 1.2rem;
        }
        input {
            height: 4.8rem;
            background: #EAEBEF;
            border-radius: 1rem;
            border: none;
            transition: 1s;
            padding-left: 1rem;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
           
        }
    }

    &__see {
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        bottom: 1.3rem;
        right: 2rem;
        z-index: 3;
        transition: 1s;
        opacity: 0;
    }

    &__form-inner:last-child {
        margin-bottom: 0;
    }

    &__content-btns {
        display: flex;
        justify-content: space-between;
        align-items:center;
        margin-top: 2.8rem;
    }

    &__content-btns-link {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 0.02em;
        color: #DE755E;

    }

    &__content-bottom {
        margin-top: 5.2rem;
        margin-bottom: 5.2rem;
    }

    &__content-bottom-inner {
        display: flex;
        justify-content: space-between;

        .red-btn {
            width: 55rem;
        }
    }

    &__content-bottom-inner-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
        span {
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            margin-bottom: 0.8rem;
            color: #A0A1A4;

        }

        a {
            display: block;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.5rem;
            letter-spacing: 0.02em;
            color: #DE755E;
        }
    }

    &__content-bottom-policy {
        margin-top: 2rem;
        width: 56rem;
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #A0A1A4;

        a {
            color: #DE755E;
        }
    }

    &__content-title {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
        letter-spacing: 0.05em;
        position: relative;
        color: #A0A1A4;
        padding-left: 31rem;
        padding-right: 31rem;
        margin-bottom: 2.8rem;
        &::before {
            position: absolute;
            content:'';
            width: 29rem;
            height: 0.1rem;
            background: #D9D9D9;
            top: 50%;
            right: 0;
           
        }

        &::after {
            position: absolute;
            content:'';
            width: 29rem;
            height: 0.1rem;
            background: #D9D9D9;
            top: 50%;
            left: 0;
            
        }

    }

    &__social {
        display: flex;
        justify-content: center;
        align-items:center;

        a {
            width: 5rem;
            height: 5rem;
            margin-right: 6rem;
        }

        a:last-child {
            margin-right: 0;
        }

        
    }

   
}