.lk-favorites {


    .sort-popup {
        top: 10rem;
    }
    
    
    &__title {
        color: #383742;
        margin-bottom: 5.5rem;
        font-family: 'Austin Cyr';
        font-size: 7.3rem;
        font-style: normal;
        font-weight: 700;
        line-height: 95.89%;
        letter-spacing: 1.46px;
    }



  
   

    &__wrapper {
        display: flex;
        flex-wrap: wrap;
        .basic-card {
            width: 40.5rem;
            margin-bottom: 6rem;
            margin-right: 5rem;
        }

        .basic-card:nth-child(3n) {
            margin-right: 0;
        }

        .basic-card__price {
            color:#383742;

            span {
                color:#383742;
            }
        }

        .basic-card__add {
            width: 24.8rem;
            height: 7.9rem;
            border-radius: 100rem;
            color:#383742;
            background: #E0E1E7;
            display: flex;
            justify-content: center;
            align-items:center;
            font-size: 2rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: 0.4px;
            transition: all 0.2s;
            &:hover {
                transition: all 0.2s;
                color:#fff;
                background:  #383742;
            }

        }

        .basic-card__del {
            width: 6rem;
            height: 7.7rem;
           
            border-radius: 100rem;
            display: flex;
            justify-content: center;
            align-items:center;
            background:rgba(224, 225, 231, 1);
            img {
                width: 2.4rem;
                height: 2.4rem;
            }
        }


        .basic-card__edit {
            width: 6rem;
            height: 7.7rem;
           
            border-radius: 100rem;
            display: flex;
            justify-content: center;
            align-items:center;
            background:rgba(224, 225, 231, 1);
            img {
                width: 2.4rem;
                height: 2.4rem;
            }
        }


       
    }


    
}