.lk-favorites {
	position: relative;

	&__buffer {
		display: none;

		justify-content: space-between;
		align-items: center;
		width: 59.8rem;
		height: 7.2rem;
		border-radius: 5.5rem;
		background: #de755e;
		padding: 0 0.8rem;
		position: absolute;
		top: -10rem;
		right: 0;
		padding-top: 0.8rem;
		padding-bottom: 0.8rem;
	}

	&__buffer-icon {
		width: 5.6rem;
		height: 5.6rem;
		margin-right: 2rem;
		display: inline-block;
	}

	&__buffer-text {
		color: #fff;
		font-size: 2rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.4px;
		padding-right: 1.6rem;
		display: inline-block;
		position: relative;
		top: -2.1rem;
	}

	.sort-popup {
		top: 10rem;
	}

	&__title {
		color: #383742;
		margin-bottom: 5.5rem;
		font-family: 'Austin Cyr';
		font-size: 7.3rem;
		font-style: normal;
		font-weight: 700;
		line-height: 95.89%;
		letter-spacing: 1.46px;
	}

	&__wrapper {
		display: flex;
		flex-wrap: wrap;

		.basic-card__price {
			color: #383742;

			span {
				color: #383742;
			}
		}
	}
}
