.lk-m {
    margin-top: 8rem;
    margin-bottom: 13rem;
    &__wrapper {
        display: flex;
    }

    &__left {
        margin-right: 6rem;
    }

    &__right {
        width: 100%;
    }
    &__title {
        font-family: "Austin Cyr";
        font-style: normal;
        font-weight: 700;
        font-size: 7.3rem;
        line-height: 96%;
        letter-spacing: 0.02em;
        color: #383742;
        margin-bottom: 6rem;
    }

    &__box {
        width: 133.5rem;

        background: #ffffff;
        border-radius: 5.5rem;
        padding: 6rem;
    }

    .red-btn {
        width: 22rem;
    }

    &__start-content {
        padding-top: 1rem;
        display: none;
    }

    &__start-content--one.active {
        display: block;
    }
    &__start-content--two.active {
        display: block;
    }

    &__start-content--three.active {
        display: block;
    }
    &__start-content--four.active {
        display: block;
    }

    &__numbers {
        display: flex;
        padding-left: 3rem;
        margin-bottom: 6rem;
    }

    &__numbers--two {
       
        padding-left: 18rem;
    }

    &__prev {
        
        background: #EAEBEF;
        border-radius: 50%;
        width: 7.7rem;
        height: 7.7rem;
        display: flex;
        justify-content: center;
        align-items:center;
        position: absolute;
        svg {
            width: 3rem;
            height: 1.5rem;
        }
    }

   
    

    &__numbers-box-number {
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #de755e;
        position: relative;
        margin-right: 21rem;
        margin-bottom: 1.2rem;
        &::before {
            position: absolute;
            content: "";
            background-image: url(../img/icon/trinred.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: 1rem;
            height: 0.9rem;
            top: -1rem;
        }
        &::after {
            position: absolute;
            content: "";
            height: 0.2rem;
            background: #e0e1e7;
            width: 25rem;
            right: -25rem;
        }
        span {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            color: #ffffff;
        }
    }

    &__numbers-box-number.non {
        margin-right: 0;
        &::after {
            display: none;
        }
    }

    &__numbers-box-number.non-active {
        background: #ffffff;
        border: 0.2rem solid #e0e1e7;
        margin-right: 20;
        &::before {
            display: none;
        }
        &::after {
        }
        span {
            color: #e0e1e7;
        }
    }

    &__numbers-box-number.ready {
        &::before {
            display: none;
        }
    }

    &__numbers-box-number.no-after {
        &::after {
            display: none;
        }

        &::after {
            display: none;
        }
    }

    &__numbers-box-number.no-before {
        &::before {
            display: none;
        }

        &::after {
            background: #de755e;
        }
    }

    &__numbers-box-text {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #383742;
        margin-left: -6rem;
    }

    &__numbers-box-text.non {
        margin-left: -8rem;
    }

    &__numbers-box-text.non-active {
        color: #e0e1e7;
    }

    &__numbers-box-text.no-after {
        margin-left: -12rem;
    }

    &__start-wrap {
        display: flex;
        margin-bottom: 4rem;
    }

    &__start-wrap:last-child {
       margin-bottom: 5.2rem;
    }

    &__start-left {
        margin-right: 3.6rem;
        width: 83rem;
    }

    &__start-title {
        font-family: "Austin Cyr";
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 100%;
        margin-bottom: 5.2rem;
        letter-spacing: 0.02em;
    }

    &__start-inner {
       
        margin-right: 2rem;
        .select {
            width: 83rem;
        }
        label {
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            display: block;
            margin-bottom: 1.2rem;
            color: #383742;
        }

        input {
            position: relative;
            width: 40.5rem;
            height: 4.8rem;
            background: #eaebef;
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;
            border: none;
        }
    }

    &__start-inner:last-child {
        margin-right: 0;
    }

    &__start-inner--sel {
        margin-right: 0;
        margin-bottom: 4rem;
        input {
            width: 100%;
            min-width: 100%;
        }
    }

    &__start-inner--small {
        input {
            width: 26.3rem;
        }
    }

    &__start-inner--big {
        input {
            width: 83rem;
            min-width: 100%;
        }
    }

    &__start-sel-text {
        font-weight: 400;
        font-size: 1.6rem;
        margin-top: 1.2rem;
        line-height: 125%;
        color: #a0a1a4;
    }

    .input-file-list-remove {
                position: absolute;
            content: "";
            width: 2.4rem;
            height: 2.4rem;
            background-image: url(../img/delfile.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            right: 2.4rem;
            font-size: 0;
    }

    &__start-description {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        margin-bottom: 2.4rem;
        color: #383742;
    }

    .input-file-row {
        display: inline-block;
        margin-bottom: 5.2rem;
    }
    .input-file {
        position: relative;
        display: inline-block;
    }
    .input-file span {
        background-image: url(../img/lk-m/dow.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 81rem;
        height: 22.1rem;
        border-radius: 5.5rem;
        display: block;
    }
    .input-file input[type="file"] {
        position: absolute;
        z-index: -1;
        opacity: 0;
        display: block;
        width: 0;
        height: 0;
    }

    /* Focus */
  

    .input-file-list-item {
        margin-top: 3.2rem;
        width: 100%;
        background: #de755e;
        border: 0.1rem solid #de755e;
        border-radius: 4rem;
        padding: 1.4rem 2.4rem;
        position: relative;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        color: #fff;

        // &::before {
        //     position: absolute;
        //     content: "";
        //     width: 2.4rem;
        //     height: 2.4rem;
        //     background-image: url(../img/lk-m/tick-circle.svg);
        //     background-repeat: no-repeat;
        //     background-size: 100% 100%;
        //     right: 2.4rem;
        // }
    }

    /* Disabled */
    .input-file input[type="file"]:disabled + span {
        background-color: #eee;
    }

    /* Список файлов */
    .input-file-list {
    }
    .input-file-list-item {
    }
 

    &__start-search {
        position: relative;
        input {
            width: 100%;
        }
    }

    &__start-search-btn {
        position: absolute;
        width: 2rem;
        height: 2rem;
        right: 2.4rem;
        top: 50%;
        transform: translate(0, -50%);
    }


    &__search-show {
        display: none;
        position: absolute;
        z-index: 2;
        width: 83rem;
        background: #fff;
        -webkit-filter: drop-shadow(10.2px 10.2px 31px rgba(160, 161, 164, 0.19));
                filter: drop-shadow(10.2px 10.2px 31px rgba(160, 161, 164, 0.19));
        border-radius: 1rem;
        margin-top: 1rem;
        padding: 2.5rem;

        li {
            font-style: normal;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            color: #383742;
            margin-bottom: 1.2rem;

        }
        li:first-letter {
            color: #DE755E;
        }
    }

    &__checkbox {
        margin-bottom: 6.2rem;
    }

    &__examination-wrapper {
        display: flex;
        justify-content: space-between;
        align-items:center;
    }

    &__examination-left {
        display: flex;
        flex-direction: column;
        align-items:center;
    }

    &__mob-title {
        display: none;
    }


    &__start-inner--search {
        margin-right: 0;
        margin-bottom: 4rem;
    }


    // input {
    //     transition: 0.2s;
        
    //     &:hover {
    //         transition: 0.2s;
    //         background: #FFFFFF;
    //         border: 0.1rem solid #DE755E;
    //         box-shadow: 8.59504px 8.59504px 20px rgba(222, 117, 94, 0.11);
    //         border-radius: 1rem;
    //         padding: 1.4rem 2.4rem;
          
    //         font-weight: 400;
    //         font-size: 1.6rem;
    //         line-height: 125%;
    //         color: #000000;
    //     }
    //     &:focus {
    //         background: #FFFFFF;
    //         border: 0.1rem solid #DE755E;
    //         box-shadow: 8.59504px 8.59504px 20px rgba(222, 117, 94, 0.11);
    //         border-radius: 1rem;
    //         padding: 1.4rem 2.4rem;
          
    //         font-weight: 400;
    //         font-size: 1.6rem;
    //         line-height: 125%;
    //         color: #000000;
    //     }
    // }


    #filter-block-sales {
        margin-top: 57.2rem;
    }

    &__calendar-title {
        color:  #383742;
        
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.4px;
        margin-bottom: 2.3rem;
    }
    
    #lk-m__calendar {
        display: none;
    }

    


    .air-datepicker.-inline- {
        width: 100%;
    }

}
