.lk-register {
    margin-bottom: 15rem;
    &__wrapper {
        display: flex;
    }

    &__left {
        width: 104rem;
        height: 100.5rem;
        overflow: hidden;
        z-index: 1;
        position: absolute;
        border-radius: 5.5rem;
        
    }

    &__right {
        width: 107rem;
        height: 100.5rem;
        z-index: 2;
        background: #FFFFFF;
        border-radius: 5.5rem;
        right: 0rem;
        position: relative;
        margin-left: auto;
        padding: 9.2rem 12rem;
    }

    &__image {
        width: 100%;
        height: 104rem;
        border-radius: 5.5rem;
        img {
            border-radius: 5.5rem;
            height: 100%;
            
        }
        
    }

    &__content {
        width: 83rem;
    }



    &__title {
        margin-bottom: 5.2rem;
        strong {
            display: block;
            font-family: 'Austin Cyr';
            font-style: normal;
            font-weight: 700;
            font-size: 3.7rem;
            line-height: 100% ;
            letter-spacing: 0.02em;
            margin-bottom: 1.2rem;
            color: #262626;
        }

        span {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            color: #A0A1A4;

        }
    }

    &__form-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &__form-wrap:nth-child(3) {
        margin-bottom: 0;
    }

    &__form-inner {
        position: relative;
        label {
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            display: block;
            margin-bottom: 1.2rem;
            color: #383742;

        }

        input {
            position: relative;
            width: 40.5rem;
            height: 4.8rem;
            background: #EAEBEF;
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;
            border: none;
        }
    }


    

    &__form-inner--type {
        input {
            width: 83rem;
        }
    }

  

    &__form-inner-text {
        font-weight: 400;
        margin-top: 1.2rem;
        font-size: 1.6rem;
        line-height: 125%;
        color: #A0A1A4;
    }

    &__btns {
        display: flex;
        align-items:center;
    }

    .red-btn {
        width: 45.3rem;
        margin-right: 3.8rem;
    }

    &__faq {
        font-weight: 500;
        font-size: 2rem;
        line-height: 136.5%;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        a {
            color:#DE755E;
            display: block;
        }
    }

    &__faq.active {
        display: flex;
    }

    &__two-text {
        font-weight: 500;
        font-size: 2rem;
        line-height: 136.5%;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        margin-top: 2rem;
        a {
            color:#DE755E;
        }
    }


  

    &__desk {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 125% ;
        margin-top: 1.2rem;
        color: #A0A1A4;
        margin-bottom: 4.8rem;

    }

    .red-btn {
        margin-right: 1.8rem;
        width: 65rem;
    }

    &__policy {
        margin-top: 2rem;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        width: 56rem;
        color: #A0A1A4;
        margin-bottom: 5.2rem;

        a {
            color:#DE755E;
        }
    }

    &__content-title {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
        letter-spacing: 0.05em;
        position: relative;
        color: #A0A1A4;
        padding-left: 31rem;
        padding-right: 31rem;
        margin-bottom: 2.8rem;
        &::before {
            position: absolute;
            content:'';
            width: 29rem;
            height: 0.1rem;
            background: #D9D9D9;
            top: 50%;
            right: 0;
           
        }

        &::after {
            position: absolute;
            content:'';
            width: 29rem;
            height: 0.1rem;
            background: #D9D9D9;
            top: 50%;
            left: 0;
            
        }

    }

    &__content-title.active {
        display: block;
    }

    &__social.active {
        display: flex;
    }

    &__social {
        display: flex;
        justify-content: center;
        align-items:center;

        a {
            width: 5rem;
            height: 5rem;
            margin-right: 6rem;
        }

        a:last-child {
            margin-right: 0;
        }

        
    }

    &__ready-title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: #383742;
        margin-bottom: 2rem;

    }

    &__ready-text {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        margin-bottom: 4rem;
    }

    &__ready-email {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        margin-bottom: 5.3rem;
        strong {
            font-weight: 700;
            color: #383742;
            padding-left: 0.5rem;
        }

    }

    &__block {
        span {
            display: block;
            font-style: normal;
            font-weight: 500;
            font-size: 2rem;;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            color: #A0A1A4;
            margin-bottom: 0.8rem;
        }

        a {
            display: block;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.5rem;
            letter-spacing: 0.02em;
            color: #DE755E;

        }
    }

    &__content--flex {
        display: flex;
        justify-content: center;
        align-items:center;
        height: 100%;
        padding: 0;
    }

   

  



    &__right--pas {
        padding-left: 12rem;
        padding-top: 31.6rem;
    }

    &__forgot-password-prev {
        position: absolute;
        background: #EAEBEF;
        border-radius: 50%;
        width: 7.7rem;
        height: 7.7rem;
        display: flex;
        justify-content: center;
        align-items:center;
        top: 5.2rem;
        left: 5.2rem;
        svg {
            width: 3rem;
            height: 1.5rem;
        }
    }

    &__forgot-password {
       width: 83rem;
    }

    &__forgot-password-form {
        display: flex;
        flex-direction: column;
        label {
            font-style: normal;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            margin-bottom: 1.2rem;
            display: block;
        }

        input {
            border:none;
            background: #EAEBEF;
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            width: 83rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;

        }
        .red-btn {
            width: 40.4rem;
            margin-right: 3.8rem;
        }
    }

    &__forgot-password-form-btns {
        display: flex;
        justify-content: initial;
        margin-top: 5.2rem;
        margin-bottom: 5.2rem;
        align-items:center;
    }


    &__forgot-password-title {
        width: 62.4rem;
        margin-bottom: 5.2rem;
        strong {
            display: block;
            font-family: 'Austin Cyr';
            font-style: normal;
            font-weight: 700;
            font-size: 3.7rem;
            line-height: 100%;
            letter-spacing: 0.02em;
            color: #383742;
            margin-bottom: 2.5rem;
        }

        span {
            font-weight: 500;
            font-size: 2.2rem;
            line-height: 118%;
            color: #A0A1A4;

        }

    }

    &__forgot-password-form-wrap {
        display: flex;
        justify-content: space-between;


        .lk-register__forgot-password-form-inner {
            width: 40.5rem;

            input {
                width: 100%;
            }
        }
    }

    &__forgot-password-form-wrap-text {
        margin-top: 1.2rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 125% ;
        color: #A0A1A4;
    }

  

    &__email {
        width: 83rem;
        padding-left: 6.8rem;
        
    }
    &__email-prev {
        margin-bottom: 18.7rem;
        background: #EAEBEF;
        border-radius: 50%;
        width: 7.7rem;
        height: 7.7rem;
        display: flex;
        justify-content: center;
        align-items:center;
        svg {
            width: 3rem;
            height: 1.5rem;
        }
    }


    &__email-title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 100%;
        letter-spacing: 0.02em;
        color: #383742;
        margin-bottom: 2.5rem;

    }

    &__email-text {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        margin-bottom: 5.2rem;
        width: 56.4rem;
    }

    input {
        &:focus {
            background: #FFFFFF;
            border: 0.1rem solid #DE755E;
            box-shadow: 8.59504px 8.59504px 20px rgba(222, 117, 94, 0.11);
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
          
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;
        }
    }

    &__email-form {
        display: flex;
        flex-direction: column;
        label {
            font-style: normal;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            margin-bottom: 1.8rem;
            display: block;
        }

        input {
            background: #FFFFFF;
            border: 0.1rem solid #DE755E;
            box-shadow: 8.59504px 8.59504px 20px rgba(222, 117, 94, 0.11);
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            width: 83rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;

        }
        .red-btn {
            width: 53.7rem;
            margin-top: 5.7rem;
        }
    }

    &__right--m {
        padding-left: 5.2rem;
        padding: 5.2rem 5.2rem;
    }

    &__form-inner--password {
        position: relative;
    }







   


}