.lk-sales {
	&__title {
		font-family: 'Austin Cyr';
		font-style: normal;
		font-weight: 700;
		font-size: 7.3rem;
		line-height: 96%;
		margin-bottom: 6rem;
		letter-spacing: 0.02em;
	}

	&__statistics-title {
		font-family: 'Austin Cyr';
		font-style: normal;
		font-weight: 700;
		font-size: 3.7rem;
		line-height: 100%;
		margin-bottom: 6.3rem;
		letter-spacing: 0.02em;
	}

	&__statistics-inner {
		display: flex;
		margin-bottom: 6rem;
	}

	&__statistics-box {
		width: 30.8rem;
		height: 19.7rem;
		background: #ffffff;
		border-radius: 4rem;
		position: relative;
		padding-top: 6.4rem;
		padding-left: 3rem;
		display: flex;
		flex-direction: column;
		padding-bottom: 2.5rem;
		margin-right: 3.5rem;
	}

	&__statistics-box:last-child {
		margin-right: 0;
	}

	&__statistics-box-circle {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		width: 7.4rem;
		height: 7.4rem;
		position: absolute;
		background: #e0e1e7;
		left: 3rem;
		top: -3rem;
		img {
			width: 3rem;
			height: 3rem;
		}
	}

	&__statistics-box-title {
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.4rem;
		letter-spacing: 0.02em;
		color: #1b1818;
	}

	&__statistics-box-sum {
		font-weight: 700;
		font-size: 3.7rem;
		line-height: 4.5rem;
		letter-spacing: 0.02em;
		color: #383742;
		position: relative;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		padding-right: 1.2rem;
		margin-right: 1rem;
	}

	&__statistics-box-sum--rub {
		&::before {
			position: absolute;
			content: '₽';
			font-weight: 700;
			font-size: 2rem;
			right: 0;
			top: -0.4rem;
		}
	}

	&__statistics-box-arrow {
		width: 1.6rem;
		height: 1.2rem;

		svg {
			fill:#DE755E;
		}
	}

	&__statistics-box-arrow.down {
		transform: rotate(180deg);
		svg {
			fill: #FFB42F;
		}
	}

	&__statistics-box-inner {
		display: flex;
		align-items: center;
		margin-top: auto;
	}

	&__chart {
		width: 100%;
		height: 60rem;
		background: #ffffff;
		border-radius: 5.5rem;
		padding: 6rem;
	}

	&__chart-wrap {
		display: none;
	}

	&__chart-wrap.active {
		display: block;
	}

	&__nav {
		display: flex;
	}

	&__nav-wrap {
		margin-top: 2rem;
	}

	&__lists {
		display: flex;
		padding-bottom: 2.4rem;
		margin-bottom: 6rem;
		border-bottom: 0.15rem solid rgba(160, 161, 164, 0.3);
		width: 105.2rem;
		margin-right: 6rem;
	}

	&__item {
		font-style: normal;
		font-weight: 700;
		font-size: 2.2rem;
		line-height: 2.7rem;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #a0a1a4;
		position: relative;
		cursor: pointer;
		&::before {
			position: absolute;
			content: '';
			width: 100%;
			height: 0.3rem;
			bottom: -2.6rem;
		}
	}

	&__item {
		margin-right: 10rem;
	}

	&__item:last-child {
		margin-right: 0;
	}

	&__item.active {
		color: #383742;
		&::before {
			background: #de755e;
		}
	}

	&__select {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ffffff;
		border-radius: 10.3rem;
		position: relative;
		width: 22.3rem;
		height: 7.7rem;
	}

	.new-select {
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ffffff;
		border-radius: 10.3rem;
		position: relative;
		width: 22.3rem;
		height: 7.7rem;
		position: relative;
		cursor: pointer;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;

		&::before {
			transition: all 0.2s;
			position: absolute;
			content: '';
			width: 1.6rem;
			height: 1.2rem;
			background-image: url(../img/icon/Polygon.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
			right: 3.5rem;
			top: 3.3rem;
		}
	}

	.new-select.on {
		&::before {
			transition: all 0.2s;
			transform: rotate(180deg);
		}
	}

	.new-select__list {
		position: absolute;
		top: 9rem;
		left: 0;
		border-radius: 5rem;
		cursor: pointer;
		width: 100%;
		z-index: 2;
		background: #fff;
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
	}

	.new-select__list.on {
		display: block;
	}

	.new-select__item span {
		display: block;
		padding: 2rem 3rem;
		font-size: 2rem;
		line-height: 2.5rem;
	}

	.new-select__item span:hover {
		color: #de755e;
	}

	&__chart-wrap-inner {
		margin-top: 3.2rem;
		display: flex;
		margin-left: auto;
		justify-content: flex-end;
	}

	&__chart-date {
		font-style: normal;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.4rem;
		margin-right: 3.2rem;
		letter-spacing: 0.02em;
		color: #a0a1a4;
	}

	&__chart-btn {
		display: flex;
		align-items: center;
		span {
			font-weight: 700;
			font-size: 2rem;
			line-height: 2.5rem;
			letter-spacing: 0.02em;
			display: block;
			color: #de755e;
			margin-right: 1rem;
		}

		img {
			width: 1.9rem;
			height: 1.9rem;
			display: block;
			transition: all 0.2s;
		}

		img.disabled {
			transform: rotate(180deg);
			transition: all 0.2s;
		}
	}

	&__advice {
		margin-top: 10rem;
		width: 133.5rem;
	}

	&__advice-title {
		display: flex;
		justify-content: space-between;
		margin-bottom: 3.2rem;
		align-items: center;
	}

	&__advice-word {
		font-family: 'Austin Cyr';
		font-style: normal;
		font-weight: 700;
		font-size: 3.7rem;
		line-height: 100%;
		letter-spacing: 0.02em;
		color: #1b1818;
	}

	&__advice-swiper {
		width: 100%;
		overflow: hidden;
	}

	&__sale-title {
		font-family: 'Austin Cyr';
		font-style: normal;
		font-weight: 700;
		font-size: 3.7rem;
		line-height: 100%;
		margin-bottom: 3.2rem;
		letter-spacing: 0.02em;
	}

	&__sale-nav {
		display: flex;
		width: 100%;
		margin-bottom: 3.2rem;
		.lk-sales__select {
			margin-left: auto;
			margin-right: 2rem;
		}

		.new-select {
			padding-right: 2rem;
		}
	}

	&__sale-nav-date {
		width: 29.8rem;
		height: 7.8rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ffffff;
		border-radius: 9.5rem;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.4rem;
		text-align: center;
		letter-spacing: 0.02em;
		color: #a0a1a4;
		border: none;
	}

	&__sale-filter-btn {
		width: 23rem;
		height: 7.9rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ffffff;
		border-radius: 10rem;

		span {
			position: relative;
			font-weight: 700;
			font-size: 2rem;
			line-height: 2.5rem;
			letter-spacing: 0.02em;
			padding-right: 6.3rem;

			&::before {
				position: absolute;
				content: '';
				width: 2.3rem;
				height: 2.3rem;
				background-image: url(../img/icon/candle.svg);
				background-repeat: no-repeat;
				background-size: 100% 100%;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);
			}
		}
	}

	&__sale-points {
		display: flex;
		background: #ffffff;
		border-radius: 2rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		padding-left: 3.8rem;
		padding-right: 3.7rem;
		margin-bottom: 1.5rem;
	}

	&__sale-points-left {
		display: flex;
	}

	&__sale-points-right {
		display: flex;
	}

	&__sale-item {
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;
		letter-spacing: 0.02em;
		color: #a0a1a4;
	}

	&__sale-item:nth-child(1) {
		margin-right: 7rem;
	}

	&__sale-item:nth-child(2) {
		margin-right: 37.5rem;
	}

	&__sale-item:nth-child(3) {
		margin-right: 11.5rem;
	}
	&__sale-item:nth-child(4) {
		margin-right: 10.4rem;
	}

	&__sale-item:nth-child(5) {
		margin-right: 7.7rem;
	}

	&__mob {
		display: none;
	}

	&__advice-bullets {
		display: none;
	}


	#myChart {}

	&__sale--header {
		margin-bottom: 3.5rem;
		margin-top: 10rem;
	}

	&__pagination-page {
		display: flex;
		align-items:center;
		
	}
	
	&__pagination-page-arrow-prev {
		padding-left: 3rem;
		position: relative;
	}

	&__pagination-page-numbers {
		display: flex;
		font-family: 'Austin Cyr';
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 500;
		line-height: 204.167%; 
		margin-right: 6.3rem;
	}


	&__pagination-page-number-sum {
		color:  #DE755E;
		padding-right: 7.7rem;
		position: relative;
		margin-right: 1.4rem;
		&::before {
			position: absolute;
			content:'';
			width: 6.3rem;
			height: 0.15rem;
			background: rgba(160, 161, 164, 0.30);
			right: 0;
			top: 50%;
				transform: translate(0, -50%);
		}

	}

	&__pagination-page-arrows {
		display: flex;
	}

	&__pagination-page-arrow-prev {
		cursor: pointer;
		margin-right: 3rem;
		position: relative;
		padding-right: 3rem;
		&::before {
			position: absolute;
			content: '';
			right: 0;
			top: 0;
			width: 0.14rem;
			background: rgba(160, 161, 164, 0.3);
			height: 4.6rem;
			top: 50%;
			transform: translate(0, -50%);
		}
		svg {
			width: 3.2rem;
			height: 1.6rem;

			transition: transform 0.5s ease;
		}

		&:hover {
			> svg {
				transform: translateX(-0.2rem);
				transition: transform 0.5s ease;
			}
		}
	}

	
	&__pagination-page-arrow-next {
		cursor: pointer;
		svg {
			width: 3.2rem;
			height: 1.6rem;

			transition: transform 0.5s ease;
		}

		&:hover {
			> svg {
				transform: translateX(0.2rem);
				transition: transform 0.5s ease;
			}
		}
	}


	&__pagination-page-link {
		color:  #999;
		font-size: 1.6rem;
		font-style: normal;
		font-weight: 500;
		line-height: 125%;
		margin-right: 2rem; 
	}

	&__pagination-page-inner {
		display: flex;
		align-items: center;
		margin-left: auto;
	}

	&__pagination-page-wrap {
		display: flex;
		width: 8.8rem;
		padding: 1.4rem 2.4rem;
		justify-content: center;
		align-items: center;
		border-radius: 1rem;
		background:  #FFF;
		margin-right: 2rem;

		color:  #383742;
		font-size: 1.8rem;
		font-style: normal;
		font-weight: 500;
		line-height: normal;
	}

	&__pagination-page-link-two {
		color:  #DE755E;
		font-size: 2rem;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.4px;
	}

	&__sale-wrapper {
		display: flex;
		flex-wrap: wrap;
	}


	

	

	
}
