.m-sidebar {
	width: 40.5rem;
	&__top {
		background: #ffffff;
		border-radius: 3rem;
		height: 14.9rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__top-avatar {
		position: relative;
		height: 12rem;
		width: 13rem;
		top: -4rem;
		border-radius: 50% 0 50% 0;
	}

	&__top-avatar-image {
		height: 10.7rem;
		width: 10.7rem;
		border: 0.5rem solid #fff;
		border-radius: 50%;
	}

	&__top-avatar-star {
		position: absolute;
		width: 3.3rem;
		height: 3.3rem;
		bottom: 0.2rem;
		left: 3.3rem;
	}

	&__top-inner {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-top: -4rem;
	}

	&__top-name {
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;
		margin-bottom: 0.4rem;
		text-align: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #1d1f26;
	}

	&__top-mail {
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.4rem;
		text-align: center;
		color: #9ba8a8;
	}

	&__bottom {
		background: #ffffff;
		border-radius: 3rem;
		border-top: 0.15rem dashed rgba(160, 161, 164, 0.3);
		padding-top: 4.5rem;
		padding-bottom: 4.2rem;
	}

	&__item {
		display: flex;
		padding-left: 2rem;
		height: 5.6rem;
		margin-bottom: 0.8rem;
		padding-top: 1.6rem;
		padding-bottom: 1.6rem;
		border-left: 0.4rem solid #fff;
		cursor: pointer;
		.icon {
			width: 2.4rem;
			height: 2.4rem;
			margin-right: 2rem;

			svg {
				width: 2.4rem;
				height: 2.4rem;
			}
		}

		.text {
			font-weight: 700;
			font-size: 2rem;
			line-height: 2.5rem;
			letter-spacing: 0.02em;
			color: #a0a1a4;
		}
	}

	&__item.active {
		background: linear-gradient(
			90deg,
			rgba(255, 180, 47, 0.4) -11.98%,
			rgba(255, 255, 255, 0) 104.42%
		);
		border-left: 0.4rem solid #ffb42f;
		.text {
			color: #ffb42f;
		}
	}

	&__item--p.active {
		background: linear-gradient(
			90deg,
			rgba(255, 219, 212, 0.8) -11.98%,
			rgba(255, 219, 212, 0) 104.42%
		);
		border-left: 0.4rem solid #de755e;

		.text {
			color: #de755e;
		}
	}

	&__cab-link {
		margin-top: 4rem;
		display: block;
		padding-left: 2.5rem;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;
		letter-spacing: 0.02em;
		color: #ffb42f;
		padding-right: 5.5rem;
		position: relative;
		margin-bottom: 5rem;
		&::before {
			position: absolute;
			content: '';
			width: 3.2rem;
			height: 1rem;
			top: 0.8rem;
			right: 0;
			background-image: url(../img/icon/arroworange.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}

	&__m-link {
		margin-top: 4rem;
		display: block;
		padding-left: 2.5rem;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;
		letter-spacing: 0.02em;
		color: #de755e;

		padding-right: 5.5rem;
		position: relative;
		margin-bottom: 5rem;
		&::before {
			position: absolute;
			content: '';
			width: 3.2rem;
			height: 1rem;
			top: 0.8rem;
			right: 0;
			background-image: url(../img/lk-m/redarrownext.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}

	&__exit {
		margin-left: 2rem;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;
		padding-left: 4.8rem;
		position: relative;
		&::before {
			position: absolute;
			content: '';
			width: 2.4rem;
			height: 2.4rem;
			top: 50%;
			transform: translate(0, -50%);
			left: 0;
			background-image: url(../img/icon/log-in.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}
}
