@media only all and  (max-width: 48em) {

.header {
    margin-bottom: 6rem;
    &__burger {
        display: flex;
        justify-content: center;
        padding-top: 5.1rem;
        width: 11rem;
        height: 11rem;
        background: #fff;
        border-radius: 50%;
        position: relative;
        transition-duration: 1s;
        cursor: pointer;
        margin-right: 1rem;
       
        z-index: 4;
        span {
            height: 0.4rem;
            width: 4.9rem;
            background-color: #383742;
            border-radius: 20%;
            position: absolute;
            transition-duration: .25s;
            transition-delay: .25s;    
            &::before {
                left: 0;
                position: absolute;
                top: -7px;
                height: 0.4rem;
                width: 4.9rem;
                background-color: #383742;
                border-radius: 20%;
                content: "";
                transition-duration: .25s;
                transition: transform .25s, top .25s .25s;
            }

            &::after {
                left: 0;
                position: absolute;
                top: 7px;
                height: 0.4rem;
                width: 4.9rem;
                background-color: #383742;
                border-radius: 20%;
                content: "";
                transition-duration: .25s;
                transition: transform .25s, top .25s .25s;
            }
        }



     
    }

    &__nav {
        display: none;
    }




   


    &__burger.open {
        span {
            transition-duration: 0.1s;
            transition-delay: .25s;
            background: transparent;
        }
        span:before {
            transition: top .25s, transform .25s .25s;
            top: 0px;
            transform: rotateZ(-45deg);
        }
        span:after {
            transition: top 0.4s, transform .25s .25s;
            top: 0px;
            transform: rotateZ(45deg);
        }
    }

    &__like {
        display: none;
    }

    &__search {
        display: none;
    }

    &__user {
        width: 11rem;
        height: 11rem;
        img {
            width: 4.4rem;
            height: 4.4rem;
        }
    }

    &__bag {
        width: 11rem;
        height: 11rem;
        img {
            width: 4.4rem;
            height: 4.4rem;
        }
    }

    &__wrap-logo {
        height: 11rem;
        width: 43.2rem;
    }

    &__logo {
        width: 32.2rem;
        height: 3.6rem;
    }
}


.pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__bullets {
		width: fit-content!important;
		display: flex;
		align-items: center;
		.swiper-pagination-bullet {
			width: 1.4rem;
			height: 1.4rem;
			background: rgba(43, 47, 54, 0.3);
			backdrop-filter: blur(25px);
			opacity: 1;
		}

		.swiper-pagination-bullet-active {
			background: #2B2F36;
			width: 1.4rem;
			height: 1.4rem;
		}
	}

	&__arrows {
		display: flex;
	}

	&__prev,
	&__next {
		cursor: pointer;
		svg {
			width: 5rem;
			height: 2rem;
			
			transition: transform .5s ease;
		}

		&:hover {
			> svg {
			  transform: translateX(0.2rem);
			  transition: transform .5s ease;
			}
		  }
		
	}

	&__prev {
		margin-right: 3rem;
		position: relative;
		padding-right: 3rem;
		&::before {
			position: absolute;
			content:'';
			right: 0;
			top: 0;
			width: 0.14rem;
			background: rgba(160, 161, 164, 0.3);
			height: 4.6rem;
			top: 50%;
            transform: translate(0, -50%);
		}
	}


	


	&__fraction {
		position: initial;
		width: 22.4rem;
		display: flex;
		font-size: 0em;
		
		
		.swiper-pagination-total  {
			display: block;
			font-family: 'Austin Cyr';
			font-style: normal;
			font-weight: 500;
			font-size: 2.8rem;
            line-height: 7.2rem;
			color: #383742;
			

		}


		.swiper-pagination-current {
			font-family: 'Austin Cyr';
			font-style: normal;
			font-weight: 500;
			font-size: 2.8rem;
            line-height: 7.2rem;
			color: #383742;
			position: relative;
			display: block;
			padding-right: 13.2rem;
			margin-right: 4.1rem;
			&::before {
				position: absolute;
				content:'';
				width: 9.1rem;
				height: 0.3rem;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);
				background:rgba(160, 161, 164, 0.3);
			}
		}



		

	}
}

.all-btn {
    width: 40.8rem;
    height: 11rem;
    padding: 3.8rem 4rem;

    span {
        font-weight: 700;
        font-size: 2.8rem;
        line-height: 3.4rem;
        letter-spacing: 0.02em;
        padding-right: 9rem;
       &::before {
            width: 5rem;
            height: 2rem;
       }

    }
}

.link {
    font-size: 2.8rem;
    line-height: 3.4rem;
    padding-right: 7.8rem;
    &::before {
        width: 5rem;
        height: 1.6rem;
        top: 1rem;
    }
}

.title {
    flex-direction: column;
    align-items: initial;
    margin-bottom: 6rem;

    span {
        font-size: 2.8rem;
        line-height: 3.4rem;
        margin-bottom: 0.8rem;
    }

    strong {
        font-size: 6rem;
        line-height: 7.2rem;
    }

    .link {
        width: fit-content;
        margin-top: 3rem;
    }
}

.main {
    margin-bottom: 12rem;
    &__wrapper {
        flex-direction: column;
    }

    &__left {
        margin-bottom: 4rem;
    }

    &__big {
        width: 100%;
        height: 67.4rem;
    }

    &__big-title {
        width: 57.7rem;
        font-size: 6rem;
        line-height: 7.2rem;
        letter-spacing: 0.02em;
        padding-bottom: 13rem;
        margin-bottom: 6rem;
        &::before {
            right: 3rem;
        }
    }

    &__big-text {
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 3.2rem;
        width: 58.8rem;
    }

    &__big-image {
        width: 16rem;
        height: 16rem;
        top: 27.1rem;
        right: 1rem;
    }

    &__small {
        height: 32rem;
        width: 100%;
        flex-direction: column-reverse;
        border-radius: 5rem;
        padding: 3rem;
    }

    &__small-inner {
        width: 100%;
        height: 11rem;
        background-size: cover;
        padding-left: 3.6rem;
        padding-top: 4.2rem;
    }

    &__small-svg,
    &__small-photo,
    &__small-text {
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2.6rem;
        letter-spacing: 0.05em;
        height: 11rem;
        padding-left: 3.8rem;

        &::before {
            width: 3.4rem;
            height: 3.4rem;
            top: -0.4rem;
        }
    }

    &__small-svg {
        margin-right: 9rem;
    }

    &__small-photo {
        margin-right: 9rem;
    }

    &__slide-content-text {
        width: 24.8rem;
        height: 8.2rem;
        font-size: 2.8rem;
        line-height: 3.4rem;
    }

    &__white {
        flex-direction: column-reverse;
        align-items: initial;
        height: 64.6rem;
        padding: 3rem;
        width: 100%;
    }

    &__white-text {
        margin-bottom: 4rem;
        strong {
            font-weight: 700;
            font-size: 6rem;
            line-height: 7.2rem;
            margin-bottom: 2rem;
        }

        a {
            font-size: 2.8rem;
            line-height: 3.2rem;
        }
    }

    &__white-image {
        width: 100%;
        height: 34rem;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.cat-product {
    width: 36.4rem;
    height: 61.4rem;
    &__block {
        width: 100%;
        height: 47rem;
        padding: 3rem;
    }

    &__image-block {
        width: 27.4rem;
        height: 22.4rem;
        margin-bottom: 3rem;
    }

    &__number {
        width: 15.4rem;
        height: 5.8rem;
        font-size: 2.8rem;
        line-height: 3.4rem;
        top: 0;
    }

    &__arrow {
        display: none;
    }

    &__title {
       strong {
        font-size: 4rem;
        line-height: 4.8rem;
        margin-bottom: 0.6rem;
       }

       span {
        font-size: 2.8rem;
        line-height: 3.2rem;
       }
    }

    &__inner {
        justify-content: space-between;
    }

    &__like {
        width: 17.4rem;
        height: 9.4rem;
        margin-right: 0;
      
        span {
            font-size: 2.8rem;
            line-height: 3.4rem;
            padding-left: 4.4rem;
            &::before {
                width: 3.5rem;
                height: 2.6rem;
            }
        }
    }

    &__views {
        margin-right: 0;
        width: 17.4rem;
        height: 9.4rem;
        span {
            font-size: 2.8rem;
            line-height: 3.4rem;
            padding-left: 4.4rem;
            &::before {
                width: 3.5rem;
                height: 2.6rem;
            }
        }
    }
}

.popular-users {
    margin-bottom: 12rem;

    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 6rem;
    }
}



.c-font {
    width: 100%;
    height: 70.4rem;
    &__block {
        background-size: 100% 100%;
        height: 50rem;
        border-radius: 5rem;
    }

    &__image {
        width: 100%;
        height: 38rem;

        img {
            border-radius: 5rem;
        }

    }

    &__rhombus {
        width: 10.4rem;
        height: 10.4rem;
        font-size: 2.8rem;
        line-height: 3.4rem;
        padding-top: 0.8rem;
    }

    &__inner {
        height: 20.4rem;
        border-radius: 5rem;
        padding-top: 5rem;
        padding-bottom: 4rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &__price {
        width: 14.4rem;
        height: 7.8rem;
        background: #FFDBD4;
        border-radius: 6rem;
        bottom: 2.8rem;
        right: 3rem;

        span {
            font-size: 3rem;
            line-height: 3.8rem;

            &::before {
                font-size: 2rem;
                right: -0.5rem;
            }
        }
    }

    &__title {
        strong {
            font-size: 3rem;
            line-height: 3.6rem;
            letter-spacing: 0.05em;
            margin-bottom: 1rem;
        }

        span {
            font-size: 2.8rem;
            line-height: 3.2rem;
        }
    }
}



.c-graph {
    width: 100%;
    height: 70.4rem;
    &__block {
        background-size: 100% 100%;
        height: 50rem;
        border-radius: 5rem;
    }

    &__image {
        width: 100%;
        height: 38rem;

        img {
            border-radius: 5rem;
        }

    }

    &__rhombus {
        width: 10.4rem;
        height: 10.4rem;
        font-size: 2.8rem;
        line-height: 3.4rem;
        padding-top: 0.8rem;
    }

    &__inner {
        height: 20.4rem;
        border-radius: 5rem;
        padding-top: 5rem;
        padding-bottom: 4rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    &__price {
        width: 14.4rem;
        height: 7.8rem;
        background: #FFDBD4;
        border-radius: 6rem;
        bottom: 2.8rem;
        right: 3rem;

        span {
            font-size: 3rem;
            line-height: 3.8rem;

            &::before {
                font-size: 2rem;
                right: -0.5rem;
            }
        }
    }

    &__title {
        strong {
            font-size: 3rem;
            line-height: 3.6rem;
            letter-spacing: 0.05em;
            margin-bottom: 1rem;
        }

        span {
            font-size: 2.8rem;
            line-height: 3.2rem;
        }
    }
}

.popular-graph {
    margin-bottom: 12rem;
    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 6rem;
    }
}

.popular-fonts {
    margin-bottom: 12rem;

    &__pagination {
        display: flex;
        justify-content: center;
        margin-top: 6rem;
    }
}

.author {
    margin-bottom: 12rem;
    &__image {
        display: none;
    }

    &__image-mob {
        width: 100%;
        display: block;
        height: 32rem;
        margin-bottom: 6rem;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__title {
        width: 100%;

        strong {
            margin-bottom: 6rem;
        }

        span {
            font-size: 2.8rem;
            line-height: 157%;
           
        }
    }

    .all-btn {
        width: 44.8rem;
    }
}

.collections {
    margin-bottom: 12rem;
    .container {
        width: 100%;
        padding: 0 3rem;
    }
    &__wrapper {
        flex-direction: column;
    }

    &__left {
        margin-bottom: 3rem;
    }

    &__right {
        flex-direction: column;
        margin-left: 0;
    }

    &__one {
        width: 100%;
        height: 40rem;
        margin-bottom: 0rem;
        &::before {
            width: 5rem;
            height: 5rem;
        }

    }

    &__one-title {
        strong {
            font-size: 4rem;
            line-height: 4.8rem;
        }

        span {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.2rem;
            margin-bottom: 1rem;
        }
    }

    &__one-rub {
        width: 24.8rem;
        height: 8.2rem;
        font-size: 2.8rem;
        line-height: 3.4rem;
    }


    &__two {
        width: 100%;
        height: 40rem;
        margin-bottom: 3rem;
        margin-right: 0;

        &::before {
            width: 5rem;
            height: 5rem;
        }

    }

    &__two-title {
        strong {
            font-size: 4rem;
            line-height: 4.8rem;
        }

        span {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.2rem;
            margin-bottom: 1rem;
        }
    }

    &__three {
        display: none;
    }


    &__four {
        width: 100%;
        height: 40rem;
        
        margin-right: 0;
        margin-bottom: 3rem;
        &::before {
            width: 5rem;
            height: 5rem;
        }

    }

    &__four-title {
        strong {
            font-size: 4rem;
            line-height: 4.8rem;
        }

        span {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.2rem;
            margin-bottom: 1rem;
        }
    }

    &__four-rub {
        width: 24.8rem;
        height: 8.2rem;
        font-size: 2.8rem;
        line-height: 3.4rem;
    }


    &__five {
        width: 100%;
        height: 40rem;
        
        margin-right: 0;
        margin-bottom: 3rem;
        &::before {
            width: 5rem;
            height: 5rem;
        }

    }

    &__five-title {
        strong {
            font-size: 4rem;
            line-height: 4.8rem;
        }

        span {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.2rem;
            margin-bottom: 1rem;
        }
    }

  
}

.advice {
    margin-bottom: 12rem;
}

.advice-c {
    width: 100%;
    height: 100rem;

    &__block {
        height: 65.6rem;
        border-radius: 5rem;
    }

    &__block-image {
        img {
            border-radius: 5rem;
        }
    }

    &__inner {
        border-radius: 5rem;
        height: 34.4rem;
    }
    
    &__content {
        border-radius: 5rem;
        padding-left: 3rem;
    }

    &__content-face {
        width: 14rem;
        height: 14rem;
        border: 0.4rem solid #FFFFFF;
        top: -7rem;
    }

    &__content-face-img {
        width: 10.4rem;
        height: 10.4rem;
    }

    &__content-name {
        font-size: 2.8rem;
        line-height: 3.2rem;
        padding-top: 3.4rem;
        position: relative;
        z-index: 3;
        padding-left: 16.3rem;
    }

    &__content-inner {
        margin-bottom: 5.6rem;
    }

    &__title {
        font-size: 3rem;
        line-height: 3.6rem;
        width: 56.2rem;
        margin-bottom: 7.2rem;
    }

    &__date {
        font-size: 2.2rem;
        line-height: 2.6rem;
        display: block;
    }

    &__white {
        width: 23.2rem;
        height: 13rem;
        border-radius: 5rem;
        padding-left: 5.4rem;
        padding-top: 2.8rem;

        b {
            font-size: 5rem;
            line-height: 7.4rem;
        }

        strong {
            font-size: 3.2rem;
            line-height: 0rem;
            height: fit-content;
        }

        span {
            font-size: 2.8rem;
            line-height: auto;
        }
    }
}

.red-btn {
    border-radius:10rem;
    height: 11rem;
    span {
        font-size: 2.8rem;
        line-height: 3.4rem;
    }
}

.willkommensfenster {
    margin-bottom: 12rem;
    &__left {
        display: none;
    }

    &__right {
        width: 100%;
        position: initial;
        height: auto;
        padding: 6rem 3rem;
    }

    &__content {
        width: 100%;
        .red-btn {
            width: 100%;
            min-width: 100%;
            
        }
    }

   

    &__text {
        margin-bottom: 5rem;

        strong {
            font-weight: 700;
            font-size: 7rem;
            line-height: 7.2rem;
            margin-bottom: 2.5rem;
        }

        p {
            font-size: 2.9rem;
            line-height: 137%;
            margin-bottom: 4.1rem;
        }
    }
}


.lk-ex {
    margin-bottom: 12rem;
    &__left {
        display: none;
    }

    &__right {
        width: 100%;
        position: initial;
        height: auto;
        padding: 6rem 3rem;
    }

    .checkbox {
        width: 26rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 6rem;
        line-height: 7.2rem;
        letter-spacing: 0.02em;
        margin-bottom: 5rem;
    }

    &__form-inner {
        width: 100%;
        margin-bottom: 5rem;
        label {
            font-size: 2.8rem;
            line-height: 3.4rem;
            margin-bottom: 1.8rem;
        }

        input {
            border-radius: 2rem;
            height: 9.6rem;
            padding-left: 2rem;
            font-size: 2.8rem;
            line-height: 3.4rem;
        }
    }

    &__see {
        width: 4.8rem;
        height: 4.8rem;
        bottom: 2rem;
        right: 3rem;
    }

    &__content-btns {
        margin-top: 5rem;
    }

    &__content-btns-link {
        font-size: 2.8rem;
        line-height: 3.4rem;
    }

    &__content-bottom-inner {
        display: flex;
        flex-direction: column;
    }

    .red-btn {
        width: 100%;
        margin-bottom: 2.4rem;
    }

    &__content-bottom-inner {
        margin-bottom: 5.4rem;
        span {
            font-size: 2.8rem;
            line-height: 3.4rem;
            margin-bottom: 1rem;
        }

        a {
            font-size: 2.8rem;
            line-height: 3.4rem;
        }
    }

    &__content-bottom-policy {
        display: none;
    }

    &__content-title {
        padding-left: 18rem;
        padding-right: 18rem;
        font-size: 2.8rem;
        line-height: 3.4rem;
        margin-bottom: 4rem;
        &::before {
            width: 16rem;
            height: 0.2rem;
        }

        &::after {
            width: 16rem;
            height: 0.2rem;
        }
    }

    &__social {
        a {
            width: 8rem;
            height: 8rem;
            margin-right: 8rem;
        }
    }
}

.checkbox {
	display: block;
	position: relative;
	cursor: pointer;
	font-weight: 500;
	font-size: 2.8rem;
    line-height: 3.4rem;
	letter-spacing: 0.02em;
	user-select: none;
	padding-left: 10rem;
	padding-top: 0.8rem;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	
  }
  
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	width: 8rem;
	height: 8rem;
	background: #E0E1E7;
	border-radius: 2rem;
	
  }
 
  

  
  .checkbox:hover input ~ .checkmark {
	background: #E0E1E7;
  }
  
  .checkbox input:checked ~ .checkmark {
	
	box-shadow: 8.59504px 8.59504px 20px rgba(56, 55, 66, 0.11);
  }
  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .checkbox input:checked ~ .checkmark:after {
	display: block;
  }
  
  .checkbox .checkmark:after {
	position: absolute;
	content:'';
	background-image: url(../img/icon/check.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	top: 50%;
	right: 0;
	transform: translate(-80%, -50%);
	
	width: 3rem;
	height: 3rem;
  }

  .register-m {
    &__left {
        display: none;
    }

    &__right {
        width: 100%;
        position: initial;
        padding: 6rem 3rem;
        height: auto;
    }

    &__numbers {
        padding-left: 0;
        justify-content: space-between;
    }

    &__numbers-box {
        display: flex;
        padding-bottom: 3rem;
        width: 50%;
        border-bottom: 0.3rem solid #DE755E;
    }

    &__numbers-box-number {
        width: 6rem;
        height: 6rem;
        margin-right: 1.2rem;
        margin-bottom: 0;
        &::after {
            display: none;
        }
        &::before {
            width: 2rem;
            height: 1.8rem;
            top: -2rem;
        }
        span {
            font-size: 2.8rem;
            line-height: 129%;
         


        }
    }

    &__numbers-box-text {
        margin-left: 0;
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 176%;
        


    }

    &__numbers-box.no-active--mobile {
        border-bottom: 0.3rem solid #E0E1E7;
    }

    &__numbers-box-number.no-active--mobile {
      margin-left: auto;
    }

    &__numbers-box-text.no-active--mobile {
        display: none;
        
    }

    &__content {
        width: 100%;
    }

    &__title {
        margin-bottom: 5rem;
        strong {
            font-size: 6rem;
            line-height: 7.2rem;
            margin-bottom: 2rem;
        }

        span {
            font-size: 2.8rem;
            line-height: 3.2rem;
        }
    }

    &__form-wrap {
        flex-direction: column;
        margin-bottom: 0;
    }

    &__form-inner {
        margin-bottom: 5rem;
        .select {
            width: 100%;
        }

        label {
            font-size: 2.8rem;
            line-height: 3.2rem;
            margin-bottom: 2rem;
        }

        input {
            height: 9.6rem;
            border-radius: 2rem;
            padding: 2.8rem 4.8rem;
            width: 100%;
            font-size: 2.8rem;
            line-height: 143%;
           
        }
    }

    &__form-inner-text {
        font-size: 2.8rem;
        line-height: 125% ;
        margin-top: 1.2rem;

    }

    &__btns {
        flex-direction: column;
        align-items: initial;
        .red-btn {
            width: 100%;
        }
    }

    &__faq {
        font-size: 2.8rem;
        line-height: 137%;
        margin-top: 6rem;
    }

    &__numbers--two {
        margin-bottom: 5rem;
        justify-content: initial;
        border-bottom: 0.3rem solid #DE755E;
    }

    &__numbers-box-text.no-before {
        display: none;
    }

    &__numbers-box--end {
        width: auto;
        border: none;
    }

    &__two-text {
        font-size: 2.8rem;
        line-height: 137%;
        margin-top: 6rem;
    }
  }


  .lk-register {
    &__left {
        display: none;
    }

    &__right {
        width: 100%;
        position: initial;
        padding: 6rem 3rem;
        height: auto;
    }

   &__desk {
    font-size: 2.4rem;
    line-height: 2.8rem;
    margin-top: -4rem;
   }

   

    &__content {
        width: 100%;
    }

    &__title {
        margin-bottom: 5rem;
        strong {
            font-size: 6rem;
            line-height: 7.2rem;
            margin-bottom: 2rem;
        }

        span {
            font-size: 2.8rem;
            line-height: 3.2rem;
        }
    }

    &__form-wrap {
        flex-direction: column;
        margin-bottom: 0;
    }

    &__form-inner {
        margin-bottom: 5rem;
        .select {
            width: 100%;
        }

        label {
            font-size: 2.8rem;
            line-height: 3.2rem;
            margin-bottom: 2rem;
        }

        input {
            height: 9.6rem;
            border-radius: 2rem;
            padding: 2.8rem 4.8rem;
            width: 100%;
            font-size: 2.8rem;
            line-height: 143%;
           
        }
    }

    &__form-inner-text {
        font-size: 2.8rem;
        line-height: 125% ;
        margin-top: 1.2rem;

    }

    &__btns {
        
        align-items: center;
        justify-content: space-between;
        .red-btn {
            width: 43rem;
        }
    }

    &__faq {
        font-size: 2.8rem;
        line-height: 137%;
        padding-right: 10rem;
        font-weight: 700;
        span {
            display: none;
        }
    }

    &__policy {
        font-size: 2.8rem;
        line-height: 3.4rem;
        width: 63rem;
        margin-bottom: 4.8rem;
    }
  
    &__two-text {
        font-size: 2.8rem;
        line-height: 137%;
        margin-top: 6rem;
    }
  }

  .select {
    height: 9.6rem;
    border-radius: 2rem;
    padding: 2.8rem 4.8rem;
  }

  .select-head {
	
	font-size: 2.8rem;
    line-height: 143%;
	
   
}



.select-head::after {
	width: 2rem;
	height: 2rem;
	background-image: url(../img/icon/tringle.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 4rem;
	transform: translateY(50%);
	content: '';
	display: block;
	transition: .2s ease-in;
	top: 3rem;
}

.select-head.open::after {
	transform: translateY(50%) rotate(180deg);
}

.select-list {
	border-radius: 2rem;
	font-weight: 400;
	font-size: 2.8rem;
    line-height: 143%;

	overscroll-behavior: contain;
}



.select-list .select-item {
	position: relative;
	padding: 1.5rem 1.5rem;
	
	
	cursor: pointer;
	list-style-type: none;
	border-bottom: 0.1rem solid rgba(189, 191, 197, 0.4);
	&::before {
		position: absolute;
		content:'';
		width: 2.4rem;
		height: 1rem;
		right: 2rem;
		top: 50%;
		transform: translate(0, -50%);
	}
}

.select-list .select-item:last-child {
	border-bottom: none;
	text-transform: uppercase;
}

.select-list .select-item:hover {
	background-color: rgba(224, 229, 231, 0.5);
}



.modal {
    padding: 0 3rem;
    &__close {
        width: 11rem;
        height: 11rem;
        img {
            width: 2.6rem;
            height: 2.6rem;
        }
    }

    &__container {
        width: 100%;
    }
}

.thanks-reg {
    &__box {
        width: 100%;
    }

    &__box-icon {
        width: 11rem;
        height: 11rem;
        margin-bottom: 3rem;
        img {
            width: 2.8rem;
            height: 1.8rem;
        }
    }

    &__box-title {
        strong {
            font-size: 6rem;
            line-height: 7.2rem;
        }

        span {
            font-size: 2.8rem;
            line-height: 3.4rem;
        }
    }
}


.art-modal {
    padding-top: 8rem;
    padding-bottom: 8rem;
    &__box {
        padding: 6rem 3rem;
        border-radius: 6rem;
    }

    &__title {
        margin-bottom: 6rem;
        strong {
            font-size: 5rem;
            line-height: 6rem;
            margin-bottom: 3rem;
        }

        span {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.4rem;
        }
    }

    &__inner {
        flex-direction: column;
        margin-bottom: 6rem;
    }

    &__image {
        margin-right: 0;
        width: 34.8rem;
        height: 28.2rem;
        margin-bottom: 3rem;
    }

    &__text {
        strong {
            font-weight: 700;
            font-size: 3.2rem;
            line-height: 4rem;
            margin-bottom: 2.2rem;
        }

        span {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.4rem;
        }
    }
}


.m-sidebar {
    width: 100%;

    &__top {
        display: none;
    }

    &__bottom {
        background:none;
        border: none;
    }

    &__lists {
        display: flex;
        width: 100%;
        justify-content: initial;
        align-items: initial;
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        border-bottom: 0.3rem solid #A0A1A4;
      
    }

     
  
    
    &__lists::-webkit-scrollbar {
        display: none;
    } 

    &__item {
        background:none;
        border-left: none;
        height: 0;
        padding: 0;
        padding-bottom: 4rem;
        min-width: fit-content;
        border-left:none;
        margin-right: 10rem;
        position: relative;
        margin-bottom: 0;
        &::before {
            position: absolute;
            content:'';
            width: 100%;
            height: 0.3rem;
            bottom: -0.2rem;
         }
        .icon {
            display: none;
        }

        .text {
            font-weight: 700;
            font-size: 2.8rem;
            line-height: 3.4rem;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #A0A1A4;

        }
    }

    &__item.active {
        background: none;
        border-left:none;
       &::before {
        background:#DE755E;
       }

        .text {
            color: #383742;
        }
    }

    &__cab-link {
        font-size: 2.8rem;
        padding-left: 0;
        padding-right: 6.5rem;
        &::before {
            width: 6rem;
            height: 1.4rem;
        }
    }

    &__exit {
        margin-left: 0;
        padding-left: 5rem;
        font-size: 2.8rem;
        &::before {
            width: 4rem;
            height: 4rem;
        }
    }
}


.lk-m {
    &__wrapper {
        flex-direction: column;
    }

    &__left {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 6rem;
    }

    &__title {
        display: none;
    }

    &__numbers {
        max-width: 100%;
        overflow: hidden;
    }


    &__mob-title {
        display: block;
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 6rem;
        line-height: 7.2rem;
        margin-bottom: 6.4rem;
        letter-spacing: 0.02em;
    }

    &__box {
        width: 100%;
    }


    &__examination-wrapper {
        flex-direction: column;
    }

    &__start-wrap {
        flex-direction: column;
    }

    &__start-right {
        display: none;
    }

    &__start-left  {
        margin-right: 0;
        width: 100%;
    }

    &__box {
        border-radius: 6rem;
        padding: 4rem 3rem;
    }


    &__numbers {
        padding-left: 0;
        border-bottom: 0.3rem solid #E0E1E7;
        padding-bottom: 1rem;
        padding-top: 2rem;
        
    }

    &__numbers-box {
        display: flex;
        position: relative;
        width: auto;
        border:none;
        padding-bottom: 3rem;
      
    }

    &__numbers-box.active--mobile {
        &::before {
            position: absolute;
            content:'';
            width: 100%;
            height: 0.3rem;
            background:#DE755E;
            bottom: -1.2rem;
        }
    }

    &__numbers-box-number {
        width: 6rem;
        height: 6rem;
        margin-right: 1.2rem;
        margin-bottom: 0;
        &::after {
            display: none;
        }
        &::before {
            width: 2rem;
            height: 1.8rem;
            top: -2rem;
        }
        span {
            font-size: 2.8rem;
            line-height: 129%;
         


        }
    }

    &__numbers-box-text {
        margin-left: 0;
        font-weight: 500;
        font-size: 2.8rem;
        line-height: 176%;
        


    }

    &__numbers-box.no-active--mobile {
        margin-left: auto;
    }

    &__numbers-box-number.no-active--mobile {
      margin-left: auto;
    }

    &__numbers-box-text.no-active--mobile {
        display: none;
        
    }

    &__numbers-box--ready {
        .lk-m__numbers-box-text {
            display: none;
        }
    }

    &__start-title {
        font-weight: 700;
        font-size: 6rem;
        line-height: 7.2rem;
        margin-bottom: 5rem;
    }

    &__start-inner {
        margin-right: 0;
        margin-bottom: 5rem;
        label {
            font-weight: 500;
            font-size: 2.8rem;
            line-height: 3.4rem;
            margin-bottom: 1.8rem;
        }
        input {
            width: 100%;
            height: 9.6rem;
            border-radius: 2rem;
            padding: 2.8rem 4.8rem;
            font-size: 2.8rem;
            line-height: 143%;
        }
    }


    &__start-sel-text {
        font-size: 2.4rem;
        line-height: 146%;
        margin-top: 1.2rem;
       


    }

    .red-btn {
        width: 100%;
    }


    &__start-description {
        font-size: 2.8rem;
        line-height: 137%;
        margin-bottom: 4rem;
    }


    .input-file span {
        width: 74rem;
        height: 31rem;
        background-image: url(../img/lk-m/dowmobile.svg);
    }


    .input-file-list-item {
        margin-top: 3.2rem;
        width: 100%;
        background: #de755e;
        border: 0.1rem solid #de755e;
        border-radius: 2rem;
        padding: 2.8rem 4.8rem;
        position: relative;
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 2.4rem;
        color: #fff;

        &::before {
            position: absolute;
            content: "";
            width: 4.8rem;
            height: 4.8rem;
            background-image: url(../img/lk-m/tick-circle.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            right: 4.8rem;
            top: 1.6rem;
        }
    }

    &__start-search-btn {
        width: 4rem;
        height: 4rem;
        right: 4rem;
    }

    &__numbers-box-text.non {
        margin-left: 2rem;
    }

    &__examination-right {
        display: none;
    }
}

.data-checking {
    background:none;
    width: 100%;
    padding: 0;
    height: auto;
    margin-bottom: 0;
    &__icon {
        width: 11rem;
        height: 11rem;
        margin-bottom: 5rem;
    }

    &__title {
        font-size: 3rem;
        line-height: 173%;
        margin-bottom: 2.4rem;
    }

    &__text {
        font-size: 2.8rem;
        line-height: 137%;
        margin-bottom: 5rem;
    }

    &__win {
        font-size: 3rem;
        line-height: 173%;
        margin-bottom: 2.4rem;
    }

    
}

}