.modal {
    background: rgba(56, 55, 66, 0.25);
    backdrop-filter: blur(10px);
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    justify-content: center;
    align-items:center;
    
    &__container {
        position: relative;
        width: fit-content;
    }

    &__close {
        width: 7.7rem;
        height: 7.7rem;
        display: flex;
        justify-content: center;
        align-items:center;
        background: #FFFFFF;
        border-radius: 50%;
        margin-bottom: 2rem;
        margin-left: auto;

        img {
            width: 1.8rem;
            height: 1.8rem;
        }
    }

    &__box {
        background: #FFFFFF;
        border-radius: 5.5rem;
        padding-top: 6rem;
        padding-bottom: 6rem;
    }

}


.thanks-reg.active {
    display: flex;
}

.thanks-reg {
    &__box {
        padding-left: 10rem;
        padding-right: 10rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    &__box-icon {
        width: 7.7rem;
        height: 7.7rem;
        border-radius:50%;
        display: flex;
        justify-content: center;
        align-items:center;
        background: #DE755E;
        margin-bottom: 3.3rem;
        img {
            width: 2rem;
            height: 1.3rem;
        }
    }



    &__box-title {
        text-align: center;
        strong {
            font-family: 'Austin Cyr';
            font-style: normal;
            display: block;
            margin-bottom: 2rem;
            font-weight: 700;
            font-size: 3.7rem;
            line-height: 100% ;
            letter-spacing: 0.02em;
            color: #1B1818;

        }

        span {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            text-align: center;
            letter-spacing: 0.02em;
            color: #A0A1A4;
        }
    }
}


.art-modal {
    
    overflow-y: auto;
    overflow-x: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 10rem;
    padding-bottom: 10rem;
    &__container {
        margin: 0 auto;
        
    }
    &__box {
        
        max-width: 108.5rem;
        padding: 6rem;
       
      
    }
    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;
        strong {
            display: block;
            font-family: 'Austin Cyr';
            font-style: normal;
            font-weight: 700;
            font-size: 3.7rem;
            line-height: 100% ;
            letter-spacing: 0.02em;
            color: #383742;
            margin-bottom: 2rem;
        }

        span {
            display: block;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            color: #A0A1A4;

        }
    }

    &__inner {
        display: flex;
        margin-bottom: 4rem;
        
    }

    &__inner:last-child {
        margin-bottom: 0;
    }

    &__image {
        width: 15.7rem;
        height: 15.7rem;
        margin-right: 3rem;
   
    }

    &__text {
        max-width: 61.5rem;

        strong {
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.5rem;
            letter-spacing: 0.02em;
            display: block;
            margin-bottom: 1.3rem;
        }

        span {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
        }
    }
}

.art-modal.active {
    display: block;
}

.art-modal::-webkit-scrollbar{
    display: none;
}

.profile-market-modal {
   

    &__box {
        padding: 6rem 8rem;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &__wrap:last-child {
        margin-bottom: 3.2rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 3.2rem;
    }

  

    &__inner {
        margin-right: 2.9rem;
        label {
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            display: block;
            margin-bottom: 1.2rem;
            color: #383742;

        }

        input {
            position: relative;
            width: 40rem;
            height: 4.8rem;
            background: #EAEBEF;
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;
            border: none;
        }
    }

    &__inner:last-child {
        margin-right: 0;
    }

    .red-btn {
        margin-left: auto;
    }
}

.profile-market-modal.active {
    display: flex;
}


.profile-user-modal {
    display: none;

    
    &__box {
        padding: 6rem 8rem;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &__wrap:last-child {
        margin-bottom: 3.2rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 3.2rem;
    }

  

    &__inner {
        margin-right: 2.9rem;
        label {
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            display: block;
            margin-bottom: 1.2rem;
            color: #383742;

        }

        input {
            position: relative;
            width: 40rem;
            height: 4.8rem;
            background: #EAEBEF;
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;
            border: none;
        }
    }

    &__inner:last-child {
        margin-right: 0;
    }


    &__search {
        position: relative;
        input {
            width: 40rem;
        }
    }

    &__search-btn {
        position: absolute;
        width: 2rem;
        height: 2rem;
        right: 2.4rem;
        top: 50%;
        transform: translate(0, -50%);
    }

    .red-btn {
        margin-left: auto;
    }

    &__wrap-block {
        display: flex;

        .profile-user-modal__inner{
            margin-right: 3.2rem;
            input {
                width: 11.2rem;
            }
        }

        .profile-user-modal__inner:last-child {
            margin-right: 0;
        }
    }

    &__checkbox {
        width: 40rem;
        padding-top: 0;
        margin-top: 3.5rem;
    }
}

.profile-user-modal.active {
    display: flex;
}


.profile-description-modal {
    display: none;
    &__box {
        padding: 6rem 8rem;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &__wrap:last-child {
        margin-bottom: 3.2rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 3.2rem;
    }

  

    &__inner {
        margin-right: 0;
        width: 100%;
        label {
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            display: block;
            margin-bottom: 1.2rem;
            color: #383742;

        }

        textarea {
            overflow: hidden;
            position: relative;
            width: 83rem;
            height: 15.8rem;
            background: #EAEBEF;
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;
            border: none;
            resize: none;

        }
    }

   

   

    .red-btn {
       margin: 0 auto;
    }
}

.profile-description-modal.active {
    display: flex;
}


.profile-description-modal-two {
    display: none;
    &__box {
        padding: 6rem 8rem;
    }

    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &__wrap:last-child {
        margin-bottom: 3.2rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 3.2rem;
    }

  

    &__inner {
        margin-right: 0;
        width: 100%;
        label {
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            display: block;
            margin-bottom: 1.2rem;
            color: #383742;

        }

        textarea {
            overflow: hidden;
            position: relative;
            width: 83rem;
            height: 15.8rem;
            background: #EAEBEF;
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;
            border: none;
            resize: none;

        }
    }

   

   

    .red-btn {
       margin: 0 auto;
    }
}

.profile-description-modal-two.active {
    display: flex;
}


.profile-market-thanks {
    

    &__box {
        padding: 6rem 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    &__icon {
        width: 7.7rem;
        height: 7.7rem;
        margin-bottom: 3.3rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height:  100% ;
        text-align: center;
        letter-spacing: 0.02em;

    }
}

.profile-market-thanks.active {
    display: flex;
}


.profile-user-thanks {
    &__box {
        padding: 6rem 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    &__icon {
        width: 7.7rem;
        height: 7.7rem;
        margin-bottom: 3.3rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height:  100% ;
        text-align: center;
        letter-spacing: 0.02em;

    }
}

.profile-user-thanks.active {
    display: flex;
}

.del-modal {
    
    &__box {
        padding: 6rem 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    &__icon {
        width: 7.7rem;
        height: 7.7rem;
        margin-bottom: 3.3rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height:  100% ;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 3.2rem;

    }

    &__text {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        margin-bottom: 3.2rem;
    }
}

.del-modal.active {
    display: flex;
}


.del-modal-user {
    
    &__box {
        padding: 6rem 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    &__icon {
        width: 7.7rem;
        height: 7.7rem;
        margin-bottom: 3.3rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height:  100% ;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 3.2rem;

    }

    &__text {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        margin-bottom: 3.2rem;
    }

    &__alert {
        display: flex;
        flex-direction: column;
        font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            text-align: center;
            letter-spacing: 0.02em;
            margin-bottom: 3.2rem;
        span {
            display: block;
            color: #A0A1A4;

        }

        p {
            color:rgba(222, 117, 94, 1);
        }
    }

    &__form {
        width: 100%;
        label {
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            display: block;
            margin-bottom: 1.2rem;
            color: #383742;

        }

        input {
         
            position: relative;
            width: 100%;
            background: #EAEBEF;
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;
            border: none;
        

        }

       
    }

    .red-btn {
        margin: 0 auto;
        margin-top: 3.2rem;
    }
}

.del-modal-user.active {
    display: flex;
}

.cover-modal-error {
   



    &__box {
        padding: 6rem 8rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
       
    }

    &__icon {
        width: 7.7rem;
        height: 7.7rem;
        margin-bottom: 3.3rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height:  100% ;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 3.2rem;

    }

    &__text {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        margin-bottom: 3.2rem;
        display: block;
        width: 63.5rem;
    }

    &__prev {
        width: 7.7rem;
        height: 7.7rem;
        display: flex;
        justify-content: center;
        align-items:center;
        background: #FFFFFF;
        border-radius: 50%;
        margin-bottom: 2rem;
        margin-left: auto;
        position: absolute;
        right: 9rem;
        svg {
            width: 2.2rem;
            height: 2.2rem;
        }
    }
}

.cover-modal-error.active {
    display: flex;
}


.avatar-modal-error {
    
    &__box {
        padding: 6rem 8rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
       
    }

    &__icon {
        width: 7.7rem;
        height: 7.7rem;
        margin-bottom: 3.3rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height:  100% ;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 3.2rem;

    }

    &__text {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        text-align: center;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        margin-bottom: 3.2rem;
        display: block;
        width: 63.5rem;
    }

    &__prev {
        width: 7.7rem;
        height: 7.7rem;
        display: flex;
        justify-content: center;
        align-items:center;
        background: #FFFFFF;
        border-radius: 50%;
        margin-bottom: 2rem;
        margin-left: auto;
        position: absolute;
        right: 9rem;
        svg {
            width: 2.2rem;
            height: 2.2rem;
        }
    }
}

.avatar-modal-error.active {
    display: flex;
}

.cover-modal-thanks {
    &__box {
        padding: 6rem 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    &__icon {
        width: 7.7rem;
        height: 7.7rem;
        margin-bottom: 3.3rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height:  100% ;
        text-align: center;
        letter-spacing: 0.02em;

    }
}

.cover-modal-thanks.active {
    display: flex;
}

.avatar-modal-thanks {
    &__box {
        padding: 6rem 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    &__icon {
        width: 7.7rem;
        height: 7.7rem;
        margin-bottom: 3.3rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height:  100% ;
        text-align: center;
        letter-spacing: 0.02em;

    }
}

.avatar-modal-thanks.active{
    display: flex;
}

.cover-modal-del {
    &__box {
        padding: 6rem 8rem;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
       
    }

    &__icon {
        width: 7.7rem;
        height: 7.7rem;
        margin-bottom: 3.3rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        display: block;
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height:  100% ;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 3.2rem;

    }

  

   
}


.cover-modal-del.active {
    display: flex;
}


.modal-thanks-r {
    
    &__box {
        padding: 6rem 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    &__icon {
        width: 7.7rem;
        height: 7.7rem;
        margin-bottom: 3.3rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height:  100% ;
        text-align: center;
        letter-spacing: 0.02em;

    }
}


.modal-thanks-r.active {
    display: flex;
}


