.personal-information-thanks {
    
    &__box {
        padding: 6rem 8rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }

    &__icon {
        width: 7.7rem;
        height: 7.7rem;
        margin-bottom: 3.3rem;
    }

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height:  100% ;
        text-align: center;
        letter-spacing: 0.02em;

    }
}


.personal-information-thanks.active {
    display: flex;
}