.personal-information-modal {
   

    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.02em;
        margin-bottom: 3.2rem;
    }

  

    &__form-inner {
        margin-right: 2rem;
        width: 40.5rem;
        label {
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            display: block;
            margin-bottom: 1.2rem;
            color: #383742;

        }

        textarea {
            overflow: hidden;
            position: relative;
            width: 83rem;
            height: 15.8rem;
            background: #EAEBEF;
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;
            border: none;
            resize: none;

        }

        input {
            position: relative;
            width: 100%;
           
            background: #EAEBEF;
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;
            border: none;
        }
    }

    &__form-inner:last-child {
        margin-right: 0;
    }


    &__box {
        padding: 6rem 8rem;
    }

    &__form-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &__form-wrap:last-child {
        margin-bottom: 3.2rem;
    }

    &__form-wrap--type {
        .personal-information-modal__form-inner {
            width: 100%;
        }
    }

    .red-btn {
        margin-left: auto;
    }


    

   
}

.personal-information-modal.active {
    display: flex;
}