.product-lk {
    

    &__title {
        margin-bottom: 6rem;
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 7.3rem;
        line-height: 96%;
        letter-spacing: 0.02em;

       
    }

    &__content {
        background: #FFFFFF;
        border-radius: 5.5rem;
        padding: 6rem;
        width: 100%;
        position: relative;
    }

    &__content-title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 100% ;
        letter-spacing: 0.02em;
        color: #383742;
        margin-bottom: 4rem;
        strong {
            display: block;
            margin-right: 1rem;
        }
        display: flex;
    }

    &__content-faq-inner {
        padding: 1rem 1.4rem;
        border-radius: 2.5rem;
        background: rgba(255, 180, 47, 0.30);
        box-shadow: 8.595041275024414px 5.599999904632568px 28px 0px rgba(234, 235, 239, 0.80);
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 38.2rem;
        position: absolute;
        right: 0;
        font-size: 1.6rem;
        line-height: 2rem;
        right: -27rem;
        top: -1rem;
        span {
            display: block;
        }
    }

    &__content-faq-inner--two {
        right: -45rem;
        max-width: 44rem;
    }

    &__content-faq {
        display: flex;
        position: absolute;
        right: 0;
    }

    &__content-faq-btn {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        margin-top: 0.2rem;
    }

   


    .product-card__title {
        display: flex;
        font-size: initial;
        align-items: center;
        margin-bottom: 1rem;
        span {
            color:  #383742;
            font-size: 2rem;
            font-family: 'Gilroy';
            width: auto;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.4px;
            max-width: auto;
            display: inline-block;
        }
    }

    .explanation {
        align-items: center;
    }


    .product-card__title-wrap {
        strong {
            display: block;
            color:  #383742;
            font-family: 'Gilroy',sans-serif;
            font-size: 2rem;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.4px;
        }

        p {
            color:  #A0A1A4;
            font-family: 'Gilroy',sans-serif;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: 130%; 
        }
    }


    &__moderation {
        border-radius: 3rem;
        background:  #EAEBEF;
        position: absolute;
        padding: 1.4rem 2.4rem;
        top:  6rem;
        right: 6rem;
        span {
            position: relative;
            color:  #383742;
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-left: 3.3rem;
            &::before {
                position: absolute;
                content:'';
                width: 2.4rem;
                height: 2.4rem;
                background-image: url(../img/redclock.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                left: 0;
                top: 50%;
                transform: translate(0,-50%);

            }
        }
    }
}