.product-card {
	padding: 0rem 6rem 18.6rem;
	&__title {
		font-family: 'Austin Cyr';
		font-style: normal;
		font-weight: 700;
		font-size: 7.3rem;
		line-height: 7rem;
		letter-spacing: 0.02em;
		color: #383742;
		margin-bottom: 3rem;
	}

	&__map {
		display: flex;
		gap: 3.3rem;
		align-items: center;
		margin-bottom: 5.5rem;
	}

	&__map-item {
		display: block;
		position: relative;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.6rem;
		color: #383742;
	}

	&__map-item:not(:last-child) {
		&::after {
			content: '';
			position: absolute;
			width: 1.2rem;
			height: 1.2rem;
			background-image: url(../../img/product-card/map-icon.svg);
			background-repeat: no-repeat;
			background-size: contain;
			top: 0.8rem;
			right: -2.6rem;
		}
	}

	&__item-img {
		width: 15.5rem;
		height: 10.6rem;
		overflow: hidden;
		border-radius: 2.5rem;
		border: 0.3rem solid #de755e00;

		img {
			-o-object-fit: cover;
			object-fit: cover;
			height: 100%;
			width: 100%;
		}
	}

	&__main-swiper {
		margin-bottom: 3rem;
	}
	&__controll-swiper-wrapper {
		padding: 1.3rem 7.5rem;
		background-color: #fff;
		border-radius: 4rem;
		position: relative;
	}
	&__controll-swiper {
		background-color: #fff;
		border-radius: 2.5rem;
	}

	&__item-main-img {
		position: relative;
		width: 118rem;
		cursor: pointer;
		height: 73rem;
		img {
			border-radius: 4rem;
			height: 100%;
		}
	}

	&__item-icons {
		top: 4rem;
		right: 4rem;
		position: absolute;
		height: 17.6rem;
		width: 9.5rem;
	}

	&__item-icon-backgraund {
		right: 4rem;
		top: 4rem;
		width: 9.5rem;
		height: 17.6rem;
		path {
			width: 100%;
			height: 100%;
		}
	}

	&__swipers-wrapper {
		width: 118rem;
		height: 89.2rem;
		margin-bottom: 5.2rem;
	}

	&__controll-swiper {
		width: 105.5rem;
	}

	&__arrow-left {
		width: 3.162rem;
		cursor: pointer;
		z-index: 10;
		position: absolute;
		top: 6rem;
		left: 2.297rem;
		cursor: pointer;
		transition: 0.7s;
		img {
			width: 100%;
		}
	}

	&__arrow-right {
		z-index: 10;
		cursor: pointer;
		width: 3.162rem;
		position: absolute;
		top: 6rem;
		right: 2.297rem;
		cursor: pointer;
		transition: 0.4s;
		img {
			width: 100%;
		}
	}

	&__arrow-right:active,
	&__arrow-left:active {
		transform: scale(1.1);
	}

	.mySwiper .swiper-slide-thumb-active {
		.product-card__item-img {
			border: 0.3rem solid #de755e;
		}
	}

	&__main-content {
		display: flex;
		justify-content: space-between;
		margin-bottom: 19rem;
	}

	&__content-left-side {
		display: flex;
		flex-direction: column;
	}

	&__content-right-side {
		display: flex;
		flex-direction: column;
		gap: 6rem;
	}

	&__price-box {
		width: 56rem;
		display: flex;
		flex-direction: column;
		background-color: #ffffff;
		border-radius: 4rem;
		padding: 4.8rem;
		padding-bottom: 3rem;
	}

	&__price-head {
		display: flex;
		flex-direction: column;
		gap: 3.6rem;
		margin-bottom: 3.2rem;

		div {
			display: flex;
			justify-content: space-between;
		}
	}

	&__price-title {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 3.7rem;
		line-height: 4.5rem;
		letter-spacing: 0.02em;
		color: #383742;
	}

	&__price-current-value {
		position: relative;
		font-family: 'Austin Cyr';
		font-style: normal;
		font-weight: 700;
		font-size: 3.7rem;
		line-height: 3.7rem;
		letter-spacing: 0.02em;
		color: #383742;
		display: flex;
		align-items: center;

		span {
			margin-bottom: auto;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			font-size: 2.2rem;
			line-height: 2rem;
		}
	}

	&__price-rating {
		display: flex;
		gap: 0.8rem;
	}

	&__price-rating-item {
		display: block;
		width: 2.1rem;

		path {
			fill: #d7d8dc;
			stroke: #d7d8dc;
		}
	}

	&__price-rating-item--full {
		path {
			fill: #de755e;
			stroke: #de755e;
		}
	}

	&__feedback {
		display: flex;
		gap: 1.8rem;
		align-items: center;
		cursor: pointer;

		span {
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.4rem;
			letter-spacing: 0.02em;
			color: #a0a1a4;
		}
	}

	&__price-feedback-icon {
		display: flex;
		width: 2.25rem;
		height: 2.25rem;

		img {
			width: 100%;
		}
	}

	&__price-license-list {
		display: flex;
		flex-direction: column;
		margin-bottom: 3.4rem;
	}

	&__price-license-item {
		padding-top: 2rem;
		padding-bottom: 1.7rem;
		align-items: center;
		display: flex;
		justify-content: flex-start;
		cursor: pointer;

		span {
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			font-size: 2.2rem;
			line-height: 2.7rem;
			letter-spacing: 0.05em;
			text-transform: uppercase;
			color: #a0a1a4;
		}
	}

	&__price-license-item--active {
		span {
			color: #383742;
		}

		.product-card__price-circle {
			background: #de755e;
			box-shadow: 0.86rem 0.86rem 2rem rgba(222, 117, 94, 0.2);
		}
	}

	&__price-license-item:not(:last-child) {
		border-bottom: 0.1rem solid rgba(160, 161, 164, 0.3);
	}

	&__price-circle {
		display: block;
		width: 2.2rem;
		height: 2.2rem;

		margin-right: 1.2rem;
		background: #e0e1e7;
		border: 0.4rem solid #ffffff;
		box-shadow: 0.86rem 0.86rem 2rem rgba(160, 161, 164, 0.2);
		border-radius: 86rem;
	}

	&__price-item-title {
		margin-right: auto;
	}

	&__price-buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 47.7rem;
	}

	&__price-buy-btn {
		width: 36.7rem;
		height: 7.8rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100rem;
		background-color: #de755e;
		text-transform: capitalize;

		span {
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			font-size: 2rem;
			line-height: 2.4rem;
			text-align: center;
			letter-spacing: 0.02em;
			color: #ffffff;
		}
	}

	&__price-cart-btn {
		width: 9.4rem;
		height: 9.4rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100rem;
		background-color: #e0e1e7;

		img {
			width: 2.93rem;
			height: 2.93rem;
		}
	}

	&__seller-box {
		width: 56rem;
		padding: 4.8rem;
		background-color: #ffffff;
		border-radius: 4rem;
		display: flex;
		flex-direction: column;
	}

	&__seller-head {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.6rem;
		margin-bottom: 2.5rem;
	}

	&__seller-photo {
		width: 13.4rem;
		height: 13.4rem;

		img {
			width: 100%;
		}
	}

	&__seller-stats {
		display: flex;
		align-items: center;
		gap: 1.6rem;
		div {
			gap: 0.8rem;
			display: flex;
			align-items: center;
		}
	}

	&__seller-stats-value {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 2.2rem;
		line-height: 2.7rem;
		display: flex;
		align-items: center;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		color: #383742;
	}

	&__product-count {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		font-size: 2rem;
		line-height: 2.4rem;
		letter-spacing: 0.02em;
		color: #383742;
	}

	&__seller-buttons {
		display: flex;
		gap: 2rem;
		margin: 0 auto;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		margin-bottom: 4.8rem;
	}

	&__seller-profile-btn {
		width: 18.4rem;
		height: 7.6rem;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #e0e1e7;
		border-radius: 100rem;
		span {
			text-transform: capitalize;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			font-size: 2rem;
			line-height: 2.4rem;
			text-align: center;
			letter-spacing: 0.02em;
			color: #383742;
		}
	}

	&__seller-sub-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 100rem;
		background-color: #de755e;

		width: 22.5rem;
		height: 7.6rem;
		span {
			text-transform: capitalize;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			font-size: 2rem;
			line-height: 2.4rem;
			text-align: center;
			letter-spacing: 0.02em;
			color: #ffffff;
		}
	}

	.basic-card__price span {
		left: 0rem;
	}

	&__seller-sub-btn--subscribed {
		background-color: #383742;
	}

	&__seller-name {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		font-size: 3.7rem;
		line-height: 4.6rem;
		letter-spacing: 0.02em;
		color: #383742;
	}

	&__seller-message {
		width: 100%;
		padding-top: 2.4rem;
		border-top: 0.1rem solid rgba(160, 161, 164, 0.3);
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		font-size: 2rem;
		line-height: 3rem;
		letter-spacing: 0.02em;
		color: #383742;
	}

	&__item-heart-icon {
		top: 0.9rem;
		right: 0.9rem;
		position: absolute;
		width: 7.6rem;
		height: 7.7rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5rem;

		img {
			width: 2rem;
		}
	}

	&__item-bookmarks-icon {
		top: 9rem;
		right: 0.9rem;
		position: absolute;
		width: 7.6rem;
		height: 7.7rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5rem;

		img {
			width: 2rem;
		}
	}

	&__heart-popup {
		top: 2.5rem;
		width: 21.3rem;
		right: 10.5rem;
		height: 4.8rem;
		position: absolute;
		background: url('../../img/product-card/popup-background.svg');
		background-size: 100%;

		display: none;
		justify-content: center;
		align-items: center;

		span {
			margin-right: 0.9rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 2rem;

			color: #383742;
			box-shadow: 2rem 1.5rem 4rem rgba(103, 110, 133, 0.1);
		}
	}

	&__bookmarks-popup {
		bottom: 2.5rem;
		right: 10.5rem;
		width: 21.3rem;
		height: 4.8rem;
		position: absolute;
		background: url('../../img/product-card/popup-background.svg');
		background-size: 100%;

		display: none;
		justify-content: center;
		align-items: center;

		span {
			margin-right: 0.9rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 400;
			font-size: 1.6rem;
			line-height: 2rem;

			color: #383742;
			box-shadow: 2rem 1.5rem 4rem rgba(103, 110, 133, 0.1);
		}
	}

	&__description-box {
		display: flex;
		flex-direction: column;
		margin-bottom: 5rem;
	}

	&__title-list {
		display: flex;
		gap: 11.7rem;
		align-items: center;
		width: 100%;
		border-bottom: 0.15rem solid #a0a1a44d;
		margin-bottom: 4.9rem;
	}

	&__title-item {
		position: relative;
		bottom: -0.15rem;
		cursor: pointer;
		font-size: 2.2rem;
		font-family: 'Gilroy';
		font-weight: 700;
		letter-spacing: 0.11rem;
		text-transform: uppercase;
		color: #a0a1a4;

		display: flex;
		flex-direction: column;

		span {
			display: flex;
			margin-top: 1.2rem;
			height: 0.3rem;
			width: 100%;
			background-color: #de755e00;
			border-radius: 4rem;
		}
	}

	&__title-item--active {
		color: #383742;

		span {
			background-color: #de755e;
		}
	}

	&__features-block {
		display: none;
		flex-direction: column;
		width: 100%;
		gap: 1.4rem;
		min-height: 17.9rem;
	}

	&__description-block {
		display: none;
	}

	&__features-item {
		display: flex;
		align-items: flex-end;
	}

	&__features-item-title {
		flex: 0;
		white-space: nowrap;
		color: #a0a1a4;
		font-size: 2rem;
		font-family: 'Gilroy';
		font-weight: 500;
		letter-spacing: 0.04rem;
		padding-right: 0.4rem;
	}

	&__features-item-border {
		flex: 1;
		border-bottom: 0.1rem dashed #a0a1a4;
		margin-bottom: 0.5rem;
	}

	&__features-item-value {
		color: #383742;
		font-size: 2rem;
		font-family: 'Gilroy';
		font-weight: 500;
		letter-spacing: 0.04rem;
		padding-left: 0.4rem;
	}

	&__description-block {
		max-width: 105.4rem;
		min-height: 17.9rem;
		color: #383742;
		font-size: 2rem;
		font-family: 'Gilroy';
		font-weight: 500;
		line-height: 148%;
	}

	&__get-block {
		display: none;
		flex-direction: column;
		gap: 0.8rem;
		min-height: 17.9rem;
	}

	&__get-item {
		color: #383742;
		font-size: 2rem;
		font-family: 'Gilroy';
		font-weight: 500;
		line-height: 148%;
		margin-left: 3rem;
		list-style-type: disc;
	}

	&__active-block {
		display: flex;
	}

	&__preview-link {
		display: flex;
		gap: 2.5rem;
		cursor: pointer;
		align-items: center;

		span {
			color: #383742;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-weight: 700;
			letter-spacing: 0.04rem;
		}
	}

	&__preview-link-img {
		width: 3.2rem;
		img {
			width: 100%;
		}
	}

	&__other-products {
		margin-bottom: 19.45rem;
	}

	&__reviews {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
	}

	&__reviews-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		margin-bottom: 5.5rem;
	}

	&__reviews-title {
		color: #383742;
		font-size: 7.3rem;
		font-family: 'Austin Cyr';
		font-weight: 700;
		line-height: 7rem;
		letter-spacing: 0.146rem;
	}

	&__reviews-add-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 100rem;
		width: 25.7rem;
		height: 7.9rem;
		background: #de755e;

		span {
			color: #fff;
			text-align: center;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-weight: 700;
			letter-spacing: 0.04rem;
		}
	}

	&__reviews-info {
		display: flex;
		flex-direction: column;
		gap: 2.3rem;
		width: 30.5rem;
		margin-right: 16rem;
	}

	&__reviews-slider {
		width: 133.5rem;
	}

	&__reviews-content {
		display: flex;
		align-items: center;
		margin-bottom: 19.9rem;
	}

	&__reviews-rating {
		display: flex;
		align-items: center;
		gap: 1.3rem;
		margin-bottom: 0.1rem;

		span {
			color: #383742;
			font-size: 7.3rem;
			font-family: Austin Cyr;
			font-weight: 700;
			line-height: 7rem;
			letter-spacing: 0.146rem;
		}
	}

	&__rating-icons {
		display: flex;
		gap: 0.5rem;
		align-items: center;

		.product-card__price-rating-item {
			margin: 0;
			width: 3.4rem;
			height: 3.4rem;
		}
	}

	&__reviews-values-list {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;

		margin-bottom: 16.75rem;
	}

	&__reviews-values-item {
		display: flex;
		align-items: center;
		gap: 1.593rem;

		label {
			color: #383742;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-weight: 500;
			letter-spacing: 0.04rem;
		}

		progress {
			width: 100%;
			border-radius: 2.5rem;
		}

		progress::-webkit-progress-bar {
			background-color: rgba(160, 161, 164, 0.3);
			border-radius: 2.5rem;
		}

		progress::-moz-progress-bar {
			background-color: rgba(160, 161, 164, 0.3);
			border-radius: 2.5rem;
		}

		progress::-webkit-progress-value {
			background-color: #de755e;
			border-radius: 2.5rem;
		}

		progress::-moz-progress-value {
			background-color: #de755e;
			border-radius: 2.5rem;
		}
	}

	&__rewies-item {
		background-color: #fff;
		border-radius: 3rem;
		width: 40.5rem;
		padding: 4.8rem;
	}

	&__rewies-item-head {
		display: flex;
		align-items: center;
		margin-bottom: 3.1rem;
	}

	&__rewie-profile-info {
		display: flex;
		flex-direction: column;
		gap: 1.1rem;
	}

	&__rewies-item-photo {
		width: 8.6rem;
		height: 8.6rem;
		margin-right: 1.5rem;

		img {
			width: 100%;
		}
	}

	&__rewie-profile-name {
		color: #383742;
		font-size: 2rem;
		font-family: 'Gilroy';
		font-weight: 700;
		letter-spacing: 0.04rem;
	}

	&__rewie-item-date {
		color: #a0a1a4;
		font-size: 2rem;
		font-family: 'Gilroy';
		font-weight: 500;
		line-height: 2rem;
	}

	&__rewies-item-settings {
		position: relative;
		width: 3.2rem;
		height: 3.2rem;
		margin-left: auto;
		margin-bottom: auto;
		cursor: pointer;

		img {
			width: 100%;
		}
	}

	&__rewies-item-title {
		color: #383742;
		font-size: 2rem;
		font-family: 'Gilroy';
		font-weight: 700;
		letter-spacing: 0.04rem;
		margin-bottom: 1.1rem;
	}

	&__rewies-item-subject {
		color: #a0a1a4;
		font-size: 2rem;
		font-family: 'Gilroy';
		font-weight: 500;
		line-height: 2.8rem;

		margin-bottom: 3.2rem;
	}

	&__rewies-item-rating {
		display: flex;
		gap: 0.8rem;
		align-items: center;

		span {
			color: #383742;
			font-size: 2.2rem;
			font-family: 'Gilroy';
			font-weight: 700;
			letter-spacing: 0.11rem;
			text-transform: uppercase;
		}
	}

	&__settings-popup {
		display: none;
		justify-content: center;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		align-items: center;
		border-radius: 1.5rem;
		background: #fff;
		box-shadow: 2rem 1.5rem 4rem 0rem rgba(103, 110, 133, 0.1);
		position: absolute;
		top: -0.8rem;
		left: -21rem;

		&::after {
			content: '';
			width: 2rem;
			height: 2.6rem;
			background-size: contain;
			position: relative;
			right: -1.95rem;
			background-repeat: no-repeat;
			background-image: url('../../img/product-card/popup-background-element.svg');
		}

		span {
			display: block;
			color: #383742;
			font-size: 1.6rem;
			font-family: 'Gilroy';
			line-height: 2rem;
			padding: 1.4rem;
			white-space: nowrap;
		}
	}

	.pagination__fraction .swiper-pagination-current {
		position: relative;
		padding-right: 4.2rem;
		margin-right: 4.1rem;
	}

	.pagination__fraction .swiper-pagination-current::before {
		width: 3.1rem;
		height: 0.15rem;
	}

	.pagination__fraction .swiper-pagination-current {
		position: relative;
		padding-right: 4.2rem;
		margin-right: 1.1rem;
	}

	&__footer {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: flex-end;
	}

	&__tags-box {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
	}

	&__tags-title {
		color: #383742;
		font-size: 3.7rem;
		font-family: 'Austin Cyr';
		font-weight: 700;
		line-height: 3.7rem;
		letter-spacing: 0.074rem;
	}

	&__tags-wrapper {
		display: flex;
		gap: 2rem;
		align-items: center;
	}

	&__tags-item {
		padding: 1.6rem 4rem;
		border-radius: 6.8rem;
		background: #e0e1e7;
		cursor: pointer;

		span {
			color: #383742;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-weight: 500;
			letter-spacing: 0.04rem;
		}
	}
}

@media (hover: hover) {
	.product-card__item-bookmarks-icon:hover {
		background: #ffffff;
	}

	.product-card__item-bookmarks-icon:hover ~ .product-card__bookmarks-popup {
		display: flex;
	}

	.product-card__item-heart-icon:hover {
		background: #ffffff;
	}

	.product-card__item-heart-icon:hover ~ .product-card__heart-popup {
		display: flex;
	}

	.product-card__rewies-item-settings:hover .product-card__settings-popup {
		display: flex;
	}
}
