.product-lk-ad {

    &__wrap {
        display: flex;
        justify-content: space-between;
    }
    &__one {
        padding: 4rem 3rem;
        background: #fff;
        border-radius: 4rem;
        width: 56rem;
    }

    &__one-title {
        color: #292D32;
        font-size: 3.7rem;
        font-family: 'Austin Cyr';
        font-weight: 700;
        line-height: 3.7rem;
        letter-spacing: 0.74px;
        margin-bottom: 2.7rem;
    }

    &__one-text {
        color: #292D32;
        font-size: 1.6rem;
        line-height: 2.25rem;
        margin-bottom: 1.5rem;
    }

    &__one-item {
        position: relative;
        margin-bottom: 2rem;
        color: #292D32;
        font-size: 1.6rem;
        line-height: 2.25rem;
        padding-left: 3rem;
        &::before {
            position: absolute;
            content:'';
            width: 2rem;
            height: 2rem;
            background-image: url(../img/icon/ministar.svg);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
            top: 0.3rem;
        }
    }

    &__one-item:last-child {
        margin-bottom: 0;
    }

    &__two {
        background:rgba(255, 255, 255, 1);
        border-radius: 4rem;
        padding: 4rem 3rem;
        width: 71.5rem;

    }

    &__two-title {
        color: #292D32;
        font-size: 3.7rem;
        font-family: 'Austin Cyr';
        font-weight: 700;
        line-height: 3.7rem;
        letter-spacing: 0.74px;
        margin-bottom: 2.7rem;
    }

    &__two-sections {
        display: flex;
        color: #A0A1A4;
        font-size: 1.6rem;
        line-height: 2rem;
        padding-bottom: 1.5rem;
        border-bottom: 0.1rem solid rgba(160, 161, 164, 0.30);

        span {
            display: block;
        }

        span:nth-child(1) {
            margin-right: 21.3rem;
        }

        span:nth-child(2) {
            margin-right: 4.6rem;
        }

        span:nth-child(3) {
            margin-right: 9.8rem;
        }
    }
}