.product-form {
    &__wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        width: 59.3rem;

        input {
            position: relative;
            height: 4.8rem;
            background: #EAEBEF;
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;
            border: none;

            &::-webkit-input-placeholder {
                color: #000000;
            }

            &::-moz-placeholder {
                color: #000000;
            }

            &:-ms-input-placeholder {
                color: #000000;
            }

            &::-ms-input-placeholder {
                color: #000000;
            }

            &::placeholder {
                color: #000000;
            }
        }

        .select {
            width: 100%;
        }
    }

    &__label-title {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        margin-bottom: 2rem;
       
        display: flex;
        span {
            display: block;
            margin-right: 1rem;
        }
    }

    &__label-title-min {
        display: block;
        color: #A0A1A4;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2rem;
        letter-spacing: 0.02em;
        margin-bottom: 1rem;
    }

    &__wrap--two {
        margin-bottom: 0;
        .product-form__inner {
            width: 28.2rem;
        }
    }



    &__des {
        color:  #DE755E;
        font-family: 'Gilroy',sans-serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 125%;
        margin-top: 0.8rem;
    }

    
}