.profile-password {
    background: #FFFFFF;
    border-radius: 5.5rem;
    width: 100%;
    padding: 6rem;

    &__title {
        margin-bottom: 6rem;

        strong {
            display: block;
            font-family: 'Austin Cyr';
            font-style: normal;
            font-weight: 700;
            font-size: 3.7rem;
            line-height: 100% ;
            letter-spacing: 0.02em;
            color: #383742;
        }

        span {
            display: block;
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            margin-top: 1.2rem;
            color: #A0A1A4;
        }
    }

   


    &__form-inner {
        display: flex;
        flex-direction: column;
        width: 59.3rem;

        label {
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            display: block;
            margin-bottom: 1.2rem;
            color: #383742;

        }

        input {
         
            position: relative;
            width: 100%;
            background: #EAEBEF;
            border-radius: 1rem;
            padding: 1.4rem 2.4rem;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 125%;
            color: #000000;
            border: none;
        

        }
    }


    &__form-wrap {
        margin-bottom: 4rem;
        display: flex;
        justify-content: space-between;

    }

    &__form-wrap--two {
        margin-bottom: 0;
    }

    &__text {
        margin-top: 1.2rem;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 125% ;
        color: #A0A1A4;
        width: 82.9rem;
        margin-bottom: 5.2rem;

    }

    &__btns {
        display: flex;
        align-items:center;
        .red-btn {
            width: 28.2rem;
            margin-right: 5.2rem;
            padding: 2.6rem 4.9rem;
        }

        a {
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.5rem;
            display: block;
            letter-spacing: 0.02em;
            color: #DE755E;

        }
    }

    &__inner {
        margin-bottom: 4rem;
        display: flex;
        align-items:center;
    }

    &__inner-left {
        margin-right: 11.5rem;
    }

    &__checkbox {
        display: block;
        position: relative;
        cursor: pointer;
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;
        padding-left: 5.6rem;
        padding-top: 0.55rem;
        margin-bottom: 1.6rem;
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
    }

  



    &__checkmark {
        position: absolute;
        top: 0;
        left: 0;
        width: 4rem;
        height: 4rem;
        background: #E0E1E7;
        border-radius: 1rem;
        
      }
     
      
    
      
      &__checkbox:hover input ~ .profile-password__checkmark {
        background: #E0E1E7;
      }
      
      &__checkbox input:checked ~ .profile-password__checkmark {
        
        box-shadow: 8.59504px 8.59504px 20px rgba(56, 55, 66, 0.11);
      }


      &__checkbox input:checked ~ .profile-password__span {
        color: #DE755E;
      }
    
    
    
      
      &__checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
      &__checkbox input:checked ~ .profile-password__checkmark:after {
        display: block;
      }
      
      &__checkbox .profile-password__checkmark:after {
        position: absolute;
        content:'';
        background-image: url(../img/icon/check.svg);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        top: 50%;
        right: 0;
        transform: translate(-80%, -50%);
        
        width: 1.5rem;
        height: 1.5rem;
      }

    


    
}