.profile {
    display: none;
    width: 133.5rem;
    &__content {
        background: #FFFFFF;
        border-radius: 5.5rem;
        padding: 6rem;
    }
    &__title {
        font-family: 'Austin Cyr';
        font-style: normal;
        font-weight: 700;
        font-size: 3.7rem;
        line-height: 100%;
        margin-bottom: 6rem;
        letter-spacing: 0.02em;

    }

    &__del {
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        margin-top: 7.2rem;
        
        button {
            font-weight: 700;
            color: #DE755E;
            padding-left: 0.8rem;
        }
    }


    &__nav-lists {
        display: flex;
        padding-bottom: 2.4rem;
        margin-bottom: 6rem;
        border-bottom: 0.15rem solid rgba(160, 161, 164, 0.3);
    }

    &__nav-lists-item {
        font-style: normal;
        font-weight: 700;
        font-size: 2.2rem;
        line-height: 2.7rem;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #A0A1A4;
        position: relative;
        cursor: pointer;
        &::before {
            position: absolute;
            content:'';
            width: 100%;
            height: 0.3rem;
            bottom: -2.6rem
        }
    }

    &__nav-lists-item {
        margin-right: 9rem;
    }

    &__nav-lists-item:last-child {
        margin-right: 0;
    }

    &__nav-lists-item.active {
        color: #383742;
        &::before {
            background:#DE755E;
        }
    }

    &__btns {
        display: flex;
        justify-content: space-between;
        align-items:center;

        .profile__del {
            margin-top: 0;
        }
    }

    &__btn-market {
        width: 31.4rem;
        height: 7.8rem;
        display: flex;
        justify-content: center;
        align-items:center;
        background: #E0E1E7;
        border-radius: 11rem;

        span {
            position: relative;
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            color: #383742;
            padding-right: 6.4rem;
            &::before {
                position: absolute;
                content:'';
                width: 2.4rem;
                height: 2.4rem;
                background-image: url(../img/lk-m/basketblack.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                right: 0;
            }
        }
    }

}

.profile.active {
    display: block;
}


.profile-header {
    width: 100%;
    height: 20.6rem;
    position: relative;
    margin-bottom: 4.2rem;
    &__image {
        width: 100%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 3rem;
        }
    }

    &__btn{
        position: absolute;
        width: 22.7rem;
        height: 7.8rem;
        background: rgba(56, 55, 66, 0.4);
        border-radius: 100rem;
        top: 2.2rem;
        display: flex;
        justify-content: center;
        align-items:center;
        right: 2.8rem;
        span {
            position: relative;
            font-weight: 700;
            font-size: 1.8rem;
            line-height: 2.2rem;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            padding-right: 6.4rem;
            &::before {
                position: absolute;
                content:'';
                width: 2.4rem;
                height: 2.4rem;
                background-image: url(../img/profile-header/edit.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                right: 0;
            }

        }
    }

    &__lists {
        position: absolute;
        width: 29.2rem;
        height: 10.4rem;
        background: #FFFFFF;
        box-shadow: 8.59504px 8.59504px 20px rgba(222, 117, 94, 0.11);
        border-radius: 2.5rem;
        padding: 2rem 2rem;
        right: 2.8rem;
        bottom: -0.6rem;
    }

    &__item {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.2rem;
        letter-spacing: 0.02em;
        padding-left: 3.6rem;
        position: relative;
        margin-bottom: 1.6rem;
        cursor: pointer;
        &::before {
            position: absolute;
            content:'';
            width: 2.4rem;
            height: 2.4rem;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            left: 0;
        }

    }

    &__item:last-child {
        margin-bottom: 0;
    }

    &__item--replace {
        &::before {
            background-image: url(../img/profile-header/image.svg);
        }
    }

    &__item--del {
        &::before {
            background-image: url(../img/profile-header/trash.svg);
        }
    }
}