.progress-table {
    background-image: url(../img/lk-m/progrees.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 49.4rem;
    width: 35.2rem;
    position: relative;
    padding-top: 11.7rem;
    padding-left: 3.2rem;
    padding-bottom: 4.8rem;
    &__image {
        width: 6.5rem;
        height: 6.5rem;
        position: absolute;
        left: 50%;
        top: 1.2rem;
        transform: translate(-50%,);
    }

    &__point {
        display: flex;
        align-items: center;
        opacity: 0.6;
        height: 8.3rem;
        margin-bottom: 1.2rem;
    }

    &__point.end {
        margin-bottom: 0;

        .progress-table__point-icon {
            &::before {
                display: none;
            }
        }
    }

    &__point.active-end {
        .progress-table__point-icon {
            background: #fff;
        }
    }

    &__point.active {
        opacity: 1;
    }

    &__point-text {
        font-weight: 700;
        font-size: 2rem;
        line-height: 2.5rem;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }

    

    &__point-icon {
        width: 4.1rem;
        height: 4.1rem;
        border: 0.2rem solid #FFFFFF;
        -webkit-filter: drop-shadow(8.59504px 8.59504px 20px rgba(222, 117, 94, 0.11));
                filter: drop-shadow(8.59504px 8.59504px 20px rgba(222, 117, 94, 0.11));
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.2rem;
        position: relative;
        &::before {
            position: absolute;
            content:'';
            width: 0.4rem;
            height: 3.1rem;
            background: #FFFFFF;
            border-radius: 10rem;
            bottom: -4.4rem;
        }
        svg {
            width: 2rem;
            height: 2rem;
        }
    }



}