.publick-profile {
	padding: 0rem 6rem 18.6rem;

	&__head {
		display: flex;
		justify-content: space-between;
		margin-bottom: 8.4rem;
	}

	&__profile {
		border-radius: 3rem;
		width: 133.5rem;
		height: 42.8rem;
		background: #fff;
		overflow: hidden;
		position: relative;
		padding: 5.2rem;

		display: flex;
		align-items: flex-end;
	}

	&__profile-background-img {
		width: 100%;
		height: 24.9rem;
		border-radius: 3rem;
		position: absolute;
		top: 0rem;
		left: 0rem;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&__profile-photo {
		margin-top: auto;
		border-radius: 18.6rem;
		width: 18.6rem;
		height: 18.6rem;
		border: 0.3rem solid #fff;
		z-index: 2;
		margin-right: 2.2rem;

		img {
			width: 100%;
		}
	}

	&__profile-info {
		display: flex;
		gap: 1rem;
		align-items: flex-start;
		flex-direction: column;
		margin-right: auto;
	}

	&__profile-status {
		color: #a0a1a4;
		font-size: 2rem;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.04rem;
	}

	&__profile-name {
		display: flex;
		flex-direction: row;
		gap: 2.2rem;

		strong {
			color: #383742;
			font-size: 3.7rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.074rem;
		}
	}

	&__profile-rating {
		display: flex;
		align-items: center;
		gap: 1.2rem;

		span {
			display: flex;
			align-items: center;
			gap: 1.2rem;

			color: #a0a1a4;
			font-size: 2.2rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.11rem;
			text-transform: uppercase;
		}

		img {
			width: 1.9rem;
			height: 1.7rem;
		}
	}

	&__profile-sub-btn {
		display: flex;
		gap: 2.5rem;
		align-items: center;
		background: #de755e;
		padding: 2.6rem 4rem;
		border-radius: 100rem;
		margin-left: auto;

		span {
			color: #fff;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.04rem;
		}

		img {
			width: 3.2rem;
		}
	}

	&__stats {
		border-radius: 4rem;
		padding: 4.4rem 3.5rem;
		background: #fff;
		padding-top: 3.4rem;
	}

	&__stats-title {
		display: flex;
		gap: 4.3rem;
		align-items: center;
		margin-bottom: 4.8rem;

		p {
			color: #181818;
			font-size: 3.7rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.074rem;
		}
	}

	&__stats-title-icon {
		width: 6rem;
		height: 6rem;
		border-radius: 100rem;
		background-color: rgba(222, 117, 94, 1);
		display: flex;
		align-items: center;
		justify-content: center;

		img {
			width: 3.2rem;
			height: 3.2rem;
		}
	}

	&__stats-date {
		display: flex;
		gap: 1.8rem;
		align-items: center;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		margin: 0 auto;
		margin-bottom: 6rem;
	}

	&__stats-date-item {
		flex-direction: column;
		padding-top: 1.8rem;
		width: 8.8rem;
		height: 10.5rem;
		border-radius: 2rem;
		border: 0.1rem solid #e0e1e7;
		display: flex;
		gap: 0.5rem;

		strong {
			color: #181818;
			text-align: center;
			font-size: 3.7rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.074rem;
		}

		span {
			color: #a0a1a4;
			text-align: center;
			font-size: 1.6rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 400;
			line-height: 2rem;
		}
	}

	&__stats-subs {
		display: flex;
		align-items: center;
	}

	&__stats-subs-item {
		display: flex;
		flex-direction: column;
		height: 8.4rem;
		gap: 0.2rem;

		&:first-child {
			margin-left: 2.4rem;
			padding-right: 2.3rem;
			margin-right: 4rem;
			border-right: 0.1rem solid rgba(160, 161, 164, 0.3);
		}

		strong {
			color: #181818;
			font-size: 3.7rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.074rem;
		}

		span {
			color: #181818;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.04rem;
		}
	}

	.product-card__title-list {
		margin: 0;
		max-width: 133.5rem;
	}

	&__search-filter {
		display: flex;
		width: 100%;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 4.2rem;

		div {
			align-items: center;
			display: flex;
			gap: 3.2rem;
		}
	}

	&__product-count {
		color: #383742;
		font-size: 2.2rem;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.11rem;
		text-transform: uppercase;
	}

	&__search-input {
		padding: 2.75rem 9.5rem;
		padding-right: 4rem;
		border-radius: 100rem;
		background: #fff;
		width: 60.9rem;
	}

	&__input-wrapper {
		position: relative;
	}

	&__search-icon {
		width: 2.5rem;
		height: 2.5rem;
		position: absolute;
		left: 4rem;
		top: 2.7rem;
	}

	.header-block__sort {
		margin: 0;
	}

	.sort-popup--show {
		display: flex;
		top: 9.4rem;
		left: 0rem;
		right: 0rem;
	}

	.basic-card__type {
		width: 24.7rem;
	}

	.product-card__title-item {
		span {
			margin-top: 0.9rem;
		}
	}

	.basic-card__price span {
		position: relative;
		font-size: 1.4rem;
		top: -0.5rem;
		left: 0;
	}

	&__news-list {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	&__item {
		display: flex;
		align-items: flex-start;
		gap: 2.9rem;
		background: #fff;
		padding: 3.2rem;
		padding-bottom: 3rem;
		border-radius: 5.5rem;
		height: 38.6rem;
	}

	&__item-img {
		width: 45.2rem;
		height: 32.4rem;
		border-radius: 3rem;
		overflow: hidden;

		img {
			width: auto;
			height: 100%;
		}
	}

	&__pages-link {
		display: flex;
		gap: 2.5rem;
		align-items: center;
		position: relative;
		bottom: -1rem;

		span {
			color: #383742;
			font-size: 2rem;
			font-family: "Gilroy";
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.04rem;
		}
	}
	
	&__pages-wrapper {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 6.4rem;
		position: relative;
		bottom: -1rem;
	}

	&__pages-link-icon {
		width: 3.2rem;
	}

	&__news-content-box {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		align-items: flex-start;
	}

	&__content-block {
		display: none;
		flex-direction: column;
	}

	&__item-info {
		color: #fff;
		font-size: 2rem;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 0.04rem;

		border-radius: 100rem;
		padding: 1.3rem 2.8rem;

		&--orange {
			background: #de755e;
		}

		&--dark {
			background: #383742;
		}

		&--yellow {
			background: #ffb42f;
		}
	}

	&__item-content {
		padding: 2.8rem 3rem 2.9rem;
		border-radius: 3rem;
		border: 0.1rem solid #eaebef;
	}

	&__item-title {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: flex-start;

		p {
			color: #181818;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.04rem;
			margin-bottom: 2.7rem;
		}

		span {
			color: #999;
			font-size: 2rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			letter-spacing: 0.04rem;
		}
	}

	&__item-subtitle {
		color: #999;
		font-size: 2rem;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 500;
		line-height: normal;
		letter-spacing: 0.04rem;
		margin-bottom: 4.9rem;
		width: 119.4rem;
	}

	&__item-stats {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		p {
			color: #a0a1a4;
			font-size: 1.6rem;
			font-family: 'Gilroy';
			font-style: normal;
			font-weight: 400;
			line-height: normal;
		}
	}

	&__item-stats-likes {
		color: #1b1818;
		font-size: 1.6rem;
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		line-height: 2rem;

		display: flex;
		width: -webkit-fit-content;
		width: -moz-fit-content;
		width: fit-content;
		gap: 0.4rem;
		align-items: center;
	}

	&__item-stats-icon {
		width: 2.2887rem;
		height: 1.7rem;

		img {
			height: 100%;
		}
	}

	&__showcase-item {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 17.7rem;
		height: 12rem;
		gap: 0.7rem;
		border-radius: 1.5rem;
		background-color: rgba(224, 225, 231, 1);
		cursor: pointer;

		span {
			display: block;
			width: 0.7rem;
			height: 0.7rem;
			border-radius: 10rem;
			background-color: #fff;
		}
	}

	&__showcase-img {
		width: 17.7rem;
		height: 12rem;
		border-radius: 1.5rem;
		cursor: pointer;

		img {
			width: 100%;
		}
	}

	&__item-showcase {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem 1.1rem;
		width: 36.5rem;
	}

	&__item-head {
		display: flex;
		gap: 2rem;
		align-items: center;
		margin-bottom: 3rem;

		strong {
			color: #383742;
			font-size: 2.2rem;
			font-family: "Gilroy";
			font-style: normal;
			font-weight: 700;
			line-height: 2.6rem;
		}

		span {
			color: #FFF;
			font-size: 2rem;
			font-family: "Gilroy";
			font-style: normal;
			font-weight: 700;
			line-height: normal;
			letter-spacing: 0.04rem;

			padding: 0.5rem 2.2rem;
			border-radius: 3.6rem;
			background: #DE755E;
		}
	}

	&__collection-item {
		padding: 2rem;
		// width: 40.5rem !important;
		background-color: #FFF;
		border-radius: 3rem;
	}
}
