.purchases {
    &__section {
        display: flex;
        border-radius: 2rem;
        background: #fff;
        padding-left: 2.8rem;
        padding-right: 7.4rem;
        padding-top: 2rem;
        padding-bottom: 2rem;

        color: #A0A1A4;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.4px;
        margin-bottom: 1.5rem;
        span {
            display: block;
        }

        span:nth-child(1) {
            margin-right: 33.3rem;
        }

        span:nth-child(2) {
            margin-right: 5.1rem;
        }

        span:nth-child(3) {
            margin-right: 8.6rem;
        }

        span:nth-child(4) {
            margin-right: 16.7rem;
        }

        span:nth-child(5) {
            margin-right: 10.1rem;
        }

    }


    .sort-popup {
        top: 10rem;
    }
}