.purchases-box {
   width: 100%;
   margin-bottom: 1.5rem;
   border-radius: 2rem;
   background: #fff;
   border-radius: 2rem;
   display: flex; 
   justify-content: space-between;
   align-items:center;
   padding: 2rem 2.8rem;

   &__title {
    display: none;
   }

   &__inner {
    display: flex;
    align-items:center;
   }

   &__image {
    width: 9.6rem;
    height: 6.8rem;
    margin-right: 2rem;
        img {
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }
   }

   &__name {
    color:  #181818;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
   }

   &__inner-wrap {
    max-width: 22rem;
   }

   &__from {
    color:  #999;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
   }

   &__date {
        color:  #A0A1A4;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.4px;
   }

   &__price {
        color:  #A0A1A4;
        font-size: 2rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.4px;
        position: relative;
        padding-right: 0.8rem;
        &::before {
            position: absolute;
            content:'₽';
            font-size: 1.2rem;
            right: 0;

        }
   }

   &__license {
    color:  #A0A1A4;
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.4px;
   }

   &__law {
    color:  #DE755E;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.4px;
   }


   &__messages {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
   }

   &__download {
    width: 2.4rem;
    height: 2.4rem;
    display: block;
   }
}