.question-block {
  padding: 3rem 3.3rem;
  display: flex;
  gap: 2.5rem;
  border-radius: 3rem;
  background: #fff;

  &__questions-title {
    display: flex;
    align-items: center;
    padding-right: 2.5rem;
    border-right: 0.1rem solid #e0e1e7;
    color: #383742;

    font-size: 2rem;
    font-family: 'Gilroy';
    font-weight: 700;
    letter-spacing: 0.04rem;
  }

  &__questions-subtitle {
    padding-right: 2.5rem;
    border-right: 0.1rem solid #e0e1e7;
    color: #383742;

    font-size: 2rem;
    font-family: 'Gilroy';
    font-weight: 500;
    letter-spacing: 0.04rem;
  }

  &__questions-btn {
    display: flex;
    align-items: center;
    gap: 2.5rem;

    span {
      color: #383742;
      font-size: 2rem;
      font-family: 'Gilroy';
      font-weight: 700;
      letter-spacing: 0.04rem;
      white-space: nowrap;
    }
  }

  &__questions-btn-img {
    width: 3.2rem;

    img {
      width: 100%;
    }
  }
}