.register-m {
    
        margin-bottom: 11.5rem;
        &__wrapper {
            display: flex;
        }
    
        &__left {
            width: 104rem;
            height: 104rem;
            overflow: hidden;
            z-index: 1;
            position: absolute;
            
        }
    
        &__right {
            width: 107rem;
            height: 104rem;
            z-index: 2;
            background: #FFFFFF;
            border-radius: 5.5rem;
            right: 1rem;
            position: relative;
            margin-left: auto;
           padding: 7.2rem 12rem;
        }
    
        &__image {
            width: 100%;
            height: 104rem;
            border-radius: 5.5rem;
            img {
                border-radius: 5.5rem;
                height: 100%;
                
            }
            
        }
    
        &__content {
            width: 83rem;
        }

        &__numbers {
            display: flex;
            padding-left: 6rem;
            margin-bottom: 4.8rem;

        }

        &__numbers--two {
            margin-bottom: 19.6rem;
            padding-left: 18rem;
        }
       

        &__numbers-box-number {
            width: 3.8rem;
            height: 3.8rem;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #DE755E;
            position: relative;
            margin-right: 29rem;
            margin-bottom: 1.2rem;
            &::before {
                position: absolute;
                content:'';
                background-image: url(../img/icon/trinred.svg);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                width: 1rem;
                height: 0.9rem;
                top: -1rem;
            }
            &::after {
                position: absolute;
                content:'';
                height: 0.2rem;
                background: #E0E1E7;
                width: 29rem;
                right: -29rem;
            }
            span {
                font-weight: 500;
                font-size: 2rem;
                line-height: 2.4rem;
                letter-spacing: 0.02em;
                color: #FFFFFF;

            }
        }

        &__numbers-box-number.no-active {
            background: #FFFFFF;
            border: 0.2rem solid #E0E1E7;
            margin-right: 0;
            &::before {
                display: none;
            }
            &::after {
                display: none;
            }
            span {
                color: #E0E1E7;
            }
        }

        &__numbers-box-number.no-after {
            &::after {
                display: none;
            }

            &::after {
                display: none;
            }
        }

        &__numbers-box-number.no-before {
            &::before {
                display: none;
            }

            &::after {
                background:#DE755E;
            }
        }

        &__numbers-box-text {
            font-weight: 500;
            font-size: 2rem;
            line-height: 2.4rem;
            letter-spacing: 0.02em;
            color: #383742;
            margin-left: -6rem;
            
        }

        &__numbers-box-text.no-active {
            margin-left: -10rem;
            color: #E0E1E7;
        }

        &__numbers-box-text.no-after {
            margin-left: -12rem;
        }

        &__title {
            margin-bottom: 5.2rem;
            strong {
                display: block;
                font-family: 'Austin Cyr';
                font-style: normal;
                font-weight: 700;
                font-size: 3.7rem;
                line-height: 100% ;
                letter-spacing: 0.02em;
                margin-bottom: 1.2rem;
                color: #262626;
            }

            span {
                font-weight: 500;
                font-size: 2rem;
                line-height: 2.4rem;
                letter-spacing: 0.02em;
                color: #A0A1A4;

            }
        }

        &__form-wrap {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4rem;
        }

        &__form-inner {
            label {
                font-size: 2rem;
                line-height: 2.4rem;
                letter-spacing: 0.02em;
                display: block;
                margin-bottom: 1.2rem;
                color: #383742;

            }

            input {
                position: relative;
                width: 40.5rem;
                height: 4.8rem;
                background: #EAEBEF;
                border-radius: 1rem;
                padding: 1.4rem 2.4rem;
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 125%;
                color: #000000;
                border: none;
            }
        }

        &__form-inner--type {
            .select {
                width: 83rem;
            }
        }

        &__form-inner-text {
            font-weight: 400;
            margin-top: 1.2rem;
            font-size: 1.6rem;
            line-height: 125%;
            color: #A0A1A4;
        }

        &__btns {
            display: flex;
            align-items:center;
        }

        .red-btn {
            width: 45.3rem;
            margin-right: 3.8rem;
        }

        &__faq {
            font-weight: 500;
            font-size: 2rem;
            line-height: 136.5%;
            letter-spacing: 0.02em;
            color: #A0A1A4;
            a {
                color:#DE755E;
            }
        }

        &__two-text {
            font-weight: 500;
            font-size: 2rem;
            line-height: 136.5%;
            letter-spacing: 0.02em;
            color: #A0A1A4;
            margin-top: 2rem;
            a {
                color:#DE755E;
            }
        }
 
}