.sale-box {
    width: 40.5rem;
    margin-bottom: 6rem;
    background: #fff;
    border-radius: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 2.4rem 2.2rem;
    margin-right: 6rem;
    &__mob {
        display: block;
    }

    &__desk {
      display: none;
    }

    &__desk-block {
        display: flex;
        align-items:center;
        margin-right: 11rem;
    }

    &__desk-image {
        width: 9.6rem;
        height: 6rem;
        border-radius: 1rem;
        margin-right: 1.2rem;
        img {
            width: 100%;
            height: 100%;
            border-radius:1rem;
        }
    }

    &__desk-title {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #181818;
    }

    &__desk-date {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        margin-right: 11rem;
        text-align: left;

    }

    &__desk-price {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        margin-right: 11rem;
        position: relative;
        padding-right: 1.2rem;
        text-align: left;
        &::before {
            position: absolute;
            content:'₽';
            right: 0.3rem;
            top: -0.1rem;
            font-size: 1.4rem;
            color: #A0A1A4;
        }
    }

    &__desk-name {
        font-style: normal;
        font-weight: 500;
        font-size: 2rem;
        line-height: 2.4rem;
        letter-spacing: 0.02em;
        color: #A0A1A4;
        text-align: left;
    }

 
	&__desk {
			display: none;
	}

	&__mob {
			display: block;
	}

		&__mob-block {
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
		}

	&__mob-image {
			width: 8rem;
            height: 5rem;
			margin-right: 2.2rem;
			img {
				width: 100%;
				height: 100%;
				border-radius: 2rem;
			}
	}

		&__mob-name {
			font-size: 2rem;
			line-height: normal;
            font-weight: 500;
		}

		&__mob-data {
			display: flex;
			justify-content: space-between;
			margin-bottom: 1rem;
		}

		&__mob-data:last-child {
			margin-bottom: 0;
		}

		&__mob-data-bold {
			font-weight: 700;
			font-size: 2rem;
		line-height: normal;
			color: #a0a1a4;
		}

		&__mob-data-medium {
			color: #a0a1a4;
			font-size: 2rem;
			line-height: normal;
		}

		&__mob-data-rub {
			color: #a0a1a4;
			font-size: 2rem;
			line-height: normal;
			padding-right: 1.3rem;
			position: relative;
			&::before {
				position: absolute;
				content: '₽';
				right: 0rem;
				top: 0rem;
				font-size: 2rem;
				color: #a0a1a4;
			}
		}

        .separator {
            flex-grow: 1;
                border-bottom: 1px dotted #a0a1a4;
                margin-left: 1rem;
                margin-right: 1rem;
                position: relative;
                bottom: 0.7rem;
        }
}

.sale-box:nth-child(3n) {
    margin-right: 0;
}