.sort-popup {
	display: none;
	flex-direction: column;
	gap: 1.6rem;
	min-width: 23.9rem;
	background: #fff;
	border-radius: 2rem;
	padding: 3.2rem;
  z-index: 10;
  position: absolute;
	box-shadow: 3.7rem 3.5rem 8rem rgba(103,110,133,.2);

  &--show {
    display: flex;
  }
  
  &__title {
		font-family: 'Gilroy';
		font-style: normal;
		font-weight: 400;
		font-size: 1.6rem;
		line-height: 2rem;
		color: #383742;
	}

	&__item {
		display: flex;
		gap: 1.2rem;
		align-items: center;
		justify-content: flex-start;
		cursor: pointer;

		label {
			display: flex;
			gap: 1.2rem;
			align-items: center;
			justify-content: flex-start;
			cursor: pointer;
		}
	}


	input[type="radio"] {
		display: none;
	}
	
	.sort-popup__checker img {
		display: none;
	}
	
	.sort-popup__item input:checked + .sort-popup__label .sort-popup__checker img {
		display: block;
	}
}

.sort-popup__item input:checked + .sort-popup__label .sort-popup__checker {
	box-shadow: 0.86rem 0.86rem 2rem rgba(103, 110, 133, 0.2);
}



.checker {
	width: 4rem;
	height: 4rem;
	background: #E0E1E7;
	border-radius: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;

	img {
		display: none;
		width: 1.5rem;
		height: 1.5rem;
	}
}

.checker--active {
	img {
		display: block;
	}
}