.header {
  margin-bottom: 3rem;
  background-color: #fff;
  border-radius: 0 0 3rem 3rem;
  position: fixed;
  width: 100%;
  z-index: 20;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25), 0 0 1.1rem rgba(103, 110, 133, 0.2);
}
.header__burger {
  display: none;
}
.header__head {
  z-index: 35;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.1rem 0;
  background-color: white;
  border-bottom: 0.1rem solid #eaebef;
}
.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  width: 19.276rem;
  height: 3.209rem;
  margin-right: 1rem;
  transition: 0.6s ease;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.header__nav {
  width: 100%;
  align-items: center;
  z-index: 20;
  background-color: #fff;
}
.header__lists {
  position: relative;
  height: 7.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1.4rem;
  z-index: 15;
}
.header__item {
  position: relative;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #383742;
}
.header__item--slide {
  padding-right: 1.9rem;
  position: relative;
}
.header__item--slide::before {
  position: absolute;
  content: "";
  width: 1.2rem;
  height: 0.9rem;
  background-image: url(../img/icon/Polygon.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 0;
  top: 45%;
}
.header__search-category--slide {
  position: relative;
  padding-right: 2.4rem;
}
.header__search-category--slide::before {
  position: absolute;
  content: "";
  width: 1.2rem;
  height: 0.9rem;
  background-image: url(../img/icon/Polygon.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 0;
  top: 33%;
}
.header__item:last-child {
  margin-right: 0;
}
.header__user {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background: #eaebef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__user img {
  width: 1.7rem;
  height: 2.3rem;
}
.header__store {
  background: #eaebef;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background: #eaebef;
  display: none;
  justify-content: center;
  align-items: center;
}
.header__store img {
  width: 2.3rem;
  height: 2.3rem;
}
.header__store--show {
  display: flex;
}
.header__like {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background: #eaebef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__like img {
  width: 2.281rem;
  height: 2.28rem;
}
.header__bag {
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  background: #eaebef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__bag img {
  width: 2.8rem;
  height: 2.8rem;
}
.header__shop-button {
  display: block;
  background: #de755e;
  border-radius: 100rem;
  padding: 2.5rem 2.8rem;
}
.header__shop-button span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  color: white;
}
.header__shop-button--remove {
  display: none;
}
.header__buttons-bar {
  display: flex;
  gap: 1rem;
  transition: 0.6s ease;
}
.header__buttons-bar--reg {
  margin-right: 7.65rem;
}
.header__search {
  display: flex;
  align-items: center;
  background-color: #eaebef;
  border-radius: 100rem;
  padding: 1.2rem 2.5rem;
  border: 0.1rem solid transparent;
  color: #a5a5a9;
}
.header__search-button-wrapper {
  display: flex;
  gap: 2.4rem;
  height: 5.1rem;
  align-items: center;
  padding-right: 2rem;
  margin-right: 2rem;
  border-right: 0.1rem solid rgba(165, 165, 169, 0.6);
}
.header__search-button-wrapper img {
  width: 2.5rem;
  height: 2.5rem;
}
.header__search-button {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  letter-spacing: 0.02em;
  color: #383742;
}
.header__search-input {
  width: 38rem;
  padding: 1.5rem 0;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.1rem;
  letter-spacing: 0.02em;
  border: 0;
  background-color: transparent;
  transition: 0.6s ease;
}
.header__search-input--reg {
  width: 38rem;
}
.header__register-alert {
  position: absolute;
  top: -20.2rem;
  right: 6rem;
  z-index: 30;
  padding: 3.2rem 2.6rem;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  transition: 0.6s ease;
}
.header__register-alert p {
  width: 40.6rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: #383742;
}
.header__register-alert--show {
  top: 11.8rem;
  box-shadow: 1rem 1rem 3.1rem rgba(160, 161, 164, 0.19);
}
.header__register-alert-button {
  padding: 2.6rem 4.9rem;
  background-color: #de755e;
  border-radius: 100rem;
}
.header__register-alert-button span {
  text-align: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.header__profile-bar {
  position: absolute;
  right: 6.5rem;
  top: -20rem;
  padding: 2rem 2.4rem;
  background-color: white;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  transition: 0.6s ease;
  z-index: 30;
}
.header__profile-bar--show {
  top: 11.8rem;
  box-shadow: 1rem 1rem 3.1rem rgba(160, 161, 164, 0.19);
}
.header__profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1.2rem;
}
.header__profile-link img {
  width: 2.1rem;
  height: 2rem;
}
.header__profile-link span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: #383742;
}
.header__profile-bar-button {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1.2rem;
}
.header__profile-bar-button img {
  width: 2.1rem;
  height: 2rem;
}
.header__profile-bar-button span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: #383742;
}
.header__info {
  top: -60rem;
  left: 0;
  position: absolute;
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 10rem;
  border-radius: 0 0 3rem 3rem;
  z-index: 10;
  transition: 0.6s ease;
}
.header__info--show {
  top: 12.1rem;
  box-shadow: 1rem 1rem 3.1rem rgba(160, 161, 164, 0.19);
}
.header__info-wrapper {
  padding: 3rem 6rem 3.2rem;
  border-top: 0.1rem solid #eaebef;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header__info-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6rem;
}
.header__info-content a {
  margin: 0;
  z-index: 10;
}
.header__info-list {
  margin-top: 0.7rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.header__info-item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  color: #383742;
}
.header__categorys {
  width: 100%;
  background-color: #fff;
  padding: 6rem 3.2rem;
}
.header__categorys-wrapper {
  display: flex;
}
.header__categorys-item a {
  width: 27.6rem;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  color: #A0A1A4;
}
.header__categorys-item:not(:last-child) {
  margin-bottom: 1rem;
}
.header__categorys-item:last-child {
  margin-bottom: 4rem;
}
.header__categorys-list {
  overflow: hidden;
  transition: 0.5s;
  height: 0;
  will-change: height;
}
.header__categorys-list--show {
  height: auto;
}
.header__categorys-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  color: #383742;
  cursor: pointer;
  margin-bottom: 1rem;
}
.header__categorys-col {
  width: 27.6rem;
  margin-right: 9.4rem;
}

.header__search--active {
  background: #ffffff;
  border: 0.1rem solid #de755e;
  box-shadow: 0.86rem 0.86rem 2rem rgba(222, 117, 94, 0.11);
  border-radius: 100rem;
  color: #000000;
}/*# sourceMappingURL=header.css.map */