.register-m {
  margin-bottom: 11.5rem;
}
.register-m__wrapper {
  display: flex;
}
.register-m__left {
  width: 104rem;
  height: 104rem;
  overflow: hidden;
  z-index: 1;
  position: absolute;
}
.register-m__right {
  width: 107rem;
  height: 104rem;
  z-index: 2;
  background: #FFFFFF;
  border-radius: 5.5rem;
  right: 1rem;
  position: relative;
  margin-left: auto;
  padding: 7.2rem 12rem;
}
.register-m__image {
  width: 100%;
  height: 104rem;
  border-radius: 5.5rem;
}
.register-m__image img {
  border-radius: 5.5rem;
  height: 100%;
}
.register-m__content {
  width: 83rem;
}
.register-m__numbers {
  display: flex;
  padding-left: 6rem;
  margin-bottom: 4.8rem;
}
.register-m__numbers--two {
  margin-bottom: 19.6rem;
  padding-left: 18rem;
}
.register-m__numbers-box-number {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #DE755E;
  position: relative;
  margin-right: 29rem;
  margin-bottom: 1.2rem;
}
.register-m__numbers-box-number::before {
  position: absolute;
  content: "";
  background-image: url(../img/icon/trinred.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1rem;
  height: 0.9rem;
  top: -1rem;
}
.register-m__numbers-box-number::after {
  position: absolute;
  content: "";
  height: 0.2rem;
  background: #E0E1E7;
  width: 29rem;
  right: -29rem;
}
.register-m__numbers-box-number span {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.register-m__numbers-box-number.no-active {
  background: #FFFFFF;
  border: 0.2rem solid #E0E1E7;
  margin-right: 0;
}
.register-m__numbers-box-number.no-active::before {
  display: none;
}
.register-m__numbers-box-number.no-active::after {
  display: none;
}
.register-m__numbers-box-number.no-active span {
  color: #E0E1E7;
}
.register-m__numbers-box-number.no-after::after {
  display: none;
}
.register-m__numbers-box-number.no-after::after {
  display: none;
}
.register-m__numbers-box-number.no-before::before {
  display: none;
}
.register-m__numbers-box-number.no-before::after {
  background: #DE755E;
}
.register-m__numbers-box-text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: #383742;
  margin-left: -6rem;
}
.register-m__numbers-box-text.no-active {
  margin-left: -10rem;
  color: #E0E1E7;
}
.register-m__numbers-box-text.no-after {
  margin-left: -12rem;
}
.register-m__title {
  margin-bottom: 5.2rem;
}
.register-m__title strong {
  display: block;
  font-family: "Austin Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 100%;
  letter-spacing: 0.02em;
  margin-bottom: 1.2rem;
  color: #262626;
}
.register-m__title span {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: #A0A1A4;
}
.register-m__form-wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.register-m__form-inner label {
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 1.2rem;
  color: #383742;
}
.register-m__form-inner input {
  position: relative;
  width: 40.5rem;
  height: 4.8rem;
  background: #EAEBEF;
  border-radius: 1rem;
  padding: 1.4rem 2.4rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 125%;
  color: #000000;
  border: none;
}
.register-m__form-inner--type .select {
  width: 83rem;
}
.register-m__form-inner-text {
  font-weight: 400;
  margin-top: 1.2rem;
  font-size: 1.6rem;
  line-height: 125%;
  color: #A0A1A4;
}
.register-m__btns {
  display: flex;
  align-items: center;
}
.register-m .red-btn {
  width: 45.3rem;
  margin-right: 3.8rem;
}
.register-m__faq {
  font-weight: 500;
  font-size: 2rem;
  line-height: 136.5%;
  letter-spacing: 0.02em;
  color: #A0A1A4;
}
.register-m__faq a {
  color: #DE755E;
}
.register-m__two-text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 136.5%;
  letter-spacing: 0.02em;
  color: #A0A1A4;
  margin-top: 2rem;
}
.register-m__two-text a {
  color: #DE755E;
}/*# sourceMappingURL=register-m.css.map */