<section class="author">
    <div class="container">
        <div class="author__wrapper">
            <div class="author__image">
                <img src="./img/author/img.png" alt="">
            </div>
            <div class="author__image-mob">
                <img src="./img/author/pic.png" alt="">
            </div>
            <div class="author__title">
                <strong>Станьте автором и начните зарабатывать с ArtLovers!</strong>
                <span>Продавайте свои проекты и привлекайте миллионы покупателей или продвигайте других художников на креативном рынке, чтобы заработать деньги!</span>
            </div>
            <button class="all-btn"><span>Зарегистрироваться</span></button>
        </div>
    </div>
</section>