<div class="basic-card">
	<div class="basic-card__wrapper">
		<p class="basic-card__type">Шрифты с засечками</p>
		<button class="basic-card__favor">
			<img
				src="./img/basic-card/favor-icon.svg"
				alt="" />
		</button>

		<button class="basic-card__like">
			<img
				src="./img/basic-card/heart-icon.svg"
				alt="" />
		</button>

		<button class="basic-card__share">
			<img
				src="./img/basic-card/share-icon.svg"
				alt="" />
		</button>
	</div>

	<img
		class="basic-card__img"
		src="./img/basic-card/image 19452.png"
		alt="" />

	<div class="basic-card__info">
		<div class="basic-card__discription">
			<p class="basic-card__title">Мега набор постеров</p>
			<a
				href="/"
				class="basic-card__link">
				<img
					src="./img/basic-card/resurs-icon.svg"
					alt="" />
				<span>От Wall art...</span>
			</a>
		</div>
		<span class="basic-card__price basic-card__price--pink-backgraund">
			4500
			<span>₽</span>
		</span>
	</div>
</div>
