<section class="collections">
	<div class="container">
		<div class="title">
			<div class="title__words">
				<strong>Тематические коллекции</strong>
			</div>
		</div>
		<div class="collections__wrapper">
			<div class="collections__left">
				<a
					href="#"
					class="collections__one">
					<div class="collections__one-rub">
						<span>Популярное</span>
					</div>
					<div class="collections__one-image">
						<img
							src="./img/collections/image1.png"
							alt="" />
					</div>
					<div class="collections__one-title">
						<span>Фотографии, векторы</span>
						<strong>Месяц женской истории</strong>
					</div>
				</a>
			</div>
			<div class="collections__right">
				<a
					href="#"
					class="collections__two">
					<div class="collections__two-image">
						<img
							src="./img/collections/image2.png"
							alt="" />
					</div>
					<div class="collections__two-title">
						<span>Фотографии, векторы</span>
						<strong>Сюрреализм</strong>
					</div>
				</a>
				<a
					href="#"
					class="collections__three">
					<div class="collections__three-image">
						<img
							src="./img/collections/image3.png"
							alt="" />
					</div>
					<div class="collections__three-title">
						<span>Фотографии, векторы</span>
						<strong>Лица разнообразия</strong>
					</div>
				</a>

				<a
					href="#"
					class="collections__four">
					<div class="collections__four-image">
						<img
							src="./img/collections/image4.png"
							alt="" />
					</div>
					<div class="collections__four-rub">
						<span>Популярное</span>
					</div>
					<div class="collections__four-title">
						<span>Фотографии, векторы</span>
						<strong>Спортивная тематика</strong>
					</div>
				</a>

				<a
					href="#"
					class="collections__five">
					<div class="collections__five-image">
						<img
							src="./img/collections/image5.png"
							alt="" />
					</div>

					<div class="collections__five-title">
						<span>Фотографии, векторы</span>
						<strong>Неон</strong>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
