<header class="header">
	<div class="header__wrapper">
		<div class="header__head">
			<button class="header__burger">
				<div class="header__burger-content">
					<span class="header__burger-item"></span>
				</div>
			</button>

			<div class="header__search">
				<div class="header__search-button-wrapper">
					<img
						src="./img/header/search.svg"
						alt="" />
					<button class="header__search-button">
						<span
							class="header__search-category header__search-category--slide">
							Все категории
						</span>
					</button>
				</div>
				<input
					class="header__search-input"
					placeholder="Поиск"
					type="text" />
			</div>

			<div class="header__search-popup">
				<ul>
					<li
						class="header__search-popup-item header__search-popup-item--active">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Все категории</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Графика</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Шрифты</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Фото</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Иллюстрации</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Векторы</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Графика</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Шрифты</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Фото</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Фото</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Иллюстрации</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Векторы</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Графика</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Шрифты</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Фото</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Иллюстрации</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Векторы</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Графика</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Шрифты</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Фото</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Иллюстрации</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Векторы</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Графика</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Шрифты</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Фото</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Иллюстрации</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Векторы</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Графика</span>
					</li>

					<li class="header__search-popup-item">
						<img
							src="./img/icon/checker-icon-black.svg"
							alt="" />
						<span>Шрифты</span>
					</li>
				</ul>
			</div>

			<a
				href="/"
				class="header__logo">
				<img
					src="./img/header/new-logo.svg"
					alt="" />
			</a>
			<!-- header__buttons-bar--reg сдвиг блока при авторизованном входе, как в дизайне -->
			<div class="header__buttons-bar">
				<button
					class="header__search-bar-icon"
					id="mobile-search">
					<img
						src="./img/header/search.svg"
						alt="" />
				</button>

				<a class="header__shop-button">
					<span>Открыть магазин</span>
				</a>

				<button class="header__user">
					<img
						src="./img/header/user.svg"
						alt="" />
				</button>

				
				<button class="header__store">
					<img
						src="./img/header/store.svg"
						alt="" />
				</button>

				<button class="header__like">
					<img
						src="./img/header/heart.svg"
						alt="" />
				</button>
<!-- header__store--show - показ кнопки с магазином, item--hide - прячет при мобилке-->
				<a
					class="header__bag item--hide"
					href="/cart.html">
					<img
						src="./img/header/bag.svg"
						alt="" />
				</a>
			</div>
		</div>

		<div class="header__register-alert">
			<p>
				Войдите, чтобы делать покупки, создавать персональные коллекции и
				следить за обновлениями магазинов.
			</p>
			<a class="header__register-alert-button">
				<span>Войти или зарегистрироваться</span>
			</a>
		</div>

		<div class="header__profile-bar header__profile-bar--reg">
			<a
				href=""
				class="header__profile-link">
				<img
					src="./img/header/user-orange.svg"
					alt="" />
				<span>Личный кабиент</span>
			</a>
			<button class="header__profile-bar-button">
				<img
					src="./img/header/log-out.svg"
					alt="" />
				<span>Выйти</span>
			</button>
		</div>

		<div
			class="burger__categ-item"
			id="mobile-info">
			<div class="burger__categ-item-title">
				<button
					class="burger__categ-item-btn"
					id="burger-categ-btn">
					<img
						src="./img/header/arrow-icon.svg"
						alt="" />
				</button>

				<div>Все категории</div>
			</div>

			<ul class="header__lists">
				<li class="header__item"><a>О нас</a></li>
				<li class="header__item"><a>Лицензирование</a></li>
				<li class="header__item"><a>Тематические коллекции</a></li>
				<li class="header__item"><a>Выбор команды</a></li>
				<li class="header__item"><a href="/blog.html">Блог</a></li>
			</ul>
		</div>
	</div>

	<div
		class="burger__categ-item header__modal"
		id="mobile-categorys">
		<div class="burger__categ-item-title">
			<button
				class="burger__categ-item-btn"
				id="burger-categ-btn">
				<img
					src="./img/header/arrow-icon.svg"
					alt="" />
			</button>

			<div>Все категории</div>
		</div>

		<ul class="header__lists">
			<li class="header__item"><a>Подкатегория 1</a></li>
			<li class="header__item"><a>Подкатегория 2</a></li>
			<li class="header__item"><a>Подкатегория N</a></li>
		</ul>
	</div>

	<nav class="header__nav header__modal">
		<ul
			class="header__lists"
			id="mobile__lists">
			<li class="header__item header__item--slide">
				<button id="categorys-btn">Все категории</button>
			</li>
			<li class="header__item"><a href="/fonts.html">Шрифты</a></li>
			<li class="header__item"><a href="">Фотографии</a></li>
			<li class="header__item"><a href="/vectors.html">Векторы</a></li>
			<li class="header__item"><a href="">Мокапы</a></li>
			<li class="header__item header__item--slide">
				<button id="info-btn">Больше информации</button>
			</li>
		</ul>

		<div class="burger__mobile-bar">
			<a class="burger__item">
				<div>
					<img
						src="./img/header/heart.svg"
						alt="" />
				</div>
				<span>Избранное</span>
			</a>
			<!-- магазин спрятан с помощью item--hide, так как пользователь не авторизован -->
			<a class="burger__item item--hide">
				<div>
					<img
						src="./img/header/store.svg"
						alt="" />
				</div>
				<span>Мой магазин</span>
			</a>

			<a
				class="burger__item"
				href="/cart.html">
				<div>
					<img
						src="./img/header/bag.svg"
						alt="" />
				</div>
				<span>Корзина</span>
			</a>

			<a class="header__shop-button header__shop-button--burger">
				<span>Открыть магазин</span>
			</a>
		</div>
	</nav>

	<div class="header__info">
		<div class="header__info-wrapper">
			<nav class="header__info-list">
				<a
					href=""
					class="header__info-item">
					О нас
				</a>
				<a
					href=""
					class="header__info-item">
					Лицензирование
				</a>
				<a
					href=""
					class="header__info-item">
					Тематические коллекции
				</a>
				<a
					href=""
					class="header__info-item">
					Выбор команды
				</a>
				<a
					href="/blog.html"
					class="header__info-item">
					Блог
				</a>
			</nav>
			<div class="header__info-content">
				<a
					href="#"
					class="collections__two">
					<div class="collections__two-image">
						<img
							src="./img/collections/image2.png"
							alt="" />
					</div>
					<div class="collections__two-title">
						<span>Фотографии, векторы</span>
						<strong>Сюрреализм</strong>
					</div>
				</a>

				<a
					href="#"
					class="collections__four">
					<div class="collections__four-image">
						<img
							src="./img/collections/image4.png"
							alt="" />
					</div>
					<div class="collections__four-rub">
						<span>Популярное</span>
					</div>
					<div class="collections__four-title">
						<span>Фотографии, векторы</span>
						<strong>Спортивная тематика</strong>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="header__categorys">
		<div class="header__categorys-wrapper">
			<div class="header__categorys-lists">
				<div class="header__categorys-col">
					<div class="header__box">
						<p class="header__categorys-title">Категория 1</p>
						<ul class="header__categorys-list header__categorys-list--show">
							<li class="header__categorys-item">
								<a href="">Подкатегория 1</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Подкатегория 2</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Подкатегория 3</a>
							</li>
						</ul>
					</div>

					<div class="header__box">
						<p class="header__categorys-title">Категория 2</p>
						<ul class="header__categorys-list">
							<li class="header__categorys-item">
								<a href="">Подкатегория 1</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Подкатегория 2</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Подкатегория 3</a>
							</li>
						</ul>
					</div>

					<div class="header__box">
						<p class="header__categorys-title">Категория 3</p>
						<ul class="header__categorys-list">
							<li class="header__categorys-item">
								<a href="">Подкатегория 1</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Подкатегория 2</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Подкатегория 3</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="header__categorys-col">
					<div class="header__box">
						<p class="header__categorys-title">Категория 4</p>
						<ul class="header__categorys-list header__categorys-list--show">
							<li class="header__categorys-item">
								<a href="">Подкатегория 1</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Подкатегория 2</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Подкатегория 3</a>
							</li>
						</ul>
					</div>

					<div class="header__box">
						<p class="header__categorys-title">Категория N</p>
						<ul class="header__categorys-list">
							<li class="header__categorys-item">
								<a href="">Подкатегория N + 1</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Подкатегория N + 2</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Подкатегория N + 3</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Подкатегория N + 4</a>
							</li>
						</ul>
					</div>

					<div class="header__box">
						<p class="header__categorys-title">Все категории</p>
						<ul class="header__categorys-list">
							<li class="header__categorys-item">
								<a href="">Категория 1</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Категория 2</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Категория 3</a>
							</li>
						</ul>
					</div>
				</div>

				<div class="header__categorys-col">
					<div class="header__box">
						<p class="header__categorys-title">Бренды</p>
						<ul class="header__categorys-list header__categorys-list--show">
							<li class="header__categorys-item">
								<a href="">Бренд 1</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Бренд 2</a>
							</li>
							<li class="header__categorys-item">
								<a href="">Бренд 3</a>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="header__categorys-card">
				<a
					href="#"
					class="collections__three">
					<div class="collections__three-image">
						<img
							src="./img/collections/image3.png"
							alt="" />
					</div>
					<div class="collections__three-title">
						<span>Фотографии, векторы</span>
						<strong>Лица разнообразия</strong>
					</div>
				</a>
			</div>
		</div>
	</div>

	<div class="burger__search header__modal">
		<button
			class="burger__close-btn"
			id="mobile-search-close">
			<span></span>
			<span></span>
		</button>

		<form class="header__search--burger">
			<button type="submit">
				<img
					src="./img/header/search.svg"
					alt="" />
			</button>
			<input
				class="header__search-input header__search-input--burger"
				placeholder="Поиск"
				type="text" />
		</form>

		<button class="header__item header__item--burger">
			<span class="header__item--slide">Все категории</span>
		</button>

		<div
			class="header__search-popup"
			id="mobile-search-popup">
			<ul>
				<li class="header__search-popup-item header__search-popup-item--active">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Все категории</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Графика</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Шрифты</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Фото</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Иллюстрации</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Векторы</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Графика</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Шрифты</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Фото</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Фото</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Иллюстрации</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Векторы</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Графика</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Шрифты</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Фото</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Иллюстрации</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Векторы</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Графика</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Шрифты</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Фото</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Иллюстрации</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Векторы</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Графика</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Шрифты</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Фото</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Иллюстрации</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Векторы</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Графика</span>
				</li>

				<li class="header__search-popup-item">
					<img
						src="./img/icon/checker-icon-black.svg"
						alt="" />
					<span>Шрифты</span>
				</li>
			</ul>
		</div>

		<img
			src="./img/header/search-backgraund-mobile.svg"
			alt=""
			class="burger__serch-backgraund-img" />

		<p class="burger__search-title">
			Добро пожаловать в Stay Creative Marketplace!
		</p>

		<p class="burger__search-subtitle">Введите свой запрос в поле Поиска</p>
	</div>
</header>
