<header class="header">
	<div class="container">
		<div class="header__wrapper">
			<div class="header__burger">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="header__head">
				<div class="header__search">
					<div class="header__search-button-wrapper">
						<img
							src="./img/header/search.svg"
							alt="" />
						<button class="header__search-button">
							<span
								class="header__search-category header__search-category--slide">
								Все категории
							</span>
						</button>
					</div>
					<input
						class="header__search-input"
						placeholder="Поиск"
						type="text" />
				</div>

				<a
					href="#"
					class="header__logo">
					<img
						src="./img/header/new-logo.svg"
						alt="" />
				</a>

				<div class="header__buttons-bar">
					<a class="header__shop-button">
						<span>Открыть магазин</span>
					</a>
					<button class="header__user">
						<img
							src="./img/header/user.svg"
							alt="" />
					</button>
					<button class="header__store">
						<img
							src="./img/header/store.svg"
							alt="" />
					</button>
					<button class="header__like">
						<img
							src="./img/header/heart.svg"
							alt="" />
					</button>
					<button class="header__bag">
						<img
							src="./img/header/bag.svg"
							alt="" />
					</button>
				</div>
			</div>

			<div class="header__register-alert">
				<p>
					Войдите, чтобы делать покупки, создавать персональные коллекции и
					следить за обновлениями магазинов.
				</p>
				<a class="header__register-alert-button">
					<span>Войти или зарегистрироваться</span>
				</a>
			</div>
            
            <div class="header__profile-bar">
				<a href="" class="header__profile-link">
					<img src="./img/header/user-orange.svg" alt="">
                    <span>Личный кабиент</span>
				</a>
				<button class="header__profile-bar-button">
					<img src="./img/header/log-out.svg" alt="">
                    <span>Выйти</span>
				</button>
			</div>

			<nav class="header__nav">
				<ul class="header__lists">
					<li class="header__item header__item--slide">
						<a href="#">Все категории</a>
					</li>
					<li class="header__item"><a href="">Шрифты</a></li>
					<li class="header__item"><a href="">Фотографии</a></li>
					<li class="header__item"><a href="">Векторы</a></li>
					<li class="header__item"><a href="">Мокапы</a></li>
					<li class="header__item header__item--slide">
						<a href="">Больше информации</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</header>
