<div class="lk-m__content">
    <div class="lk-m__title">Панель управления</div>
    <div class="control-panel">
        <div class="control-panel__banner">
            <div class="control-panel__banner-text">Добро пожаловать в Stay Creative Marketplace!</div>
            <a href="/" class="control-panel__banner-btn">Добавить продукт</a>
        </div>
        <div class="control-panel__wrap">
            <div class="control-panel__tab">
                <div class="control-panel__tab-title">
                    <strong>Информация о продуктах</strong>
                    <span>за последний месяц</span>
                </div>
                <div class="control-panel__tab-inner">
                    <div class="control-panel__tab-text">Продано продуктов </div>
                    <div class="control-panel__tab-span">30</div>
                </div>
                <div class="control-panel__tab-inner">
                    <div class="control-panel__tab-text">Просмотры</div>
                    <div class="control-panel__tab-span">30000</div>
                </div>
                <div class="control-panel__tab-inner">
                    <div class="control-panel__tab-text">Лайки</div>
                    <div class="control-panel__tab-span">55</div>
                </div>
            </div>
            <div class="control-panel__tab">
                <div class="control-panel__tab-title">
                    <strong>Информация о магазине</strong>
                    <span>за последний месяц</span>
                </div>
                <div class="control-panel__tab-inner">
                    <div class="control-panel__tab-text">Прибыль</div>
                    <div class="control-panel__tab-span">7000₽</div>
                </div>
                <div class="control-panel__tab-inner">
                    <div class="control-panel__tab-text">Продажи</div>
                    <div class="control-panel__tab-span">30000₽</div>
                </div>
                <div class="control-panel__tab-inner">
                    <div class="control-panel__tab-text">Конверсия</div>
                    <div class="control-panel__tab-span">1%</div>
                </div>
            </div>
        </div>
        <div class="control-panel__title">
            <div class="control-panel__title-words">
                <strong>Самые популярные продукты</strong>
                <span>за последний месяц</span>
            </div>
        </div>
        <div class="control-panel__wrap-two">
            <div class="control-panel__mega">
                <div class="control-panel__mega-left">
                    <div class="control-panel__mega-image">
                        <img src="./img/control-panel/img.png" alt="">
                    </div>
                    <div class="control-panel__mega-text">
                        Мега набор постеров
                    </div>
                </div>
                <div class="control-panel__mega-right">
                    <div class="control-panel__mega-views">2000</div>
                    <div class="control-panel__mega-like">20</div>
                    <a href="/" download="" class="control-panel__mega-dow">2000</a>
                </div>
            </div>
            <div class="control-panel__mega">
                <div class="control-panel__mega-left">
                    <div class="control-panel__mega-image">
                        <img src="./img/control-panel/img.png" alt="">
                    </div>
                    <div class="control-panel__mega-text">
                        Мега набор постеров
                    </div>
                </div>
                <div class="control-panel__mega-right">
                    <div class="control-panel__mega-views">2000</div>
                    <div class="control-panel__mega-like">20</div>
                    <a href="/" download="" class="control-panel__mega-dow">2000</a>
                </div>
            </div>
            <div class="control-panel__mega">
                <div class="control-panel__mega-left">
                    <div class="control-panel__mega-image">
                        <img src="./img/control-panel/img.png" alt="">
                    </div>
                    <div class="control-panel__mega-text">
                        Мега набор постеров
                    </div>
                </div>
                <div class="control-panel__mega-right">
                    <div class="control-panel__mega-views">2000</div>
                    <div class="control-panel__mega-like">20</div>
                    <a href="/" download="" class="control-panel__mega-dow">2000</a>
                </div>
            </div>
            <div class="control-panel__mega">
                <div class="control-panel__mega-left">
                    <div class="control-panel__mega-image">
                        <img src="./img/control-panel/img.png" alt="">
                    </div>
                    <div class="control-panel__mega-text">
                        Мега набор постеров
                    </div>
                </div>
                <div class="control-panel__mega-right">
                    <div class="control-panel__mega-views">2000</div>
                    <div class="control-panel__mega-like">20</div>
                    <a href="/" download="" class="control-panel__mega-dow">2000</a>
                </div>
            </div>
        </div>
        <div class="control-panel__title">
            <div class="control-panel__title-words">
                <strong>Советы для вашего магазина </strong>
                
            </div>
            <a href="/" class="link">Смотреть все</a>
        </div>
        <div class="control-panel__advice">
            <div class="control-panel__advice-swiper swiper">
                <div class="control-panel__advice-swiper-wrapper swiper-wrapper">
                    
                    <div class="control-panel__advice-slide swiper-slide">
                        <a href="/" class="advice-c">
                            <div class="advice-c__block">
                                <div class="advice-c__block-image">
                                    <img src="./img/advice/img1.png" alt="">
                                </div>
                            </div>
                            <div class="advice-c__inner">
                                <div class="advice-c__image">
                                    <img src="./img/advice/img1.png" alt="">
                                    
                                </div>
                                <div class="advice-c__content">
                                    <div class="advice-c__content-inner">
                                        <div class="advice-c__content-face">
                                            <div class="advice-c__content-face-img">
                                                <img src="./img/advice/face.png" alt="">
                                            </div>
                                        </div>
                                        <div class="advice-c__content-name">by Laura Busche</div>
                                    </div>
                                    <!-- inner -->
                                    <div class="advice-c__title">
                                        Представляем наш цвет сезона: голографично-сиренивый
                                    </div>
                                    <div class="advice-c__date">
                                        Январь 14, 2023
                                    </div>
                                    <div class="advice-c__white">
                                        <strong><b>2</b>мин</strong>
                                        <span>на чтение</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="control-panel__advice-slide swiper-slide">
                        <a href="/" class="advice-c">
                            <div class="advice-c__block">
                                <div class="advice-c__block-image">
                                    <img src="./img/advice/img2.png" alt="">
                                </div>
                            </div>
                            <div class="advice-c__inner">
                                <div class="advice-c__image">
                                    <img src="./img/advice/img2.png" alt="">
                                    
                                </div>
                                <div class="advice-c__content">
                                    <div class="advice-c__content-inner">
                                        <div class="advice-c__content-face">
                                            <div class="advice-c__content-face-img">
                                                <img src="./img/advice/face.png" alt="">
                                            </div>
                                        </div>
                                        <div class="advice-c__content-name">by Laura Busche</div>
                                    </div>
                                    <!-- inner -->
                                    <div class="advice-c__title">
                                        Как превратить дизайн 
                                        в потрясающий продукт
                                    </div>
                                    <div class="advice-c__date">
                                        Январь 14, 2023
                                    </div>
                                    <div class="advice-c__white">
                                        <strong><b>2</b>мин</strong>
                                        <span>на чтение</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="control-panel__advice-slide swiper-slide">
                        <a href="/" class="advice-c">
                            <div class="advice-c__block">
                                <div class="advice-c__block-image">
                                    <img src="./img/advice/img3.png" alt="">
                                </div>
                            </div>
                            <div class="advice-c__inner">
                                <div class="advice-c__image">
                                    <img src="./img/advice/img3.png" alt="">
                                    
                                </div>
                                <div class="advice-c__content">
                                    <div class="advice-c__content-inner">
                                        <div class="advice-c__content-face">
                                            <div class="advice-c__content-face-img">
                                                <img src="./img/advice/face.png" alt="">
                                            </div>
                                        </div>
                                        <div class="advice-c__content-name">by Laura Busche</div>
                                    </div>
                                    <!-- inner -->
                                    <div class="advice-c__title">
                                        Руководство для начинающих по дизайну упаковки продукта
                                    </div>
                                    <div class="advice-c__date">
                                        Январь 14, 2023
                                    </div>
                                    <div class="advice-c__white">
                                        <strong><b>2</b>мин</strong>
                                        <span>на чтение</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-panel__faq">
            <div class="control-panel__faq-strong"><span class="desk">Нужна помощь? Напишите нам</span> <span class="mob">Вопросы?</span></div>
            <div class="control-panel__faq-span"><span class="desk">Сообщите нам, если вы столкнулись с проблемой или у вас есть вопрос о вашем магазине</span><span class="mob">Вы можете обратиться к нашим специалистам.</span> </div>
            <a href="/" class="link">Задать вопрос</a>
        </div>
    </div>
</div>