<div class="lk-sales">
    <div class="lk-sales__title">
        Продажи
    </div>
    <div class="lk-sales__statistics">
        <div class="lk-sales__statistics-title">Статистика продаж</div>
        <div class="lk-sales__statistics-inner">
            <div class="lk-sales__statistics-box">
                <div class="lk-sales__statistics-box-circle">
                    <img src="./img/statistics/icon1.svg" alt="">
                </div>
                <div class="lk-sales__statistics-box-title">Общий доход</div>
                <div class="lk-sales__statistics-box-inner">
                    <div class="lk-sales__statistics-box-sum lk-sales__statistics-box-sum--rub">
                        200 000
                    </div>
                    <div class="lk-sales__statistics-box-arrow">
                        <svg  viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 1.39876e-06L13.9282 9L0.0717953 9L7 1.39876e-06Z" fill="#DE755E"/>
                        </svg>
                    </div>
                </div>
                
            </div>

            <div class="lk-sales__statistics-box">
                <div class="lk-sales__statistics-box-circle">
                    <img src="./img/statistics/icon2.svg" alt="">
                </div>
                <div class="lk-sales__statistics-box-title">Прибыль</div>
                <div class="lk-sales__statistics-box-inner">
                    <div class="lk-sales__statistics-box-sum lk-sales__statistics-box-sum--rub">
                        200 000
                    </div>
                    <div class="lk-sales__statistics-box-arrow">
                        <svg  viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 1.39876e-06L13.9282 9L0.0717953 9L7 1.39876e-06Z" fill="#DE755E"/>
                        </svg>
                    </div>
                </div>
                
            </div>


            <div class="lk-sales__statistics-box">
                <div class="lk-sales__statistics-box-circle">
                    <img src="./img/statistics/icon3.svg" alt="">
                </div>
                <div class="lk-sales__statistics-box-title">Проданные продукты</div>
                <div class="lk-sales__statistics-box-inner">
                    <div class="lk-sales__statistics-box-sum">
                        100 штук
                    </div>
                    <div class="lk-sales__statistics-box-arrow">
                        <svg  viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 1.39876e-06L13.9282 9L0.0717953 9L7 1.39876e-06Z" fill="#DE755E"/>
                        </svg>
                    </div>
                </div>
                
            </div>


            <div class="lk-sales__statistics-box">
                <div class="lk-sales__statistics-box-circle">
                    <img src="./img/statistics/icon4.svg" alt="">
                </div>
                <div class="lk-sales__statistics-box-title">Коэффициент конверсии магазина</div>
                <div class="lk-sales__statistics-box-inner">
                    <div class="lk-sales__statistics-box-sum">
                        9 %
                    </div>
                    <div class="lk-sales__statistics-box-arrow">
                        <svg  viewBox="0 0 14 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7 1.39876e-06L13.9282 9L0.0717953 9L7 1.39876e-06Z" fill="#DE755E"/>
                        </svg>
                    </div>
                </div>
                
            </div>
        </div>
        <nav class="lk-sales__nav">
            <div class="lk-sales__nav-wrap">
                <ul class="lk-sales__lists">
                    <li class="lk-sales__item active" data-tab="1">
                        доход
                    </li>
                    <li class="lk-sales__item" data-tab="2">
                        Прибыль
                    </li>
                    <li class="lk-sales__item" data-tab="3">
                        Продажи
                    </li>
                    <li class="lk-sales__item" data-tab="4">
                        Конверсия
                    </li>
                </ul>
            </div>
            <select class="lk-sales__select" name="language">
                <option disabled>365 дней</option>
                <option value="365">365 дней</option>
                <option value="120">120 дней</option>
                <option value="7">7 дней</option>
                <option value="30">30 дней</option>
            </select>
        </nav>
        <div class="lk-sales__chart-wrap active" data-tab="1">
            <div class="lk-sales__chart" >
                <canvas id="myChart" style="max-height: 100%; max-width: 100%;"></canvas>
            </div>
            <div class="lk-sales__chart-wrap-inner">
                <div class="lk-sales__chart-date">Последнее обновление в 12.30</div>
                <button class="lk-sales__chart-btn">
                    <span>Обновить</span>
                    <img src="./img/refresh-circle.svg" alt="">
                </button>
            </div>
        </div>
        <div class="lk-sales__chart-wrap" data-tab="2">
            <div class="lk-sales__chart" >
                <canvas id="myChartTwo" style="max-height: 100%; max-width: 100%;"></canvas>
            </div>
        </div>
        <div class="lk-sales__chart-wrap " data-tab="3">
            <div class="lk-sales__chart">
                <canvas id="myChartThree" style="max-height: 100%; max-width: 100%;"></canvas>
            </div>
        </div>
        <div class="lk-sales__chart-wrap " data-tab="4">
            <div class="lk-sales__chart">
                <canvas id="myChartFour" style="max-height: 100%; max-width: 100%;"></canvas>
            </div>
        </div>
        
    </div>
    <div class="lk-sales__sale">
        <div class="lk-sales__sale-title">
            Продажи
        </div>
        <nav class="lk-sales__sale-nav">
            <div class="lk-sales__sale-nav-date">12.03.2023 - 12.03.2023</div>
            <select class="lk-sales__select" name="language">
                <option disabled>Неделя</option>
                <option value="365">Неделя</option>
                <option value="120">День</option>
                <option value="7">Месяц</option>
                <option value="30">Год</option>
            </select>
            <button class="lk-sales__sale-filter-btn">
                <span>Фильтры</span>
            </button>
        </nav>
        <div class="lk-sales__sale-points">
            
                <div class="lk-sales__sale-item">Дата продажи</div>
                <div class="lk-sales__sale-item">Товар</div>
            
            
                <div class="lk-sales__sale-item">Цена</div>
                <div class="lk-sales__sale-item">Доход</div>
                <div class="lk-sales__sale-item">Комиссия</div>
                <div class="lk-sales__sale-item">Покупатель</div>
            
        </div>
        <div class="lk-sales__sale-wrapper">
            <article class="sale-box">
                <div class="sale-box__mob">
                    <div class="sale-box__mob-block">
                        <div class="sale-box__mob-image">
                            <img src="./img/lk-m/miniimg.png" alt="">
                        </div>
                        <div class="sale-box__mob-name">Мега набор постеров</div>
                    </div>
                    <div class="sale-box__mob-info">
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Дата продажи</span>
                            <span class="sale-box__mob-data-medium">04.03.2023</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Цена</span>
                            <span class="sale-box__mob-data-medium">4500</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Доход</span>
                            <span class="sale-box__mob-data-rub">7000</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Комиссия</span>
                            <span class="sale-box__mob-data-rub">7000</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Покупатель</span>
                            <span class="sale-box__mob-data-medium">ivan980</span>
                        </div>
                    </div>
                </div>
                <div class="sale-box__desk">
                    <div class="sale-box__desk-date">04.03.2023</div>
                    <div class="sale-box__desk-block">
                        <div class="sale-box__desk-image">
                            <img src="./img/lk-m/miniimg.png" alt="">
                        </div>
                        <div class="sale-box__desk-title">карточка лк продажи</div>
                    </div>
                    <div class="sale-box__desk-price">4500</div>
                    <div class="sale-box__desk-price">7000</div>
                    <div class="sale-box__desk-price">1400</div>
                    <div class="sale-box__desk-name">ivan980</div>
                </div>
            </article>
            <article class="sale-box">
                <div class="sale-box__mob">
                    <div class="sale-box__mob-block">
                        <div class="sale-box__mob-image">
                            <img src="./img/lk-m/miniimg.png" alt="">
                        </div>
                        <div class="sale-box__mob-name">Мега набор постеров</div>
                    </div>
                    <div class="sale-box__mob-info">
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Дата продажи</span>
                            <span class="sale-box__mob-data-medium">04.03.2023</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Цена</span>
                            <span class="sale-box__mob-data-medium">4500</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Доход</span>
                            <span class="sale-box__mob-data-rub">7000</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Комиссия</span>
                            <span class="sale-box__mob-data-rub">7000</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Покупатель</span>
                            <span class="sale-box__mob-data-medium">ivan980</span>
                        </div>
                    </div>
                </div>
                <div class="sale-box__desk">
                    <div class="sale-box__desk-date">04.03.2023</div>
                    <div class="sale-box__desk-block">
                        <div class="sale-box__desk-image">
                            <img src="./img/lk-m/miniimg.png" alt="">
                        </div>
                        <div class="sale-box__desk-title">карточка лк продажи</div>
                    </div>
                    <div class="sale-box__desk-price">4500</div>
                    <div class="sale-box__desk-price">7000</div>
                    <div class="sale-box__desk-price">1400</div>
                    <div class="sale-box__desk-name">ivan980</div>
                </div>
            </article>
            <article class="sale-box">
                <div class="sale-box__mob">
                    <div class="sale-box__mob-block">
                        <div class="sale-box__mob-image">
                            <img src="./img/lk-m/miniimg.png" alt="">
                        </div>
                        <div class="sale-box__mob-name">Мега набор постеров</div>
                    </div>
                    <div class="sale-box__mob-info">
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Дата продажи</span>
                            <span class="sale-box__mob-data-medium">04.03.2023</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Цена</span>
                            <span class="sale-box__mob-data-medium">4500</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Доход</span>
                            <span class="sale-box__mob-data-rub">7000</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Комиссия</span>
                            <span class="sale-box__mob-data-rub">7000</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Покупатель</span>
                            <span class="sale-box__mob-data-medium">ivan980</span>
                        </div>
                    </div>
                </div>
                <div class="sale-box__desk">
                    <div class="sale-box__desk-date">04.03.2023</div>
                    <div class="sale-box__desk-block">
                        <div class="sale-box__desk-image">
                            <img src="./img/lk-m/miniimg.png" alt="">
                        </div>
                        <div class="sale-box__desk-title">карточка лк продажи</div>
                    </div>
                    <div class="sale-box__desk-price">4500</div>
                    <div class="sale-box__desk-price">7000</div>
                    <div class="sale-box__desk-price">1400</div>
                    <div class="sale-box__desk-name">ivan980</div>
                </div>
            </article>
            <article class="sale-box">
                <div class="sale-box__mob">
                    <div class="sale-box__mob-block">
                        <div class="sale-box__mob-image">
                            <img src="./img/lk-m/miniimg.png" alt="">
                        </div>
                        <div class="sale-box__mob-name">Мега набор постеров</div>
                    </div>
                    <div class="sale-box__mob-info">
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Дата продажи</span>
                            <span class="sale-box__mob-data-medium">04.03.2023</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Цена</span>
                            <span class="sale-box__mob-data-medium">4500</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Доход</span>
                            <span class="sale-box__mob-data-rub">7000</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Комиссия</span>
                            <span class="sale-box__mob-data-rub">7000</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Покупатель</span>
                            <span class="sale-box__mob-data-medium">ivan980</span>
                        </div>
                    </div>
                </div>
                <div class="sale-box__desk">
                    <div class="sale-box__desk-date">04.03.2023</div>
                    <div class="sale-box__desk-block">
                        <div class="sale-box__desk-image">
                            <img src="./img/lk-m/miniimg.png" alt="">
                        </div>
                        <div class="sale-box__desk-title">карточка лк продажи</div>
                    </div>
                    <div class="sale-box__desk-price">4500</div>
                    <div class="sale-box__desk-price">7000</div>
                    <div class="sale-box__desk-price">1400</div>
                    <div class="sale-box__desk-name">ivan980</div>
                </div>
            </article>
            <article class="sale-box">
                <div class="sale-box__mob">
                    <div class="sale-box__mob-block">
                        <div class="sale-box__mob-image">
                            <img src="./img/lk-m/miniimg.png" alt="">
                        </div>
                        <div class="sale-box__mob-name">Мега набор постеров</div>
                    </div>
                    <div class="sale-box__mob-info">
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Дата продажи</span>
                            <span class="sale-box__mob-data-medium">04.03.2023</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Цена</span>
                            <span class="sale-box__mob-data-medium">4500</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Доход</span>
                            <span class="sale-box__mob-data-rub">7000</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Комиссия</span>
                            <span class="sale-box__mob-data-rub">7000</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Покупатель</span>
                            <span class="sale-box__mob-data-medium">ivan980</span>
                        </div>
                    </div>
                </div>
                <div class="sale-box__desk">
                    <div class="sale-box__desk-date">04.03.2023</div>
                    <div class="sale-box__desk-block">
                        <div class="sale-box__desk-image">
                            <img src="./img/lk-m/miniimg.png" alt="">
                        </div>
                        <div class="sale-box__desk-title">карточка лк продажи</div>
                    </div>
                    <div class="sale-box__desk-price">4500</div>
                    <div class="sale-box__desk-price">7000</div>
                    <div class="sale-box__desk-price">1400</div>
                    <div class="sale-box__desk-name">ivan980</div>
                </div>
            </article>
            <article class="sale-box">
                <div class="sale-box__mob">
                    <div class="sale-box__mob-block">
                        <div class="sale-box__mob-image">
                            <img src="./img/lk-m/miniimg.png" alt="">
                        </div>
                        <div class="sale-box__mob-name">Мега набор постеров</div>
                    </div>
                    <div class="sale-box__mob-info">
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Дата продажи</span>
                            <span class="sale-box__mob-data-medium">04.03.2023</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Цена</span>
                            <span class="sale-box__mob-data-medium">4500</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Доход</span>
                            <span class="sale-box__mob-data-rub">7000</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Комиссия</span>
                            <span class="sale-box__mob-data-rub">7000</span>
                        </div>
                        <div class="sale-box__mob-data">
                            <span class="sale-box__mob-data-bold">Покупатель</span>
                            <span class="sale-box__mob-data-medium">ivan980</span>
                        </div>
                    </div>
                </div>
                <div class="sale-box__desk">
                    <div class="sale-box__desk-date">04.03.2023</div>
                    <div class="sale-box__desk-block">
                        <div class="sale-box__desk-image">
                            <img src="./img/lk-m/miniimg.png" alt="">
                        </div>
                        <div class="sale-box__desk-title">карточка лк продажи</div>
                    </div>
                    <div class="sale-box__desk-price">4500</div>
                    <div class="sale-box__desk-price">7000</div>
                    <div class="sale-box__desk-price">1400</div>
                    <div class="sale-box__desk-name">ivan980</div>
                </div>
            </article>
        </div>
    </div>
    <div class="lk-sales__advice">
        <div class="lk-sales__advice-title">
            <div class="lk-sales__advice-word">Советы для вашего магазина </div>
            <a href="#" class="link">Смотреть все</a>
        </div>
        <div class="lk-sales__advice-wrapper">
            <div class="lk-sales__advice-swiper swiper">
                <div class="lk-sales__advice-swiper-wrapper swiper-wrapper">
                    <div class="lk-sales__advice-slide swiper-slide">
                        <a href="#" class="advice-c">
                            <div class="advice-c__block">
                                <div class="advice-c__block-image">
                                    <img src="./img/advice/img1.png" alt="">
                                </div>
                            </div>
                            <div class="advice-c__inner">
                                <div class="advice-c__image">
                                    <img src="./img/advice/img1.png" alt="">
                                    
                                </div>
                                <div class="advice-c__content">
                                    <div class="advice-c__content-inner">
                                        <div class="advice-c__content-face">
                                            <div class="advice-c__content-face-img">
                                                <img src="./img/advice/face.png" alt="">
                                            </div>
                                        </div>
                                        <div class="advice-c__content-name">by Laura Busche</div>
                                    </div>
                                    <!-- inner -->
                                    <div class="advice-c__title">
                                        Представляем наш цвет сезона: голографично-сиренивый
                                    </div>
                                    <div class="advice-c__date">
                                        Январь 14, 2023
                                    </div>
                                    <div class="advice-c__white">
                                        <strong><b>2</b>мин</strong>
                                        <span>на чтение</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="lk-sales__advice-slide swiper-slide">
                        <a href="#" class="advice-c">
                            <div class="advice-c__block">
                                <div class="advice-c__block-image">
                                    <img src="./img/advice/img2.png" alt="">
                                </div>
                            </div>
                            <div class="advice-c__inner">
                                <div class="advice-c__image">
                                    <img src="./img/advice/img2.png" alt="">
                                    
                                </div>
                                <div class="advice-c__content">
                                    <div class="advice-c__content-inner">
                                        <div class="advice-c__content-face">
                                            <div class="advice-c__content-face-img">
                                                <img src="./img/advice/face.png" alt="">
                                            </div>
                                        </div>
                                        <div class="advice-c__content-name">by Laura Busche</div>
                                    </div>
                                    <!-- inner -->
                                    <div class="advice-c__title">
                                        Как превратить дизайн 
                                        в потрясающий продукт
                                    </div>
                                    <div class="advice-c__date">
                                        Январь 14, 2023
                                    </div>
                                    <div class="advice-c__white">
                                        <strong><b>2</b>мин</strong>
                                        <span>на чтение</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="lk-sales__advice-slide swiper-slide">
                        <a href="#" class="advice-c">
                            <div class="advice-c__block">
                                <div class="advice-c__block-image">
                                    <img src="./img/advice/img3.png" alt="">
                                </div>
                            </div>
                            <div class="advice-c__inner">
                                <div class="advice-c__image">
                                    <img src="./img/advice/img3.png" alt="">
                                    
                                </div>
                                <div class="advice-c__content">
                                    <div class="advice-c__content-inner">
                                        <div class="advice-c__content-face">
                                            <div class="advice-c__content-face-img">
                                                <img src="./img/advice/face.png" alt="">
                                            </div>
                                        </div>
                                        <div class="advice-c__content-name">by Laura Busche</div>
                                    </div>
                                    <!-- inner -->
                                    <div class="advice-c__title">
                                        Руководство для начинающих по дизайну упаковки продукта
                                    </div>
                                    <div class="advice-c__date">
                                        Январь 14, 2023
                                    </div>
                                    <div class="advice-c__white">
                                        <strong><b>2</b>мин</strong>
                                        <span>на чтение</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="lk-sales__advice-slide swiper-slide">
                        <a href="#" class="advice-c">
                            <div class="advice-c__block">
                                <div class="advice-c__block-image">
                                    <img src="./img/advice/img4.png" alt="">
                                </div>
                            </div>
                            <div class="advice-c__inner">
                                <div class="advice-c__image">
                                    <img src="./img/advice/img4.png" alt="">
                                    
                                </div>
                                <div class="advice-c__content">
                                    <div class="advice-c__content-inner">
                                        <div class="advice-c__content-face">
                                            <div class="advice-c__content-face-img">
                                                <img src="./img/advice/face.png" alt="">
                                            </div>
                                        </div>
                                        <div class="advice-c__content-name">by Laura Busche</div>
                                    </div>
                                    <!-- inner -->
                                    <div class="advice-c__title">
                                        коллекция шрифтов 
                                        с засечками для создания элегантности
                                    </div>
                                    <div class="advice-c__date">
                                        Январь 14, 2023
                                    </div>
                                    <div class="advice-c__white">
                                        <strong><b>2</b>мин</strong>
                                        <span>на чтение</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="pagination lk-sales__advice-pagination">
                <div class="pagination__bullets lk-sales__advice-bullets">
    
                </div>
                
            </div>
        </div>
    </div>
   
</div>