<section class="main">
	<div class="container">
		<div class="main__wrapper">
			<div class="main__left">
				<div class="main__big">
					<div class="main__big-title">
						Все необходимые
						<br />
						вам ресурсы в одном
						<br />
						месте
					</div>
					<div class="main__big-image">
						<img
							src="./img/main/icon2.svg"
							alt="" />
					</div>
					<div class="main__big-text">
						Откройте для себя более 4 миллионов качественных ресурсов, созданных
						художниками в более чем 190 странах по всему миру
					</div>
				</div>
				<div class="main__small">
					<a
						href="/"
						class="all-btn">
						<span>Подробнее о нас</span>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 33 16"
							fill="none">
							<path
								d="M32.7071 8.70711C33.0976 8.31658 33.0976 7.68342 32.7071 7.29289L26.3431 0.928932C25.9526 0.538408 25.3195 0.538408 24.9289 0.928932C24.5384 1.31946 24.5384 1.95262 24.9289 2.34315L30.5858 8L24.9289 13.6569C24.5384 14.0474 24.5384 14.6805 24.9289 15.0711C25.3195 15.4616 25.9526 15.4616 26.3431 15.0711L32.7071 8.70711ZM0 9H32V7H0V9Z"
								fill="#383742" />
						</svg>
					</a>
					<div class="main__small-inner">
						<div class="main__small-inner-bg">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="519"
								height="77"
								viewBox="0 0 519 77"
								fill="none">
								<path
									fill-rule="evenodd"
									clip-rule="evenodd"
									d="M0 37C0 16.5655 16.5655 0 37 0H132C149.691 0 164.482 12.4162 168.135 29.01C168.541 30.8528 170.113 32.2616 172 32.2616C173.887 32.2616 175.459 30.8528 175.865 29.01C179.518 12.4163 194.309 2.95639e-05 212 2.95639e-05H307C324.691 2.95639e-05 339.483 12.4163 343.135 29.0102C343.541 30.8529 345.113 32.2616 347 32.2616C348.887 32.2616 350.459 30.8529 350.865 29.0102C354.517 12.4163 369.309 0 387 0H482C502.435 0 519 16.5655 519 37V40C519 60.4345 502.435 77 482 77H387C371.691 77 358.553 67.7021 352.926 54.4451C351.898 52.0241 349.63 50.2616 347 50.2616C344.37 50.2616 342.102 52.0241 341.074 54.4451C335.447 67.7021 322.31 77 307 77H212C196.691 77 183.553 67.7022 177.926 54.4453C176.898 52.0242 174.63 50.2616 172 50.2616C169.37 50.2616 167.102 52.0242 166.074 54.4453C160.447 67.7021 147.309 77 132 77H37C16.5655 77 0 60.4345 0 40V37Z"
									fill="#383742" />
							</svg>
						</div>
						<a
							href="/"
							class="main__small-svg">
							Векторы
						</a>
						<a
							href="/"
							class="main__small-photo">
							фото
						</a>
						<a
							href="/"
							class="main__small-text">
							шрифты
						</a>
					</div>
				</div>
			</div>

			<div class="main__right">
				<div class="main__swiper swiper">
					<div class="main__swiper-wrapper swiper-wrapper">
						<div class="main__slide swiper-slide">
							<a
								href="/"
								class="main__slide-content">
								<div class="main__slide-content-text">
									<span>Популярное</span>
								</div>
								<div class="main__slide-content-image">
									<img
										src="./img/main/img1.png"
										alt="" />
								</div>
							</a>
						</div>
						<div class="main__slide swiper-slide">
							<a
								href="/"
								class="main__slide-content">
								<div class="main__slide-content-text">
									<span>Популярное</span>
								</div>
								<div class="main__slide-content-image">
									<img
										src="./img/main/img2.png"
										alt="" />
								</div>
							</a>
						</div>
						<div class="main__slide swiper-slide">
							<a
								href="/"
								class="main__slide-content">
								<div class="main__slide-content-text">
									<span>Популярное</span>
								</div>
								<div class="main__slide-content-image">
									<img
										src="./img/main/img3.png"
										alt="" />
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="main__white">
					<div class="main__white-image">
						<img
							src="./img/main/abstrakt.png"
							alt="" />
					</div>
					<div class="main__white-text">
						<strong>
							Популярные
							<br />
							иллюстрации
						</strong>
						<a href="/">Смотрите всю подборку</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
