<div class="merchandise">
    <div class="merchandise__title">
        <strong>Продукты</strong>
        <a href="#" class="link">Добавить продукт</a>
    </div>
    <nav class="merchandise__nav">
        <label class="checkbox">
            <input type="checkbox"  >
            <span class="checkmark"></span>
            <div class="merchandise__checkbox-wrap">
                <div class="merchandise__checkbox-span">Выбрано:</div>
                <div class="merchandise__checkbox-strong">3 продукта</div>
            </div>

            
        </label>
        <select class="select-global" name="language">
            <option disabled>Все категории</option>
            <option value="365">Неделя</option>
            <option value="120">День</option>
            <option value="7">Месяц</option>
            <option value="30">Год</option>
        </select>
        <div class="merchandise__search">
            <input type="text" placeholder="Поиск">
        </div>
        <button class="red-btn"><span>Отправить заявку</span></button>
    </nav>
    <div class="merchandise__chapter">
        <span>Товар</span>
        <span>Цена</span>
        <span>Продано</span>
        <span>Доход</span>
        <span>Категория</span>
    </div>
</div>