<section class="popular-graph">
    <div class="container">
        <div class="title">
            <div class="title__words">
                
                <strong>Популярная графика</strong>
            </div>
            <a href="#" class="link">Смотреть все</a>
        </div>
        <div class="popular-graph__wrapper">
            <div class="popular-graph__swiper swiper">
                <div class="popular-graph__swiper-wrapper swiper-wrapper">
                    <div class="popular-graph__slide swiper-slide">
                       <article class="c-graph">
                            <div class="c-graph__block">
                                <div class="c-graph__image">
                                    <img src="./img/cgraph/img1.png" alt="">
                                </div>
                                <div class="c-graph__rhombus">01</div>
                            </div>
                            <div class="c-graph__inner">
                                <div class="c-graph__title">
                                    <strong>Wild Mango | Modern Serif</strong>
                                    <span>by KA Designs</span>
                                </div>
                                <div class="c-graph__price">
                                    <span>1200</span>
                                </div>
                            </div>
                       </article>
                    </div>
                    <div class="popular-graph__slide swiper-slide">
                        <article class="c-graph">
                             <div class="c-graph__block">
                                 <div class="c-graph__image">
                                     <img src="./img/cgraph/img2.png" alt="">
                                 </div>
                                 <div class="c-graph__rhombus">02</div>
                             </div>
                             <div class="c-graph__inner">
                                 <div class="c-graph__title">
                                     <strong>Wild Mango | Modern Serif</strong>
                                     <span>by KA Designs</span>
                                 </div>
                                 <div class="c-graph__price">
                                     <span>1200</span>
                                 </div>
                             </div>
                        </article>
                     </div>
                     <div class="popular-graph__slide swiper-slide">
                        <article class="c-graph">
                             <div class="c-graph__block">
                                 <div class="c-graph__image">
                                     <img src="./img/cgraph/img3.png" alt="">
                                 </div>
                                 <div class="c-graph__rhombus">03</div>
                             </div>
                             <div class="c-font__inner">
                                 <div class="c-graph__title">
                                     <strong>The Awesome Serif Family</strong>
                                     <span>by Nicky Laatz</span>
                                 </div>
                                 <div class="c-graph__price">
                                     <span>1200</span>
                                 </div>
                             </div>
                        </article>
                     </div>
                </div>
            </div>
        </div>
        <div class="pagination popular-graph__pagination">
            <div class="pagination__bullets popular-graph__bullets">

            </div>
            
        </div>
    </div>
</section>