<section class="popular-users">
    <div class="container">
        <div class="title">
            <div class="title__words">
                <span>Популярное у пользователей</span>
                <strong>Трендовые категории</strong>
            </div>
            <a href="#" class="link">Смотреть все</a>
        </div>
        <div class="popular-users__wrapper">
            <div class="popular-users__swiper swiper">
                <div class="popular-users__swiper-wrapper swiper-wrapper">
                    <div class="popular-users__slide swiper-slide">
                        <article  class="cat-product">
                            <div class="cat-product__number">
                                3 000+
                            </div>
                            <div class="cat-product__block">
                                
                                <div class="cat-product__image-block">
                                    <div class="cat-product__image">
                                        <img src="./img/catproduct/img1.png" alt="">
                                    </div>
                                </div>
                                <div class="cat-product__title">
                                    <strong>Шрифты</strong>
                                    <span>Качественные, свежие шрифты</span>
                                </div>
                            </div>
                            <div class="cat-product__inner">
                                <div class="cat-product__like">
                                    <span>15K</span>
                                </div>
                                <div class="cat-product__views">
                                    <span>20K</span>
                                </div>
                                <a href="#" class="cat-product__arrow">
                                    <img src="./img/icon/arrownext.svg" alt="">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="popular-users__slide swiper-slide">
                        <article  class="cat-product">
                            <div class="cat-product__number">
                                3 000+
                            </div>
                            <div class="cat-product__block">
                                
                                <div class="cat-product__image-block">
                                    <div class="cat-product__image">
                                        <img src="./img/catproduct/img2.png" alt="">
                                    </div>
                                </div>
                                <div class="cat-product__title">
                                    <strong>Фотографии</strong>
                                    <span>Качественные, свежие шрифты</span>
                                </div>
                            </div>
                            <div class="cat-product__inner">
                                <div class="cat-product__like">
                                    <span>15K</span>
                                </div>
                                <div class="cat-product__views">
                                    <span>20K</span>
                                </div>
                                <a href="#" class="cat-product__arrow">
                                    <img src="./img/icon/arrownext.svg" alt="">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="popular-users__slide swiper-slide">
                        <article  class="cat-product">
                            <div class="cat-product__number">
                                3 000+
                            </div>
                            <div class="cat-product__block">
                                
                                <div class="cat-product__image-block">
                                    <div class="cat-product__image">
                                        <img src="./img/catproduct/img3.png" alt="">
                                    </div>
                                </div>
                                <div class="cat-product__title">
                                    <strong>Векторы</strong>
                                    <span>Качественные, свежие шрифты</span>
                                </div>
                            </div>
                            <div class="cat-product__inner">
                                <div class="cat-product__like">
                                    <span>15K</span>
                                </div>
                                <div class="cat-product__views">
                                    <span>20K</span>
                                </div>
                                <a href="#" class="cat-product__arrow">
                                    <img src="./img/icon/arrownext.svg" alt="">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="popular-users__slide swiper-slide">
                        <article  class="cat-product">
                            <div class="cat-product__number">
                                3 000+
                            </div>
                            <div class="cat-product__block">
                                
                                <div class="cat-product__image-block">
                                    <div class="cat-product__image">
                                        <img src="./img/catproduct/img4.png" alt="">
                                    </div>
                                </div>
                                <div class="cat-product__title">
                                    <strong>Мокапы</strong>
                                    <span>Качественные, свежие шрифты</span>
                                </div>
                            </div>
                            <div class="cat-product__inner">
                                <div class="cat-product__like">
                                    <span>15K</span>
                                </div>
                                <div class="cat-product__views">
                                    <span>20K</span>
                                </div>
                                <a href="#" class="cat-product__arrow">
                                    <img src="./img/icon/arrownext.svg" alt="">
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination popular-users__pagination">
            <div class="pagination__bullets popular-users__bullets">

            </div>
            
        </div>
    </div>
</section>