<section class="popular-photo">
  <div class="container">
      <div class="title">
          <div class="title__words">
              
              <strong>Популярные фотографии</strong>
          </div>
          <a href="/" class="link">Смотреть все</a>
      </div>
      <div class="popular-photo__wrapper">
          <div class="popular-photo__swiper swiper">
              <div class="popular-photo__swiper-wrapper swiper-wrapper">
                  <div class="popular-photo__slide swiper-slide">
                     <article class="c-font">
                          <div class="c-font__block">
                              <div class="c-font__image">
                                  <img src="./img/cfont/img1.png" alt="">
                              </div>
                              <div class="c-font__rhombus">01</div>
                          </div>
                          <div class="c-font__inner">
                              <div class="c-font__title">
                                  <strong>Wild Mango | Modern Serif</strong>
                                  <span>by KA Designs</span>
                              </div>
                              <div class="c-font__price">
                                  <span>1200</span>
                              </div>
                          </div>
                     </article>
                  </div>
                  <div class="popular-photo__slide swiper-slide">
                      <article class="c-font">
                           <div class="c-font__block">
                               <div class="c-font__image">
                                   <img src="./img/cfont/img2.png" alt="">
                               </div>
                               <div class="c-font__rhombus">02</div>
                           </div>
                           <div class="c-font__inner">
                               <div class="c-font__title">
                                   <strong>Wild Mango | Modern Serif</strong>
                                   <span>by KA Designs</span>
                               </div>
                               <div class="c-font__price">
                                   <span>1200</span>
                               </div>
                           </div>
                      </article>
                   </div>
                   <div class="popular-photo__slide swiper-slide">
                      <article class="c-font">
                           <div class="c-font__block">
                               <div class="c-font__image">
                                   <img src="./img/cfont/img3.png" alt="">
                               </div>
                               <div class="c-font__rhombus">03</div>
                           </div>
                           <div class="c-font__inner">
                               <div class="c-font__title">
                                   <strong>The Awesome Serif Family</strong>
                                   <span>by Nicky Laatz</span>
                               </div>
                               <div class="c-font__price">
                                   <span>1200</span>
                               </div>
                           </div>
                      </article>
                   </div>
              </div>
          </div>
      </div>
      <div class="pagination popular-photo__pagination">
          <div class="pagination__bullets popular-photo__bullets">

          </div>
          
      </div>
  </div>
</section>