<section class="popular-fonts">
    <div class="container">
        <div class="title">
            <div class="title__words">
                
                <strong>Популярные шрифты</strong>
            </div>
            <a
							href="/"
							class="link">
							<span>Смотреть все</span>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 33 16"
								fill="none">
								<path
									d="M32.7071 8.70711C33.0976 8.31658 33.0976 7.68342 32.7071 7.29289L26.3431 0.928932C25.9526 0.538408 25.3195 0.538408 24.9289 0.928932C24.5384 1.31946 24.5384 1.95262 24.9289 2.34315L30.5858 8L24.9289 13.6569C24.5384 14.0474 24.5384 14.6805 24.9289 15.0711C25.3195 15.4616 25.9526 15.4616 26.3431 15.0711L32.7071 8.70711ZM0 9H32V7H0V9Z"
									fill="#383742" />
							</svg>
						</a>
        </div>
        <div class="popular-fonts__wrapper">
            <div class="popular-fonts__swiper swiper">
                <div class="popular-fonts__swiper-wrapper swiper-wrapper">
                    <div class="popular-fonts__slide swiper-slide">
                       <article class="c-font">
                            <div class="c-font__block">
                                <div class="c-font__image">
                                    <div class="c-font__border">
                                        <img src="../img/popular-font/border.png" alt="">
                                    </div>
                                    <div class="c-font__img">
                                        <img src="../img/popular-font/sample1.png" alt="">
                                    </div>
                                </div>
                                <div class="c-font__rhombus">01</div>
                            </div>
                            <div class="c-font__inner">
                                <div class="c-font__title">
                                    <strong>Wild Mango | Modern Serif</strong>
                                    <span>by KA Designs</span>
                                </div>
                                <div class="c-font__price">
                                    <span>1200</span>
                                </div>
                            </div>
                       </article>
                    </div>
                    <div class="popular-fonts__slide swiper-slide">
                        <article class="c-font">
                             <div class="c-font__block">
                                <div class="c-font__image">
                                    <div class="c-font__border">
                                        <img src="../img/popular-font/border.png" alt="">
                                    </div>
                                    <div class="c-font__img">
                                        <img src="../img/popular-font/sample2.png" alt="">
                                    </div>
                                </div>
                                 <div class="c-font__rhombus">02</div>
                             </div>
                             <div class="c-font__inner">
                                 <div class="c-font__title">
                                     <strong>Wild Mango | Modern Serif</strong>
                                     <span>by KA Designs</span>
                                 </div>
                                 <div class="c-font__price">
                                     <span>1200</span>
                                 </div>
                             </div>
                        </article>
                     </div>
                     <div class="popular-fonts__slide swiper-slide">
                        <article class="c-font">
                             <div class="c-font__block">
                                <div class="c-font__image">
                                    <div class="c-font__border">
                                        <img src="../img/popular-font/border.png" alt="">
                                    </div>
                                    <div class="c-font__img">
                                        <img src="../img/popular-font/sample3.png" alt="">
                                    </div>
                                </div>
                                 <div class="c-font__rhombus">03</div>
                             </div>
                             <div class="c-font__inner">
                                 <div class="c-font__title">
                                     <strong>The Awesome Serif Family</strong>
                                     <span>by Nicky Laatz</span>
                                 </div>
                                 <div class="c-font__price">
                                     <span>1200</span>
                                 </div>
                             </div>
                        </article>
                     </div>
                </div>
            </div>
        </div>
        <div class="pagination popular-fonts__pagination">
            <div class="pagination__bullets popular-fonts__bullets">

            </div>
            
        </div>
    </div>
</section>