<section class="popular-users">
    <div class="container">
        <div class="title">
            <div class="title__words">
                <span>Популярное у пользователей</span>
                <strong>Трендовые категории</strong>
            </div>
            <a
							href="/"
							class="link">
							<span>Смотреть все</span>
							<svg
								xmlns="http://www.w3.org/2000/svg"
								viewBox="0 0 33 16"
								fill="none">
								<path
									d="M32.7071 8.70711C33.0976 8.31658 33.0976 7.68342 32.7071 7.29289L26.3431 0.928932C25.9526 0.538408 25.3195 0.538408 24.9289 0.928932C24.5384 1.31946 24.5384 1.95262 24.9289 2.34315L30.5858 8L24.9289 13.6569C24.5384 14.0474 24.5384 14.6805 24.9289 15.0711C25.3195 15.4616 25.9526 15.4616 26.3431 15.0711L32.7071 8.70711ZM0 9H32V7H0V9Z"
									fill="#383742" />
							</svg>
						</a>
        </div>
        <div class="popular-users__wrapper">
            <div class="popular-users__swiper swiper">
                <div class="popular-users__swiper-wrapper swiper-wrapper">
                    <div class="popular-users__slide swiper-slide">
                        <article  class="cat-product">
                            <div class="cat-product__number">
                                3 000+
                            </div>
                            <div class="cat-product__block">
                                <div class="cat-product__images">
                                    <div class="cat-product__img">
                                        <img src="../img/samples(mark)/8im9hulag7jymdlxsdk7v2udozgzm5c0.jpg" alt="">
                                    </div>
                                    <div class="cat-product__border">
                                        <img src="../img/profile-user/border-1.png" alt="">
                                    </div>
                                </div>
                                <div class="cat-product__title">
                                    <strong>Шрифты</strong>
                                    <span>Качественные, свежие шрифты</span>
                                </div>
                            </div>
                            <div class="cat-product__inner">
                                <div class="cat-product__like">
                                    <span>15K</span>
                                </div>
                                <div class="cat-product__views">
                                    <span>20K</span>
                                </div>
                                <a href="/" class="cat-product__arrow">
                                    <img src="./img/icon/arrownext.svg" alt="">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="popular-users__slide swiper-slide">
                        <article  class="cat-product">
                            <div class="cat-product__number">
                                3 000+
                            </div>
                            <div class="cat-product__block">
                                <div class="cat-product__images">
                                    <div class="cat-product__img">
                                        <img src="../img/profile-user/sample-2.png" alt="">
                                    </div>
                                    <div class="cat-product__border">
                                        <img src="../img/profile-user/border-2.png" alt="">
                                    </div>
                                </div>
                                <div class="cat-product__title">
                                    <strong>Шрифты</strong>
                                    <span>Качественные, свежие шрифты</span>
                                </div>
                            </div>
                            <div class="cat-product__inner">
                                <div class="cat-product__like">
                                    <span>15K</span>
                                </div>
                                <div class="cat-product__views">
                                    <span>20K</span>
                                </div>
                                <a href="/" class="cat-product__arrow">
                                    <img src="./img/icon/arrownext.svg" alt="">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="popular-users__slide swiper-slide">
                        <article  class="cat-product">
                            <div class="cat-product__number">
                                3 000+
                            </div>
                            <div class="cat-product__block">
                                <div class="cat-product__images">
                                    <div class="cat-product__img">
                                        <img src="../img/profile-user/sample-3.png" alt="">
                                    </div>
                                    <div class="cat-product__border">
                                        <img src="../img/profile-user/border-3.png" alt="">
                                    </div>
                                </div>
                                <div class="cat-product__title">
                                    <strong>Шрифты</strong>
                                    <span>Качественные, свежие шрифты</span>
                                </div>
                            </div>
                            <div class="cat-product__inner">
                                <div class="cat-product__like">
                                    <span>15K</span>
                                </div>
                                <div class="cat-product__views">
                                    <span>20K</span>
                                </div>
                                <a href="/" class="cat-product__arrow">
                                    <img src="./img/icon/arrownext.svg" alt="">
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="popular-users__slide swiper-slide">
                        <article  class="cat-product">
                            <div class="cat-product__number">
                                3 000+
                            </div>
                            <div class="cat-product__block">
                                <div class="cat-product__images">
                                    <div class="cat-product__img">
                                        <img src="../img/profile-user/sample-4.png" alt="">
                                    </div>
                                    <div class="cat-product__border">
                                        <img src="../img/profile-user/border-4.png" alt="">
                                    </div>
                                </div>
                                <div class="cat-product__title">
                                    <strong>Шрифты</strong>
                                    <span>Качественные, свежие шрифты</span>
                                </div>
                            </div>
                            <div class="cat-product__inner">
                                <div class="cat-product__like">
                                    <span>15K</span>
                                </div>
                                <div class="cat-product__views">
                                    <span>20K</span>
                                </div>
                                <a href="/" class="cat-product__arrow">
                                    <img src="./img/icon/arrownext.svg" alt="">
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination popular-users__pagination">
            <div class="pagination__bullets popular-users__bullets">

            </div>
            
        </div>
    </div>
</section>