<div class="product-lk">
    <div class="product-lk__title">
        Продукты
    </div>
    <div class="product-lk__content">
        <div class="product-lk__content-title">
            <strong>Добавьте продукт</strong>
            
        </div>
        <div class="product-lk__moderation">
            <span>модерация продукта 24 часа</span>
        </div>
        <form action="" class="product-form">
            <div class="product-card__title">
                <span>Название продукта</span>
                <div class="explanation">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 21"
                        fill="none">
                        <path
                            d="M0 10.002C0 15.5248 4.47715 20.002 10 20.002C15.5228 20.002 20 15.5248 20 10.002C20 4.47911 15.5228 0.00195312 10 0.00195312C4.47715 0.00195312 0 4.47911 0 10.002Z"
                            fill="#DE755E" />
                        <path
                            d="M9.65997 11.002V10.792C9.65997 10.112 10.08 9.75198 10.5 9.46198C10.91 9.18198 11.3199 8.82199 11.3199 8.16199C11.3199 7.24199 10.58 6.50195 9.65997 6.50195C8.73997 6.50195 8 7.24199 8 8.16199"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path
                            d="M9.65566 13.3926H9.66466"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <p class="explanation__info">
                        Рекомендации по названию
                    </p>
                </div>
            </div>
            <div class="product-form__wrap">
               
                <div class="product-form__inner">
                   
                  
                    <input type="text" placeholder="Шрифты с засечками">
                </div>
                
            </div>
            <div class="product-form__wrap">
                <div class="product-form__inner">
                    <label class="product-form__label-title" for="">Категория продукта</label>
                    <div class="select">
                        <input class="select-input" type="hidden" name="">
                        <div class="select-head">Шрифты</div>
                        <ul class="select-list">
                            <li class="select-item">ИП</li>
                            <li class="select-item">ООО</li>
                        </ul>
                    </div>
                </div>
                <div class="product-form__inner">
                    <label class="product-form__label-title" for="">Подкатегория продукта</label>
                    <div class="select">
                        <input class="select-input" type="hidden" name="">
                        <div class="select-head">С засечками</div>
                        <ul class="select-list">
                            <li class="select-item">ИП</li>
                            <li class="select-item">ООО</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="product-card__title">
                <span>Цены на лицензии</span>
                <div class="explanation">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 21"
                        fill="none">
                        <path
                            d="M0 10.002C0 15.5248 4.47715 20.002 10 20.002C15.5228 20.002 20 15.5248 20 10.002C20 4.47911 15.5228 0.00195312 10 0.00195312C4.47715 0.00195312 0 4.47911 0 10.002Z"
                            fill="#DE755E" />
                        <path
                            d="M9.65997 11.002V10.792C9.65997 10.112 10.08 9.75198 10.5 9.46198C10.91 9.18198 11.3199 8.82199 11.3199 8.16199C11.3199 7.24199 10.58 6.50195 9.65997 6.50195C8.73997 6.50195 8 7.24199 8 8.16199"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path
                            d="M9.65566 13.3926H9.66466"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <p class="explanation__info">
                        Цена зависит от того, где размещена фотография
                    </p>
                </div>
            </div>
            <div class="product-form__wrap product-form__wrap--two">
                <div class="product-form__inner">
                    <label class="product-form__label-title-min" for="">Частная лицензия</label>
                    <input type="text" placeholder="4 500₽">
                </div>
                <div class="product-form__inner">
                    <label class="product-form__label-title-min" for="">Расширенная лицензия</label>
                    <input type="text" placeholder="5 500₽">
                </div>
                <div class="product-form__inner">
                    <label class="product-form__label-title-min" for="">Коммерческая лицензия</label>
                    <input type="text" placeholder="7 500₽">
                </div>
                <div class="product-form__inner">
                    <label class="product-form__label-title-min" for="">Эксклюзив лицензия</label>
                    <input type="text" placeholder="14 500₽">
                </div>
            </div>
        </form>
        <div class="discount-product">
          
          


            <div class="product-card__title">
                <div class="product-card__title-wrap">
                    <strong>Добавьте скидку на продукт</strong>
                    <p>Скидка будет видна на карточке продукта</p>
                </div>
               
                <div class="explanation">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 21"
                        fill="none">
                        <path
                            d="M0 10.002C0 15.5248 4.47715 20.002 10 20.002C15.5228 20.002 20 15.5248 20 10.002C20 4.47911 15.5228 0.00195312 10 0.00195312C4.47715 0.00195312 0 4.47911 0 10.002Z"
                            fill="#DE755E" />
                        <path
                            d="M9.65997 11.002V10.792C9.65997 10.112 10.08 9.75198 10.5 9.46198C10.91 9.18198 11.3199 8.82199 11.3199 8.16199C11.3199 7.24199 10.58 6.50195 9.65997 6.50195C8.73997 6.50195 8 7.24199 8 8.16199"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                        <path
                            d="M9.65566 13.3926H9.66466"
                            stroke="white"
                            stroke-width="1.5"
                            stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                    <p class="explanation__info">
                        Вы можете добавить скидку только после<br> 72 часов с момента публикации
                    </p>
                </div>
            </div>
            <div class="discount-product__inner">
                <div class="discount-product__box">
                    10%
                </div>
                <div class="discount-product__box">
                    15%
                </div>
                <div class="discount-product__box">
                    20%
                </div>
                <div class="discount-product__box">
                    25%
                </div>
                <div class="discount-product__box">
                    30%
                </div>
                <div class="discount-product__box">
                    35%
                </div>
                <div class="discount-product__box">
                    40%
                </div>
                <div class="discount-product__box">
                    45%
                </div>
                <div class="discount-product__box">
                    50%
                </div>
                <div class="discount-product__box">
                    60%
                </div>
            </div>
        </div>
        <div class="product-form__wrap">
            <div class="product-form__inner">
              


                <div class="product-card__title">
                   <span>Совместимость</span>
                   
                    <div class="explanation">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 21"
                            fill="none">
                            <path
                                d="M0 10.002C0 15.5248 4.47715 20.002 10 20.002C15.5228 20.002 20 15.5248 20 10.002C20 4.47911 15.5228 0.00195312 10 0.00195312C4.47715 0.00195312 0 4.47911 0 10.002Z"
                                fill="#DE755E" />
                            <path
                                d="M9.65997 11.002V10.792C9.65997 10.112 10.08 9.75198 10.5 9.46198C10.91 9.18198 11.3199 8.82199 11.3199 8.16199C11.3199 7.24199 10.58 6.50195 9.65997 6.50195C8.73997 6.50195 8 7.24199 8 8.16199"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path
                                d="M9.65566 13.3926H9.66466"
                                stroke="white"
                                stroke-width="1.5"
                                stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        <p class="explanation__info">
                            Рекомендации по названию
                        </p>
                    </div>
                </div>
                <div class="select">
                    <input class="select-input" type="hidden" name="">
                    <div class="select-head">Adobe Photoshop, Adobe Photoshop, Adobe Photoshop</div>
                    <ul class="select-list">
                        <li class="select-item">ИП</li>
                        <li class="select-item">ООО</li>
                    </ul>
                </div>
                <div class="product-form__des">
                    *Поле необязательно для заполнения
                </div>
            </div>
            <div class="product-form__inner">
             


                <div class="product-card__title">
                    <span>Тип продукта</span>
                    
                     <div class="explanation">
                         <svg
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 21"
                             fill="none">
                             <path
                                 d="M0 10.002C0 15.5248 4.47715 20.002 10 20.002C15.5228 20.002 20 15.5248 20 10.002C20 4.47911 15.5228 0.00195312 10 0.00195312C4.47715 0.00195312 0 4.47911 0 10.002Z"
                                 fill="#DE755E" />
                             <path
                                 d="M9.65997 11.002V10.792C9.65997 10.112 10.08 9.75198 10.5 9.46198C10.91 9.18198 11.3199 8.82199 11.3199 8.16199C11.3199 7.24199 10.58 6.50195 9.65997 6.50195C8.73997 6.50195 8 7.24199 8 8.16199"
                                 stroke="white"
                                 stroke-width="1.5"
                                 stroke-linecap="round"
                                 stroke-linejoin="round" />
                             <path
                                 d="M9.65566 13.3926H9.66466"
                                 stroke="white"
                                 stroke-width="1.5"
                                 stroke-linecap="round"
                                 stroke-linejoin="round" />
                         </svg>
                         <p class="explanation__info">
                            Для чего предназначен ваш продукт
                         </p>
                     </div>
                 </div>
                <div class="select">
                    <input class="select-input" type="hidden" name="">
                    <div class="select-head">Веб-шрифт</div>
                    <ul class="select-list">
                        <li class="select-item">ИП</li>
                        <li class="select-item">ООО</li>
                    </ul>
                </div>
                <div class="product-form__des">
                    *Поле необязательно для заполнения
                </div>
            </div>
        </div>
        <div class="product-photo">
            <!--  --> 
            <div class="product-card__title">
                <span>Загрузите обложку продукта</span>
                
                 <div class="explanation">
                     <svg
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 21"
                         fill="none">
                         <path
                             d="M0 10.002C0 15.5248 4.47715 20.002 10 20.002C15.5228 20.002 20 15.5248 20 10.002C20 4.47911 15.5228 0.00195312 10 0.00195312C4.47715 0.00195312 0 4.47911 0 10.002Z"
                             fill="#DE755E" />
                         <path
                             d="M9.65997 11.002V10.792C9.65997 10.112 10.08 9.75198 10.5 9.46198C10.91 9.18198 11.3199 8.82199 11.3199 8.16199C11.3199 7.24199 10.58 6.50195 9.65997 6.50195C8.73997 6.50195 8 7.24199 8 8.16199"
                             stroke="white"
                             stroke-width="1.5"
                             stroke-linecap="round"
                             stroke-linejoin="round" />
                         <path
                             d="M9.65566 13.3926H9.66466"
                             stroke="white"
                             stroke-width="1.5"
                             stroke-linecap="round"
                             stroke-linejoin="round" />
                     </svg>
                     <p class="explanation__info">
                        Вы можете добавлять до 8 фотографий в формате<br> JPG, JPEG, PDF, PNG. Размер не больше 15 МБ
                     </p>
                 </div>
             </div>
            <form action="uploadImages.php" method="post" enctype="multipart/form-data" id="uploadImages">
            
               

                <label class="input-file">
                    <input type="file" id="addImages"  multiple="">
                         
                   
                </label>
            
                <input type="hidden" name="azaza" value="zazaza">
            
                <ul id="uploadImagesList">
                    <li class="item template">
                        <span class="img-wrap">
                            <img src="image.jpg" alt="">
                        </span>
                        <span class="delete-link" title="Удалить">Удалить</span>
                    </li>
                </ul>
            
                <div class="clear"></div>
            
               
            
            </form>
        </div>
        <div class="product-m-loading">
        

            <div class="product-card__title">
                <span>Загрузите продукт</span>
                
                 <div class="explanation">
                     <svg
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 21"
                         fill="none">
                         <path
                             d="M0 10.002C0 15.5248 4.47715 20.002 10 20.002C15.5228 20.002 20 15.5248 20 10.002C20 4.47911 15.5228 0.00195312 10 0.00195312C4.47715 0.00195312 0 4.47911 0 10.002Z"
                             fill="#DE755E" />
                         <path
                             d="M9.65997 11.002V10.792C9.65997 10.112 10.08 9.75198 10.5 9.46198C10.91 9.18198 11.3199 8.82199 11.3199 8.16199C11.3199 7.24199 10.58 6.50195 9.65997 6.50195C8.73997 6.50195 8 7.24199 8 8.16199"
                             stroke="white"
                             stroke-width="1.5"
                             stroke-linecap="round"
                             stroke-linejoin="round" />
                         <path
                             d="M9.65566 13.3926H9.66466"
                             stroke="white"
                             stroke-width="1.5"
                             stroke-linecap="round"
                             stroke-linejoin="round" />
                     </svg>
                     <p class="explanation__info">
                        Файлы должны быть в хорошем качестве
                     </p>
                 </div>
             </div>
            <!--  --> 
            <div class="input-file-row">
                <label class="input-file input-file--two">
                       <input type="file" name="file[]" multiple>		
                       <span></span>
                 </label>
                <div class="input-file-list"></div>  
            </div> 
        </div>
        <div class="product-m-teg">
    

            <div class="product-card__title">
                <span>Добавьте тэги</span>
                
                 <div class="explanation">
                     <svg
                         xmlns="http://www.w3.org/2000/svg"
                         viewBox="0 0 20 21"
                         fill="none">
                         <path
                             d="M0 10.002C0 15.5248 4.47715 20.002 10 20.002C15.5228 20.002 20 15.5248 20 10.002C20 4.47911 15.5228 0.00195312 10 0.00195312C4.47715 0.00195312 0 4.47911 0 10.002Z"
                             fill="#DE755E" />
                         <path
                             d="M9.65997 11.002V10.792C9.65997 10.112 10.08 9.75198 10.5 9.46198C10.91 9.18198 11.3199 8.82199 11.3199 8.16199C11.3199 7.24199 10.58 6.50195 9.65997 6.50195C8.73997 6.50195 8 7.24199 8 8.16199"
                             stroke="white"
                             stroke-width="1.5"
                             stroke-linecap="round"
                             stroke-linejoin="round" />
                         <path
                             d="M9.65566 13.3926H9.66466"
                             stroke="white"
                             stroke-width="1.5"
                             stroke-linecap="round"
                             stroke-linejoin="round" />
                     </svg>
                     <p class="explanation__info">
                        Тэги помогу пользователям быстрее найти ваш продукт
                     </p>
                 </div>
             </div>
            <!--  --> 
            <div class="product-m-teg__cashs">
                <div class="product-m-teg__cash">
                    шрифт без засечек
                </div>
                <div class="product-m-teg__cash">
                    шрифт без засечек
                </div>
                <div class="product-m-teg__cash">
                    декоративный шрифт
                </div>
                <div class="product-m-teg__cash">
                    шрифт без засечек
                </div>
            </div>
            <div class="tag-area">
               
                <input type="text" class="tag-input" id="tag-input" maxlength="50"  data-field="itemThree" />
                    <ul>
                    
                    </ul>
            </div>

            <div class="product-m-teg__numbers">
                <div class="product-m-teg__numbers-quantity" data-field="targetThree">0</div>
                <div class="product-m-teg__numbers-sum">
                   /50
                </div>
            </div>
        </div>
        <div class="product-m-desk">

            <div class="product-m-desk__wrapper">
              


                <div class="product-card__title">
                    <span>Добавьте описание продукта</span>
                    
                     <div class="explanation">
                         <svg
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 21"
                             fill="none">
                             <path
                                 d="M0 10.002C0 15.5248 4.47715 20.002 10 20.002C15.5228 20.002 20 15.5248 20 10.002C20 4.47911 15.5228 0.00195312 10 0.00195312C4.47715 0.00195312 0 4.47911 0 10.002Z"
                                 fill="#DE755E" />
                             <path
                                 d="M9.65997 11.002V10.792C9.65997 10.112 10.08 9.75198 10.5 9.46198C10.91 9.18198 11.3199 8.82199 11.3199 8.16199C11.3199 7.24199 10.58 6.50195 9.65997 6.50195C8.73997 6.50195 8 7.24199 8 8.16199"
                                 stroke="white"
                                 stroke-width="1.5"
                                 stroke-linecap="round"
                                 stroke-linejoin="round" />
                             <path
                                 d="M9.65566 13.3926H9.66466"
                                 stroke="white"
                                 stroke-width="1.5"
                                 stroke-linecap="round"
                                 stroke-linejoin="round" />
                         </svg>
                         <p class="explanation__info">
                            Описание должно содержать краткую информацию о продукте
                         </p>
                     </div>
                 </div>
                <textarea name="" id="" class="product-m-desk__textarea" maxlength="250" data-field="itemTwo" ></textarea>
                <div class="product-m-desk__numbers">
                    <div class="product-m-desk__numbers-quantity" data-field="targetTwo">0</div>
                    <div class="product-m-desk__numbers-sum">
                       /250
                    </div>
                </div>
            </div>
            <div class="product-m-desk__wrapper">
               

                <div class="product-card__title">
                    <span>Добавьте описание того, что получает пользователь</span>
                    
                     <div class="explanation">
                         <svg
                             xmlns="http://www.w3.org/2000/svg"
                             viewBox="0 0 20 21"
                             fill="none">
                             <path
                                 d="M0 10.002C0 15.5248 4.47715 20.002 10 20.002C15.5228 20.002 20 15.5248 20 10.002C20 4.47911 15.5228 0.00195312 10 0.00195312C4.47715 0.00195312 0 4.47911 0 10.002Z"
                                 fill="#DE755E" />
                             <path
                                 d="M9.65997 11.002V10.792C9.65997 10.112 10.08 9.75198 10.5 9.46198C10.91 9.18198 11.3199 8.82199 11.3199 8.16199C11.3199 7.24199 10.58 6.50195 9.65997 6.50195C8.73997 6.50195 8 7.24199 8 8.16199"
                                 stroke="white"
                                 stroke-width="1.5"
                                 stroke-linecap="round"
                                 stroke-linejoin="round" />
                             <path
                                 d="M9.65566 13.3926H9.66466"
                                 stroke="white"
                                 stroke-width="1.5"
                                 stroke-linecap="round"
                                 stroke-linejoin="round" />
                         </svg>
                         <p class="explanation__info">
                            Конкретная информация о том, что содержит ваш продукт
                         </p>
                     </div>
                 </div>
                <textarea name="" id="" class="product-m-desk__textarea" maxlength="250" data-field="item"></textarea>
                <div class="product-m-desk__numbers">
                    <div class="product-m-desk__numbers-quantity" data-field="target">0</div>
                    <div class="product-m-desk__numbers-sum">
                       /250
                    </div>
                </div>
            </div>

           
            <div class="product-m-desk__btn">Предварительный просмотр</div>
            <div class="product-m-desk__btns">
                <button class="red-btn"><span>Опубликовать</span></button>
                <a href="#" class="link">Сохранить черновик</a>
            </div>
        </div>
    </div>
</div>