<div class="profile-password">
    <div class="profile-password__content" >
        <div class="profile-password__title">
            <strong>Сменить пароль</strong>
        </div>
        <form action="" class="profile-password__form">
            <div class="profile-password__form-wrap">
                <div class="profile-password__form-inner">
                    <label for="">Введите текущий пароль</label>
                    <input type="text">
                    <div class="input-error">*Отсутствует заглавная буква</div>
                </div>
            </div>
            <div class="profile-password__form-wrap profile-password__form-wrap--two">
                <div class="profile-password__form-inner">
                    <label for="">Введите новый пароль</label>
                    <input type="text">
                    <div class="input-error">*Отсутствует заглавная буква</div>
                </div>
                <div class="profile-password__form-inner">
                    <label for="">Введите новый пароль повторно</label>
                    <input type="text">
                    <div class="input-error">*Отсутствует заглавная буква</div>
                </div>
            </div>
            <div class="profile-password__text">
                Не менее 8 символов. Пароль должен содержать хотя бы одно: заглавную букву, строчную букву,
                цифру и символ
            </div>
            <div class="profile-password__btns">
                <button class="red-btn"><span>Сохранить пароль</span></button>
                <a href="#">Забыли пароль?</a>
            </div>
        </form>
    </div>
    <div class="profile-password__content" style="display: none;" >
        <div class="profile-password__title">
            <strong>Уведомления</strong>
            <span>Рассылки на почту</span>
        </div>
        <div class="profile-password__inner">
            <div class="profile-password__inner-left">
                <label class="profile-password__checkbox ">
                    <input class="chk-all" type="checkbox" name="g1" >
                    <span class="profile-password__checkmark"></span>
                    <span class="profile-password__span">Выбрать все</span>
                </label>
                <label class="profile-password__checkbox">
                    <input type="checkbox" name="g1">
                    <span class="profile-password__checkmark"></span>
                    <span class="profile-password__span">Кто-то подписался на Вас</span>
                </label>
                <label class="profile-password__checkbox">
                    <input type="checkbox" name="g1" >
                    <span class="profile-password__checkmark"></span>
                    <span class="profile-password__span">Новое сообщение от техподдержки</span>
                </label>
                <label class="profile-password__checkbox">
                    <input type="checkbox" name="g1">
                    <span class="profile-password__checkmark"></span>
                    <span class="profile-password__span">Обновления в магазинах, на которые вы подписаны</span>
                </label>
                <label class="profile-password__checkbox">
                    <input type="checkbox" name="g1" >
                    <span class="profile-password__checkmark"></span>
                    <span class="profile-password__span">Новости, обновления от Stay Creative</span>
                </label>
            </div>
            <div class="profile-password__inner-right">
                <label class="profile-password__checkbox">
                    <input type="checkbox" name="g1">
                    <span class="profile-password__checkmark"></span>
                    <span class="profile-password__span">Бесплатные продукты</span>
                </label>
                <label class="profile-password__checkbox">
                    <input type="checkbox" name="g1">
                    <span class="profile-password__checkmark"></span>
                    <span class="profile-password__span">Новинки недели</span>
                </label>
                <label class="profile-password__checkbox">
                    <input type="checkbox" name="g1">
                    <span class="profile-password__checkmark"></span>
                    <span class="profile-password__span">Скидки, новые поступления</span>
                </label>
            </div>
           
            
        </div>
        <button class="red-btn"><span>Сохранить</span></button>
    </div>
</div>