<ul class="sort-popup">
  <li class="sort-popup__item">
    <input type="radio" name="sort" id="sort-new" checked />
    <label for="sort-new" class="sort-popup__label">
      <div class="sort-popup__checker checker checker">
        <img src="./img/icon/checker-icon-black.svg" alt="" />
      </div>
      <span class="sort-popup__title">Сначала новые</span>
    </label>
  </li>

  <li class="sort-popup__item">
    <input type="radio" name="sort" id="sort-popular" />
    <label for="sort-popular" class="sort-popup__label">
      <div class="sort-popup__checker checker">
        <img src="./img/icon/checker-icon-black.svg" alt="" />
      </div>
      <span class="sort-popup__title">Самые популярные</span>
    </label>
  </li>

  <li class="sort-popup__item">
    <input type="radio" name="sort" id="sort-7days" />
    <label for="sort-7days" class="sort-popup__label">
      <div class="sort-popup__checker checker">
        <img src="./img/icon/checker-icon-black.svg" alt="" />
      </div>
      <span class="sort-popup__title">Последние 7 дней</span>
    </label>
  </li>

  <li class="sort-popup__item">
    <input type="radio" name="sort" id="sort-30days" />
    <label for="sort-30days" class="sort-popup__label">
      <div class="sort-popup__checker checker">
        <img src="./img/icon/checker-icon-black.svg" alt="" />
      </div>
      <span class="sort-popup__title">Последние 30 дней</span>
    </label>
  </li>

  <li class="sort-popup__item">
    <input type="radio" name="sort" id="sort-365days" />
    <label for="sort-365days" class="sort-popup__label">
      <div class="sort-popup__checker checker">
        <img src="./img/icon/checker-icon-black.svg" alt="" />
      </div>
      <span class="sort-popup__title">Последние 365 дней</span>
    </label>
  </li>

  <li class="sort-popup__item">
    <input type="radio" name="sort" id="sort-alltime" />
    <label for="sort-alltime" class="sort-popup__label">
      <div class="sort-popup__checker checker">
        <img src="./img/icon/checker-icon-black.svg" alt="" />
      </div>
      <span class="sort-popup__title">Все время</span>
    </label>
  </li>
</ul>