<ul class="sort-popup">
  <li class="sort-popup__item" id="sort-checker">
    <button class="sort-popup__checker">
      <img
        src="./img/icon/checker-icon-black.svg"
        alt="" />
    </button>

    <p class="sort-popup__title">Сначала новые</p>
  </li>

  <li class="sort-popup__item" id="sort-checker">
    <button class="sort-popup__checker">
      <img
        src="./img/icon/checker-icon-black.svg"
        alt="" />
    </button>

    <p class="sort-popup__title">Самые популярные</p>
  </li>

  <li class="sort-popup__item" id="sort-checker">
    <button class="sort-popup__checker">
      <img
        src="./img/icon/checker-icon-black.svg"
        alt="" />
    </button>

    <p class="sort-popup__title">Последние 7 дней</p>
  </li>

  <li class="sort-popup__item" id="sort-checker">
    <button class="sort-popup__checker" >
      <img
        src="./img/icon/checker-icon-black.svg"
        alt="" />
    </button>

    <p class="sort-popup__title">Последние 30 дней</p>
  </li>

  <li class="sort-popup__item" id="sort-checker">
    <button class="sort-popup__checker">
      <img
        src="./img/icon/checker-icon-black.svg"
        alt="" />
    </button>

    <p class="sort-popup__title">Последние 365 дней</p>
  </li>

  <li class="sort-popup__item" id="sort-checker">
    <button class="sort-popup__checker">
      <img
        src="./img/icon/checker-icon-black.svg"
        alt="" />
    </button>

    <p class="sort-popup__title">Все время</p>
  </li>
</ul>