
main {
	padding-top: 31.6rem;
}

.all-btn {
	display: flex;
	width: 28.2rem;
	height: 7.7rem;
	background: #FFFFFF;
	border-radius: 10rem;
	padding: 2.6rem 3rem;
	span {
		font-style: normal;
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;
		letter-spacing: 0.02em;
		position: relative;
		padding-right: 5.2rem;
		&::before {
			position: absolute;
			content:'';
			width: 3.2rem;
			top: 0.8rem;
			height: 1.2rem;
			right: 0;
			background-image: url(../img/icon/arrownext.svg);
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
	}

}


.checkbox {
	display: block;
	position: relative;
	cursor: pointer;
	font-weight: 500;
	font-size: 2rem;
	line-height: 2.4rem;
	letter-spacing: 0.02em;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	padding-left: 5.6rem;
	padding-top: 0.55rem;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	a {
		color:#DE755E;
	}
	
  }
  
  .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	width: 4rem;
	height: 4rem;
	background: #E0E1E7;
	border-radius: 1rem;
	
  }
 
  

  
  .checkbox:hover input ~ .checkmark {
	background: #E0E1E7;
  }
  
  .checkbox input:checked ~ .checkmark {
	
	box-shadow: 8.59504px 8.59504px 20px rgba(56, 55, 66, 0.11);
  }



  
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  .checkbox input:checked ~ .checkmark:after {
	display: block;
  }
  
  .checkbox .checkmark:after {
	position: absolute;
	content:'';
	background-image: url(../img/icon/check.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	top: 50%;
	right: 0;
	transform: translate(-80%, -50%);
	
	width: 1.5rem;
	height: 1.5rem;
  }

.red-btn {
	width: auto;
	height: 7.7rem;
	padding:2.5rem 7.5rem ;
	background: #DE755E;
	border-radius: 10rem;
	display: flex;
    justify-content: center;
    align-items:center;
	span {
		font-weight: 700;
		font-size: 2rem;
		line-height: 2.5rem;
		color:#fff;
		text-align: center;
		letter-spacing: 0.02em;
	}
}


.title {
	display: flex;
	justify-content: space-between;
	align-items:center;
	position: relative;
	margin-bottom: 4.5em;
	
	&__words {
		span {
			display: block;
			font-style: normal;
			font-weight: 500;
			font-size: 2rem;
			line-height: 2.4rem;
			margin-bottom: 1.5rem;
			letter-spacing: 0.02em;
		}

		strong {
			font-family: 'Austin Cyr';
			font-style: normal;
			font-weight: 700;
			font-size: 7.3rem;
			line-height: 96%;
			letter-spacing: 0.02em;
			color: #383742;
		}
	}

	

	.link {
		margin-top: 1.1rem;
	}
}

.link {
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.4rem;
	letter-spacing: 0.02em;
	display: inline-block;
	color: #383742;
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	padding-right: 5.5rem;
	position: relative;
	&::before {
		position: absolute;
		content:'';
		width: 3.2rem;
		height: 1rem;
		background-image: url(../img/icon/arrownext.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		right: 0;
		top: 32%;
	}
	
}



.pagination {
	display: flex;
	align-items: center;
	justify-content: space-between;
	&__bullets {
		width: -webkit-fit-content!important;
		width: -moz-fit-content!important;
		width: fit-content!important;
		display: flex;
		align-items: center;
		.swiper-pagination-bullet {
			width: 1.4rem;
			height: 1.4rem;
			background: rgba(43, 47, 54, 0.3);
			-webkit-backdrop-filter: blur(25px);
			        backdrop-filter: blur(25px);
			opacity: 1;
		}

		.swiper-pagination-bullet-active {
			background: #2B2F36;
			width: 1.4rem;
			height: 1.4rem;
		}
	}

	&__arrows {
		display: flex;
	}

	&__prev,
	&__next {
		cursor: pointer;
		svg {
			width: 3.2rem;
			height: 1.6rem;
			
			transition: transform .5s ease;
		}

		&:hover {
			> svg {
			  transform: translateX(0.2rem);
			  transition: transform .5s ease;
			}
		}
		
	}

	&__prev {
		margin-right: 3rem;
		position: relative;
		padding-right: 3rem;
		&::before {
			position: absolute;
			content:'';
			right: 0;
			top: 0;
			width: 0.14rem;
			background: rgba(160, 161, 164, 0.3);
			height: 4.6rem;
			top: 50%;
            transform: translate(0, -50%);
		}
	}


	


	&__fraction {
		position: initial;
		width: 22.4rem;
		display: flex;
		font-size: 0em;
		
		
		.swiper-pagination-total  {
			display: block;
			font-family: 'Austin Cyr';
			font-style: normal;
			font-weight: 500;
			font-size: 2.2rem;
			line-height: 167%;
			color: #383742;
			

		}


		.swiper-pagination-current {
			font-family: 'Austin Cyr';
			font-style: normal;
			font-weight: 500;
			font-size: 2.2rem;
			line-height: 167%;
			color: #383742;
			position: relative;
			display: block;
			padding-right: 13.2rem;
			margin-right: 4.1rem;
			&::before {
				position: absolute;
				content:'';
				width: 9.1rem;
				height: 0.15rem;
				right: 0;
				top: 50%;
				transform: translate(0, -50%);
				background:rgba(160, 161, 164, 0.3);
			}
		}



		

	}
}


.swiper-wrapper {
	height: auto;
}


.select {
	
	position: relative;
	width: 40.5rem;
	height: 4.8rem;
	background: #EAEBEF;
	border-radius: 1rem;
	padding: 1.4rem 2.4rem;
	&:hover {
	   

		.header__select-head {
			color: #242424;
			transition: 0.2s
		}
	}
	
}

.select-head {
	width: 100%;
	max-width: 100%;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 125%;
	color: #000000;
	cursor: pointer;
   
}



.select-head::after {
	width: 1rem;
	height: 1rem;
	background-image: url(../img/icon/tringle.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
	right: 2.4rem;
	transform: translateY(50%);
	content: '';
	display: block;
	transition: .2s ease-in;
	top: 1.6rem;
}

.select-head.open::after {
	transform: translateY(50%) rotate(180deg);
}

.select-list {
	border-radius: 1rem;
	
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	width: 100%;
	max-height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	z-index: 2;
	margin: 0;
	padding: 0;
	background: #EAECED;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 125%;
	color: #000000;

	-ms-scroll-chaining: none;

	    overscroll-behavior: contain;
}



.select-list .select-item {
	position: relative;
	padding: 1rem 1.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	
	cursor: pointer;
	list-style-type: none;
	border-bottom: 0.1rem solid rgba(189, 191, 197, 0.4);
	&::before {
		position: absolute;
		content:'';
		width: 2.4rem;
		height: 1rem;
		right: 2rem;
		top: 50%;
		transform: translate(0, -50%);
	}
}

.select-list .select-item:last-child {
	border-bottom: none;
	text-transform: uppercase;
}

.select-list .select-item:hover {
	background-color: rgba(224, 229, 231, 0.5);
}



.input-error {
	margin-top: 0.7rem;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 125%;
	color: #DE755E;
	width: 100%;
	display: none;

	a {
		color:#383742;
	}
}

.input-error.active{
	display: block;
}




.input-error-active {
	background: #FFFFFF!important;
	border: 0.2rem solid #DE755E!important;
	color: #DE755E!important;
	box-shadow: 8.59504px 8.59504px 20px rgba(222, 117, 94, 0.11)!important;
}