*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 0.520835vw; // на разрешении 1920 0.520835vw === 10px
    -webkit-animation: bugfix infinite 1s;
    line-height: 1.3;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    -webkit-animation: bugfix infinite 1s;
    line-height: 1.3;
    margin: 0;
    padding: 0;
    color: #383742;
    background-color: #EAEBEF;
    background: #EAEBEF;
}

input,
textarea {
    -webkit-animation: bugfix infinite 1s;
    line-height: inherit;
    margin: 0;
    padding: 0;
}
a {
    color: unset;
}
a,
a:hover {
    text-decoration: none;
}

button,
input,
a,
textarea {
    outline: none;
    cursor: pointer;
    font: inherit;
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: inherit;
    margin: 0;
    padding: 0;
}
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

button {
    border: none;
    color: inherit;
    font: inherit;
    text-align: inherit;
    padding: 0;
    background-color: inherit;
}

.btn {
    min-width: auto;
    min-height: auto;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: unset;
    padding: 0;
    color: unset;
    height: auto;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    max-width: none;
    font: inherit;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 180rem;
    margin: 0 auto;
}

.hidden {
    overflow: hidden;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@media (max-width: 48em) {
    html {
        font-size: 5px;
        font-size: 1.5625vw;
        font-size: calc((100/428) * 5vw); // где 320 это ширина моб версии макета
        -webkit-text-size-adjust: none;
    }

    body {
        -webkit-text-size-adjust: none;
    }

    .container {
        padding: 0 3rem; // в моб версии отступ от края задаем для всех контейнеров, а там где не нужно можем точечно убрать
        width: 100%;
    }
}