img {
  -o-object-fit: contain;
  object-fit: contain;
}

.categories {
  padding: 0rem 6rem 0rem;
}
.categories__title {
  font-family: "Austin Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 7.3rem;
  line-height: 7rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: #383742;
  width: 156rem;
  margin: 0 auto;
  margin-bottom: 6rem;
}
.categories__hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 19rem;
}
.categories__hero-img {
  width: 71.6rem;
}
.categories__hero-img img {
  width: 100%;
}
.categories__hero-sub {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
}
.categories__product-stats {
  font-family: "Austin Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 7.3rem;
  line-height: 7rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: #383742;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.categories__product-stats span {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: #383742;
  margin-top: 0.5rem;
}
.categories__profile-img {
  width: 12.3rem;
  height: 12.3rem;
  border-radius: 100rem;
  background-color: #EAEBEF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories__profile-img img {
  border-radius: 100rem;
  width: 11.3rem;
  height: 11.3rem;
}
.categories__profile-img:not(:first-child) {
  margin-left: -2.8rem;
}
.categories__people {
  display: flex;
  gap: 2.3rem;
  align-items: center;
}
.categories__people-container {
  display: flex;
}
.categories__people-title {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  color: #383742;
}
.categories__hero-left-side {
  width: 49rem;
  display: flex;
  flex-direction: column;
  gap: 7.8rem;
}
.categories__product-stats-wrapper {
  display: flex;
  gap: 13.8rem;
}
.categories__hero-right-side {
  width: 48.2rem;
  display: flex;
  flex-direction: column;
  gap: 7.3rem;
}
.categories__product-info {
  display: flex;
  align-items: center;
  gap: 1.3rem;
}
.categories__product-info span {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  color: #383742;
}
.categories__hero-year {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #383742;
}
.categories__product-img {
  width: 11rem;
  border-radius: 100rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories__product-img img {
  width: 100%;
}
.categories__hero-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  width: 100%;
  background-color: #fff;
  border-radius: 50rem;
  padding-top: 2.9rem;
  padding-bottom: 2.6rem;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
}/*# sourceMappingURL=categories.css.map */