@charset "UTF-8";
.charges__lists {
  display: flex;
  border-bottom: 0.15rem solid rgba(160, 161, 164, 0.3);
}
.charges__item {
  margin-right: 9rem;
  color: #A0A1A4;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 1.2rem;
  cursor: pointer;
}
.charges__item::before {
  position: absolute;
  content: "";
  bottom: -0.2rem;
  width: 100%;
  height: 0.3rem;
}
.charges__item.active {
  color: #383742;
}
.charges__item.active::before {
  background: #DE755E;
}
.charges__block {
  display: none;
  padding-top: 6rem;
}
.charges__block.active {
  display: block;
}
.charges__menu {
  display: flex;
  margin-bottom: 3.3rem;
}
.charges__red {
  background-image: url(../img/charges/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 87rem;
  height: 14.8rem;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
  padding-right: 2.8rem;
  margin-bottom: 10rem;
}
.charges__red-wrapper {
  display: flex;
  align-items: center;
}
.charges__red-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  width: 8.9rem;
  height: 8.9rem;
  margin-right: 3.6rem;
}
.charges__red-icon img {
  width: 4rem;
  height: 4rem;
}
.charges__red-title {
  color: #FFF;
  margin-bottom: 0.4rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}
.charges__red-price {
  position: relative;
  color: #FFF;
  font-size: 3.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.74px;
  padding-right: 1.3rem;
  width: fit-content;
}
.charges__red-price::before {
  position: absolute;
  content: "₽";
  font-size: 2rem;
  right: 0;
  top: 0.3rem;
}
.charges__red-date {
  color: #E0E1E7;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
}
.charges__red-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24.7rem;
  height: 7.7rem;
  border-radius: 100rem;
  background: #FFF;
  color: #DE755E;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}
.charges__title {
  margin-bottom: 3.2rem;
  font-family: "Austin Cyr";
  font-size: 3.7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.7rem;
  letter-spacing: 0.74px;
}
.charges__date {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.7rem 3rem;
  border-radius: 9.5rem;
  background: #FFF;
  color: #A0A1A4;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.4px;
  max-width: 29.8rem;
}
.charges__date span {
  display: block;
  position: relative;
}
.charges__date span:first-child {
  margin-right: 1.2rem;
  padding-right: 3.2rem;
}
.charges__date span:first-child::before {
  position: absolute;
  content: "";
  width: 2rem;
  background: #383742;
  height: 0.1rem;
  top: 50%;
  right: 0;
}
.charges .select-global-div {
  display: block;
}
.charges .select-global-div--first {
  margin-left: auto;
  margin-right: 2rem;
}
.charges .select-global-div--two .select-global {
  width: 31.7rem;
}
.charges .select-global-div--two .new-select {
  width: 31.7rem;
}
.charges .select-global {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10.3rem;
  position: relative;
  width: 29.8rem;
  height: 7.7rem;
}
.charges .new-select {
  display: flex;
  padding-left: 3rem;
  align-items: center;
  background: #FFFFFF;
  border-radius: 10.3rem;
  position: relative;
  width: 29.8rem;
  height: 7.7rem;
  position: relative;
  cursor: pointer;
  user-select: none;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
}
.charges .new-select::before {
  transition: all 0.2s;
  position: absolute;
  content: "";
  width: 1.6rem;
  height: 1.2rem;
  background-image: url(../img/icon/Polygon.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 3.5rem;
  top: 3.3rem;
}
.charges .new-select.on::before {
  transition: all 0.2s;
  transform: rotate(180deg);
}
.charges .select-global--big .new-select {
  width: 31.7rem;
}
.charges .new-select__list {
  position: absolute;
  top: 9rem;
  left: 0;
  border-radius: 5rem;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none;
}
.charges .new-select__list.on {
  display: block;
}
.charges .new-select__item span {
  display: block;
  padding: 2rem 3rem;
  font-size: 2rem;
  line-height: 2.5rem;
}
.charges .new-select__item span:hover {
  color: #DE755E;
}
.charges__sections {
  width: 100%;
  color: #A0A1A4;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  border-radius: 2rem;
  background: #FFF;
  margin-bottom: 1.5rem;
  height: 6.3rem;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-left: 3.8rem;
  padding-right: 5.5rem;
}
.charges__red-btn {
  width: 27.2rem;
  height: 7.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100rem;
  background: #fff;
}
.charges__red-btn span {
  color: #DE755E;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
}
.charges .select-global-div--mob {
  display: none;
}
.charges .select-global-div--three {
  margin-left: auto;
  margin-right: 1.8rem;
}
.charges .select-global-div--three .select-global {
  width: 21.4rem;
}
.charges .select-global-div--desk {
  margin-right: 2rem;
}
.charges__total {
  width: 100%;
  color: #fff;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  border-radius: 2rem;
  background: #DE755E;
  margin-bottom: 1.5rem;
  height: 11rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding-left: 3.8rem;
  padding-right: 5.5rem;
  padding-top: 3.8rem;
}
.charges__total-price {
  display: flex;
  justify-content: flex-end;
}
.charges__total-price strong {
  display: none;
}
.charges__total-price span {
  position: relative;
  display: block;
  padding-right: 1rem;
  width: fit-content;
}
.charges__total-price span::before {
  position: absolute;
  content: "₽";
  font-size: 1.6rem;
  right: 0;
}
.charges__total-price .no-data {
  padding: 0;
}
.charges__total-price .no-data::before {
  display: none;
}
.charges__total-title {
  width: 10.4rem;
}
.charges__total-sum {
  text-align: center;
}
.charges__total-sum strong {
  display: none;
}
.charges__total--end {
  grid-template-columns: repeat(2, 1fr);
}/*# sourceMappingURL=charges.css.map */