.collections {
  margin-bottom: 19.1rem;
}
.collections .container {
  width: 180.1rem;
}
.collections .title {
  display: flex;
  justify-content: center;
  margin-bottom: 6.5rem;
}
.collections__right {
  display: flex;
  flex-wrap: wrap;
  margin-left: 6rem;
}
.collections__wrapper {
  display: flex;
  justify-content: space-between;
}
.collections__one {
  width: 56rem;
  height: 73.1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
}
.collections__one::before {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../img/collections/arrowwhite.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 4rem;
  bottom: 4rem;
}
.collections__one-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.collections__one-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
}
.collections__one-title {
  color: #FFFFFF;
  margin-top: auto;
  padding-left: 2.8rem;
  padding-bottom: 3rem;
}
.collections__one-title span {
  display: block;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  margin-bottom: 1.6rem;
}
.collections__one-title strong {
  display: block;
  font-family: "Austin Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 100%;
  letter-spacing: 0.02em;
}
.collections__one-rub {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5rem;
  border-radius: 10rem;
  height: 5.1rem;
  background: #fff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  top: 4.3rem;
  right: 3.8rem;
}
.collections__two {
  width: 40.6rem;
  height: 33.5rem;
  margin-right: 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
  margin-bottom: 6rem;
}
.collections__two::before {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../img/collections/arrowwhite.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 4rem;
  bottom: 4rem;
}
.collections__two-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.collections__two-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
}
.collections__two-title {
  color: #FFFFFF;
  margin-top: auto;
  padding-left: 2.8rem;
  padding-bottom: 3rem;
}
.collections__two-title span {
  display: block;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  margin-bottom: 1.6rem;
}
.collections__two-title strong {
  display: block;
  font-family: "Austin Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 100%;
  letter-spacing: 0.02em;
}
.collections__three {
  width: 71.5rem;
  height: 33.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
}
.collections__three::before {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../img/collections/arrowwhite.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 4rem;
  bottom: 4rem;
}
.collections__three-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.collections__three-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
}
.collections__three-title {
  color: #FFFFFF;
  margin-top: auto;
  padding-left: 2.8rem;
  padding-bottom: 3rem;
}
.collections__three-title span {
  display: block;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  margin-bottom: 1.6rem;
}
.collections__three-title strong {
  display: block;
  font-family: "Austin Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 100%;
  letter-spacing: 0.02em;
}
.collections__four {
  width: 71.5rem;
  height: 33.6rem;
  margin-right: 6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
}
.collections__four::before {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../img/collections/arrowwhite.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 4rem;
  bottom: 4rem;
}
.collections__four-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.collections__four-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
}
.collections__four-title {
  color: #FFFFFF;
  margin-top: auto;
  padding-left: 2.8rem;
  padding-bottom: 3rem;
}
.collections__four-title span {
  display: block;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  margin-bottom: 1.6rem;
}
.collections__four-title strong {
  display: block;
  font-family: "Austin Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 100%;
  letter-spacing: 0.02em;
}
.collections__four-rub {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17.5rem;
  border-radius: 10rem;
  height: 5.1rem;
  background: #fff;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.02em;
  top: 4.3rem;
  right: 3.8rem;
}
.collections__five {
  width: 40.5rem;
  height: 33.6rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 5rem;
}
.collections__five::before {
  position: absolute;
  content: "";
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(../img/collections/arrowwhite.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 4rem;
  bottom: 4rem;
}
.collections__five-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.collections__five-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5rem;
}
.collections__five-title {
  color: #FFFFFF;
  margin-top: auto;
  padding-left: 2.8rem;
  padding-bottom: 3rem;
}
.collections__five-title span {
  display: block;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  margin-bottom: 1.6rem;
}
.collections__five-title strong {
  display: block;
  font-family: "Austin Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 100%;
  letter-spacing: 0.02em;
}/*# sourceMappingURL=collections.css.map */