@charset "UTF-8";
.lk-m {
  margin-top: 8rem;
  margin-bottom: 13rem;
  /* Focus */
  /* Disabled */
  /* Список файлов */
}
.lk-m__wrapper {
  display: flex;
}
.lk-m__left {
  margin-right: 6.7rem;
}
.lk-m__right {
  width: 100%;
}
.lk-m__title {
  font-family: "Austin Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 7.3rem;
  line-height: 96%;
  letter-spacing: 0.02em;
  color: #383742;
  margin-bottom: 6rem;
}
.lk-m__box {
  width: 133.5rem;
  background: #ffffff;
  border-radius: 5.5rem;
  padding: 6rem;
}
.lk-m .red-btn {
  width: 22rem;
}
.lk-m__start-content {
  padding-top: 1rem;
  display: none;
}
.lk-m__start-content--one.active {
  display: block;
}
.lk-m__start-content--two.active {
  display: block;
}
.lk-m__start-content--three.active {
  display: block;
}
.lk-m__start-content--four.active {
  display: block;
}
.lk-m__numbers {
  display: flex;
  padding-left: 3rem;
  margin-bottom: 6rem;
}
.lk-m__numbers--two {
  padding-left: 18rem;
}
.lk-m__prev {
  background: #EAEBEF;
  border-radius: 50%;
  width: 7.7rem;
  height: 7.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.lk-m__prev svg {
  width: 3rem;
  height: 1.5rem;
}
.lk-m__numbers-box-number {
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #de755e;
  position: relative;
  margin-right: 21rem;
  margin-bottom: 1.2rem;
}
.lk-m__numbers-box-number::before {
  position: absolute;
  content: "";
  background-image: url(../img/icon/trinred.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1rem;
  height: 0.9rem;
  top: -1rem;
}
.lk-m__numbers-box-number::after {
  position: absolute;
  content: "";
  height: 0.2rem;
  background: #e0e1e7;
  width: 25rem;
  right: -25rem;
}
.lk-m__numbers-box-number span {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.lk-m__numbers-box-number.non {
  margin-right: 0;
}
.lk-m__numbers-box-number.non::after {
  display: none;
}
.lk-m__numbers-box-number.non-active {
  background: #ffffff;
  border: 0.2rem solid #e0e1e7;
  margin-right: 20;
}
.lk-m__numbers-box-number.non-active::before {
  display: none;
}
.lk-m__numbers-box-number.non-active span {
  color: #e0e1e7;
}
.lk-m__numbers-box-number.ready::before {
  display: none;
}
.lk-m__numbers-box-number.no-after::after {
  display: none;
}
.lk-m__numbers-box-number.no-after::after {
  display: none;
}
.lk-m__numbers-box-number.no-before::before {
  display: none;
}
.lk-m__numbers-box-number.no-before::after {
  background: #de755e;
}
.lk-m__numbers-box-text {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: #383742;
  margin-left: -6rem;
}
.lk-m__numbers-box-text.non {
  margin-left: -8rem;
}
.lk-m__numbers-box-text.non-active {
  color: #e0e1e7;
}
.lk-m__numbers-box-text.no-after {
  margin-left: -12rem;
}
.lk-m__start-wrap {
  display: flex;
  margin-bottom: 4rem;
}
.lk-m__start-wrap:last-child {
  margin-bottom: 5.2rem;
}
.lk-m__start-left {
  margin-right: 3.6rem;
  width: 83rem;
}
.lk-m__start-title {
  font-family: "Austin Cyr";
  font-style: normal;
  font-weight: 700;
  font-size: 3.7rem;
  line-height: 100%;
  margin-bottom: 5.2rem;
  letter-spacing: 0.02em;
}
.lk-m__start-inner {
  margin-right: 2rem;
}
.lk-m__start-inner .select {
  width: 83rem;
}
.lk-m__start-inner label {
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  display: block;
  margin-bottom: 1.2rem;
  color: #383742;
}
.lk-m__start-inner input {
  position: relative;
  width: 40.5rem;
  height: 4.8rem;
  background: #eaebef;
  border-radius: 1rem;
  padding: 1.4rem 2.4rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 125%;
  color: #000000;
  border: none;
}
.lk-m__start-inner:last-child {
  margin-right: 0;
}
.lk-m__start-inner--sel {
  margin-right: 0;
  margin-bottom: 4rem;
}
.lk-m__start-inner--sel input {
  width: 100%;
  min-width: 100%;
}
.lk-m__start-inner--small input {
  width: 26.3rem;
}
.lk-m__start-inner--big input {
  width: 83rem;
  min-width: 100%;
}
.lk-m__start-sel-text {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 1.2rem;
  line-height: 125%;
  color: #a0a1a4;
}
.lk-m .input-file-list-remove {
  position: absolute;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background-image: url(../img/delfile.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  right: 2.4rem;
  font-size: 0;
}
.lk-m__start-description {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  margin-bottom: 2.4rem;
  color: #383742;
}
.lk-m .input-file-row {
  display: inline-block;
  margin-bottom: 5.2rem;
}
.lk-m .input-file {
  position: relative;
  display: inline-block;
}
.lk-m .input-file span {
  background-image: url(../img/lk-m/dow.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 81rem;
  height: 22.1rem;
  border-radius: 5.5rem;
  display: block;
}
.lk-m .input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.lk-m .input-file-list-item {
  margin-top: 3.2rem;
  width: 100%;
  background: #de755e;
  border: 0.1rem solid #de755e;
  border-radius: 4rem;
  padding: 1.4rem 2.4rem;
  position: relative;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  color: #fff;
}
.lk-m .input-file input[type=file]:disabled + span {
  background-color: #eee;
}
.lk-m__start-search {
  position: relative;
}
.lk-m__start-search input {
  width: 100%;
}
.lk-m__start-search-btn {
  position: absolute;
  width: 2rem;
  height: 2rem;
  right: 2.4rem;
  top: 50%;
  transform: translate(0, -50%);
}
.lk-m__search-show {
  display: none;
  position: absolute;
  z-index: 2;
  width: 83rem;
  background: #fff;
  filter: drop-shadow(10.2px 10.2px 31px rgba(160, 161, 164, 0.19));
  border-radius: 1rem;
  margin-top: 1rem;
  padding: 2.5rem;
}
.lk-m__search-show li {
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: #383742;
  margin-bottom: 1.2rem;
}
.lk-m__search-show li:first-letter {
  color: #DE755E;
}
.lk-m__checkbox {
  margin-bottom: 6.2rem;
}
.lk-m__examination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.lk-m__examination-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lk-m__mob-title {
  display: none;
}
.lk-m__start-inner--search {
  margin-right: 0;
  margin-bottom: 4rem;
}/*# sourceMappingURL=lk-m.css.map */